/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

/*
.portlet.box > .portlet-title > .caption {
    padding: 8px 0 8px 0; 
	font-size: 14px;
}
.portlet > .portlet-title {  
    min-height: 34px;
}
*/

.dragHandle{
	cursor:move;	
}

span.validation-advice {
    color: #a94442;
	margin-top: 5px;
    margin-bottom: 5px;
}
.form-control.validation-advice{
	border-color:#a94442;
}
.req{
	color:#a94442;
}
.uploadify-button {
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .uploadify:hover .uploadify-button {
        background-color: transparent;
    }
	
	
.grid table {
width: 100%;
}
.grid th, .grid td {
padding: 2px 4px;
}
.grid table td {
font: 12px/1.5em;
border-color: #DADFE0;
border-style: solid;
border-width: 0 1px 1px 0;
}



.grid tbody {
background: none repeat scroll 0 0 #FFFFFF;
}
.grid tr.even, .grid tr.even tr {
background: none repeat scroll 0 0 #F6F6F6;
}
.grid tr.on-mouse {
background: none repeat scroll 0 0 #FCF5DD;
cursor: pointer;
}

.grid tr.headings th.last {
border-right: 0 none;
}

.grid tr.filter {
background: url("../images/filter_row_bg.gif") repeat-x 0 0 #E3EFF1;
cursor: default;
}
.grid tr.filter th {
border-color: #BDBDBD;
border-style: solid;
border-width: 0 1px 1px 0;		
padding-bottom: 5px;
padding-top: 5px;
white-space: normal;
}
.grid tr.filter th.last {
border-right: 0 none;
}
.grid tr.filter input.input-text {
width: 85%;
}
.grid tr.filter select {
width: 100%;
}
.grid tr.filter .range input {
float: left;
margin-top: 0;
width: 50px !important;
}

.grid #list {
	margin: 0;
	padding:0;
	list-style-type: none;
}


.grid #list li {
	float:left; 
	margin:2px; 
	padding:4px;
	width:118px; 
	height:90px;
	position: relative;
}

.grid #list li .handle{ 
	width:118px; 
	height:90px; 
	border:solid 1px #999; 
	text-align:center; 
	position:absolute;
	overflow:hidden;
}

.grid #list li .del{ 
	width:19px; 
	height:19px; 
	position:absolute;
	top:6px;
	right:5px;
	background: #fff url("../img/remove.gif") no-repeat 3px 3px;
	padding:3px;
	cursor:pointer;
}
.grid #list li .edit{ 
	width:19px; 
	height:19px; 
	position:absolute;
	top:6px;
	right:24px;
	background: #fff url("../img/edit_icon.gif") no-repeat 2px 2px;
	cursor:pointer;
	z-index:1;
	padding:2px;
}
.grid #list li .number{ 
	position:absolute;
	margin:2px;
	padding:5px;
	background-color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:10px;
	color:#999;
	
}

.grid.bt #list li .del{left: 30px;top: 71px;}
.grid.bt #list li .edit{left: 8px;top: 71px;}
.grid.bt #list li .edit a{float:left; width:14px; height:14px; overflow:hidden; display:block; text-indent:-999px;}


.table-add-time-slot{
    width: 400px;
}

.rp-wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-assign-vehicle{
    background-color: #e40602;
    color: #fff;
    text-decoration: none;
}

.connectedSortable{
    
}
.connectedSortable .dd-action{
    position: absolute;
    top: 1px;
    right: 0;
}
.connectedSortable .count{
    display: inline-block;
    width: 30px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-msg{
  background-color:#ff3333;
  color:#fff;
}

.success-msg{
  background-color: #2eb82e;
  color:#fff;
}


/* Calender Css*/


.calander-col{
	width: 14.2857142857%;
	float: left;
	padding:20px;
	min-height: 50px;
}

.calander-row .cal-date{
	cursor: pointer;
}

.calander-row .cal-date:hover{
	background-color:  #555;
	color: #fff;
}

.calander-row{
	border-top: 1px solid #ddd;

}

.calander-row:last-child{
	border-bottom: 1px solid #ddd;
}

.calander-col:not(:first-child){
	border-left: 1px solid #ddd;
}

.sunday-col{
	background-color:#f3565d;
	color:#fff;
}

.saturday-col{
	background-color: #999;
	color:#fff;
}

.calander-row .sunday-col,.calander-row .saturday-col{
	background-color:#eeeeee;
	color:#333;	
}

.calander {
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
.ng-animate {
 -webkit-animation:spin 4s linear;
    -moz-animation:spin 4s linear;
    animation:spin 4s linear; 
}

.has-val{
	background-color: #00b33c;
	color:#fff;
}

.disabled{
	color:#c1c1c1;
}
/* End Caledner Css */

/* Gallery Css */

.img-visibel{
	height:400px;
	overflow: hidden;
	background-repeat:no-repeat;
    background-position:center;
	background-size:100% 100%;
}

.image-option{
	height: inherit;
	width: inherit;
	background-color: #000;
	opacity: 0.5;
	visibility: hidden;
}

.image-option .center-block{
	padding-top: 40%;
	text-align: center;
}

.image-option .center-block .glyphicon{
	color: #fff;
	font-size: 50px;
	cursor: pointer;

}
/* End Gallery css */


.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

.seatSelectionWrap .block-plan-container .screenImage {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/screen.svg);
    background-position-x: -2px;
    height: 100px;
    margin: auto;
}