/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	/*box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;*/
	background:#f7f7f7;
	border:1px solid #999;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:5px 15px;
	display:inline-block;
	background:#f5f5f6;
	border-bottom:1px solid #999;
	transition:all linear 0.15s;
	/*text-shadow:0px 1px 0px #1a1a1a;*/
	font-size:13px;
	color:#000;
}

.accordion-section-title.active, .accordion-section-title:hover {
	background:#E6E6E6;
	/* Type */
	text-decoration:none;
	color:#000;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}

.block_industry{float:left; width:25%; margin-bottom:3px;}