/* Reset ================================================================================= */
* {
	margin: 0;
	padding: 0;
}
/*
@font-face {
	font-family: 'Oxygen-Regular';
	src: url('../fonts/oxygenregular.eot');
	src: url('../fonts/oxygenregular.eot?#iefix') format('embedded-opentype'),  url('../fonts/oxygenregular.woff') format('woff'),  url('../fonts/oxygenregular.ttf') format('truetype'),  url('../fonts/oxygenregular.svg#oxygenregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
* {
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background-color: #fff;
	color: #333333;
}
h1 {
	font-size: 24px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	color: #222222;
}
a {
	color: #507ca0;
}
._hide {
	visibility: hidden;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select, .select-multiple {
	border: 1px solid #d3d3d3;
	color: #222222;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	padding: 4px;
	font-family: Arial, sans-serif;
}
input[type="text"], input[type="password"], input[type="email"] {
	height: 36px;
}
select option {
	padding: 4px 5px;
	font-size: 12px;
}
input:focus, textarea:focus, select:focus, .select-multiple:focus {
	border-color: rgba(82, 253, 255, 0.8);
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 8px rgba(82, 253, 255, 0.6);*/
	-webkit-box-shadow: 0px 0px 8px rgba(82, 253, 255, .6);
	box-shadow: 0px 0px 8px rgba(82, 253, 255, .6);
	outline: 0 none;
}
.input-tiny {
	width: 30px !important;
}
.input-mini {
	width: 60px !important;
}
.input-small {
	width: 90px !important;
}
.input-xsmall {
	width: 107px !important;
}
.input-medium {
	width: 150px !important;
}
.input-large {
	width: 210px !important;
}
.input-xlarge {
	width: 400px !important;
}
.input-xxlarge {
	width: 530px !important;
}
.input-xxxlarge {
	width: 715px !important;
}
a.business-name {
	text-decoration: none;
	overflow: hidden;
	display: block;
}
.mheader {
	text-align: center;
	padding-bottom: 10px;
	width: 100%;
}
.forgotPassword {
	color: #adadad;
}
.jqTransformInputWrapper_focus, .jqTransformSelectWrapper_focus, .jqTransformRadio_focus {
	border-color: rgba(82, 253, 255, 0.8);
	-webkit-box-shadow: 0px 0px 8px rgba(82, 253, 255, .6);
	box-shadow: 0px 0px 8px rgba(82, 253, 255, .6);
	outline: 0 none;
}
ul.lst {
	list-style: disc;
	padding-left: 10px;
}
.btn, .ui-dialog .ui-dialog-buttonpane button {
	border-colors: none;
	background: #E9E9E9;
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align: baseline;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	border:none;
}

.save, .btn-green {
	background: #26a69a;
	color: #fff;
}
.save:hover, .btn-green:hover {
	background: #b1d656;

}

.btn-red {
	background: #c45858;
	color: #fff;
}
.btn-blue {
	background: #74b9da;
	color: #fff;
}
.btn-black {
	background: #000000;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn-yellow {
	background: #f6e6b4;
	color: #fff;
}
.btn-small, .ui-dialog .ui-dialog-buttonpane button {
	padding: 2px 10px;
	font-size: 12px;
}
.btn-small span a {
	color: #444444;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
.req {
	color: #FF0000;
	font-size: 11px;
}
.clear {
	clear: both;
}
.a-left {
	text-align: left;
}
.a_right {
	text-align: right;
}
.actioon-r {
	float: right;
}
.actioon-l {
	float: left;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.side-col {
	font-family: 'Lato', sans-serif;
	position: absolute;
	left: 0;
	top: 125px;
	width: 190px;
	border: 1px solid #CBCBCB;
	border-left: none;
	background-color: #f5f5f6;
	padding: 5px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
div.side-col h3 {
	padding: 5px 0 10px 10px;
	font-weight: normal;
	font-size: 15px;
}
ul.tab_nav, ul.tab_nav a {
}
ul.tab_nav {
	border-top: 1px solid #BEBEBE;
	width: 180px;
}
ul.tab_nav li a {
	background: none;
	border-top: 1px solid #BEBEBE;
	padding: 0;
}
ul.tab_nav li.active a span, ul.tab_nav li.active a:hover span {
	font-weight: bold;
}
ul.tab_nav, ul.tab_nav a {
}
ul.tab_nav a, ul.tab_nav a:hover {
	color: #000000;
}
ul.tab_nav li.tab-error a {
	color: #F00;
	font-style: italic;
	font-weight: bold;
}
ul.tab_nav li.not-completed a {
	background: url(../images/info.png) no-repeat 100% 5px;
}
ul.tab_nav a, ul.tab_nav a:hover {
	text-decoration: none;
}
ul.tab_nav span {
	cursor: pointer;
	padding: 0.3em 0.5em 0.28em 1.5em;
}
ul.tab_nav a, ul.tab_nav span {
	display: block;
}
ul.tab_nav span .error-advice {
	margin: 0;
	padding: 0;
	width: 30px;
	height: 13px;
	display: inline-block;
	overflow: hidden;
	text-indent: -999px;
}
/* Select2*/
/*
Version: 3.4.1 Timestamp: Thu Jun 27 18:02:10 PDT 2013
*/
.select2-container {
	margin: 0;
	position: relative;
	display: inline-block;
	/* inline-block for ie7 */
	zoom: 1;
 *display: inline;
	vertical-align: middle;
}
.select2-container, .select2-drop, .select2-search, .select2-search input {
	/*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
	-webkit-box-sizing: border-box; /* webkit */
	-khtml-box-sizing: border-box; /* konqueror */
	-moz-box-sizing: border-box; /* firefox */
	-ms-box-sizing: border-box; /* ie */
	box-sizing: border-box; /* css3 */
}
.select2-container .select2-choice {
	display: block;
	height: 30px;
	padding: 0 0 0 8px;
	overflow: hidden;
	position: relative;
	border: 1px solid #D3D3D3;
	white-space: nowrap;
	line-height: 30px;
	color: #444;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);*/
}
.select2-container.select2-drop-above .select2-choice {
	border-bottom-color: #aaa;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
	background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
	background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
	background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
	background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 90%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
	background-image: linear-gradient(top, #eeeeee 0%, #ffffff 90%);
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
	margin-right: 42px;
}
.select2-container .select2-choice > .select2-chosen {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.select2-container .select2-choice abbr {
	display: none;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 24px;
	top: 8px;
	font-size: 1px;
	text-decoration: none;
	border: 0;
	background: url('../images/select2.png') right top no-repeat;
	cursor: pointer;
	outline: 0;
}
.select2-container.select2-allowclear .select2-choice abbr {
	display: inline-block;
}
.select2-container .select2-choice abbr:hover {
	background-position: right -11px;
	cursor: pointer;
}
.select2-drop-undermask {
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9998;
	background-color: transparent;
	filter: alpha(opacity=0);
}
.select2-drop-mask {
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9998;
	/* styles required for IE to work */
	background-color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
}
.select2-drop {
	width: 100%;
	margin-top: -1px;
	position: absolute;
	z-index: 9999;
	top: 100%;
	background: #fff;
	color: #000;
	border: 1px solid #aaa;
	border-top: 0;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}
.select2-drop-auto-width {
	border-top: 1px solid #aaa;
	width: auto;
}
.select2-drop-auto-width .select2-search {
	padding-top: 4px;
}
.select2-drop.select2-drop-above {
	margin-top: 1px;
	border-top: 1px solid #aaa;
	border-bottom: 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
	box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}
.select2-drop-active {
	border: 1px solid #d3d3d3;
	border-top: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
	border-top: 1px solid #D3D3D3;
}
.select2-container .select2-choice .select2-arrow {
	display: inline-block;
	width: 23px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid #aaa;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background: #ccc;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
	background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
	background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
	background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
}
.select2-container .select2-choice .select2-arrow b {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../images/select2.png') no-repeat 4px 1px;
}
.select2-search {
	display: inline-block;
	width: 100%;
	min-height: 26px;
	margin: 0;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
	z-index: 10000;
	white-space: nowrap;
}
.select2-search input {
	width: 100%;
	height: auto !important;
	min-height: 26px;
	padding: 4px 20px 4px 5px;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 1em;
	border: 1px solid #aaa;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #fff url('../images/select2.png') no-repeat 100% -22px;
	background: url('../images/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
	background: url('../images/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
	background: url('../images/select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
	background: url('../images/select2.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}
.select2-drop.select2-drop-above .select2-search input {
	margin-top: 4px;
}
.select2-search input.select2-active {
	background: #fff url('../images/ajax-loader.gif') no-repeat 100%;
	background: url('../images/ajax-loader.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
	background: url('../images/ajax-loader.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/ajax-loader.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/ajax-loader.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
	background: url('../images/ajax-loader.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
	background: url('../images/ajax-loader.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
	border: 1px solid rgba(82, 253, 255, 0.8);
	-webkit-box-shadow: 0px 0px 8px rgba(82, 253, 255, .6);
	-moz-box-shadow: 0px 0px 8px rgba(82, 253, 255, .6);
	box-shadow: 0px 0px 8px rgba(82, 253, 255, .6);
	/*-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);*/
	outline: none;
}
.select2-dropdown-open .select2-choice {
	border: 1px solid #d3d3d3;
	border-bottom-color: transparent;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow : 0 1px 0 #fff inset;
	-o-box-shadow : 0 1px 0 #fff inset;
	box-shadow : 0 1px 0 #fff inset;
	background-color: #eee;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
	background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
	background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
	background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
	background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
	background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);
	-webkit-border-bottom-left-radius : 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft : 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius: 0;
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
	border: 1px solid #D3D3D3;
	border-top-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #eeeeee));
	background-image: -webkit-linear-gradient(center top, white 0%, #eeeeee 50%);
	background-image: -moz-linear-gradient(center top, white 0%, #eeeeee 50%);
	background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
	background-image: -ms-linear-gradient(bottom, #ffffff 0%, #eeeeee 50%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
	background-image: linear-gradient(bottom, #ffffff 0%, #eeeeee 50%);
}
.select2-dropdown-open .select2-choice .select2-arrow {
	background: transparent;
	border-left: none;
	filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
	background-position: -14px 1px;
}
/* results */
.select2-results {
	max-height: 200px;
	padding: 0 0 0 4px;
	margin: 4px 4px 4px 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.select2-results ul.select2-result-sub {
	margin: 0;
	padding-left: 0;
}
.select2-results ul.select2-result-sub > li .select2-result-label {
	padding-left: 20px
}
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 40px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 60px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 80px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 100px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 110px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 120px
}
.select2-results li {
	list-style: none;
	display: list-item;
	background-image: none;
}
.select2-results li.select2-result-with-children > .select2-result-label {
	font-weight: bold;
}
.select2-results .select2-result-label {
	padding: 3px 7px 4px;
	margin: 0;
	cursor: pointer;
	min-height: 1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.select2-results .select2-highlighted {
	background: #39b1d9;
	color: #fff;
}
.select2-results li em {
	background: #feffde;
	font-style: normal;
}
.select2-results .select2-highlighted em {
	background: transparent;
}
.select2-results .select2-highlighted ul {
	background: white;
	color: #000;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
	background: #f4f4f4;
	display: list-item;
}
/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
	color: #666;
	background: #f4f4f4;
	display: list-item;
	cursor: default;
}
.select2-results .select2-disabled {
	background: #f4f4f4;
	display: list-item;
	cursor: default;
}
.select2-results .select2-selected {
	display: none;
}
.select2-more-results.select2-active {
	background: #f4f4f4 url('../images/ajax-loader.gif') no-repeat 100%;
}
.select2-more-results {
	background: #f4f4f4;
	display: list-item;
}
/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
	background-color: #f4f4f4;
	background-image: none;
	border-left: 0;
}
.select2-container.select2-container-disabled .select2-choice abbr {
	display: none;
}
/* multiselect */

.select2-container-multi .select2-choices {
	height: auto !important;
	height: 1%;
	margin: 0;
	padding: 0;
	position: relative;
	border: 1px solid #d3d3d3;
	cursor: text;
	overflow: hidden;
	background-color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.select2-locked {
	padding: 3px 5px 3px 5px !important;
}
.select2-container-multi .select2-choices {
	min-height: 26px;
}
.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid #D3D3D3;
	outline: none;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.select2-container-multi .select2-choices li {
	float: left;
	list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.select2-container-multi .select2-choices .select2-search-field input {
	padding: 5px;
	margin: 1px 0;
	font-family: sans-serif;
	font-size: 100%;
	color: #666;
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: transparent !important;
	font-family: 'Lato', sans-serif;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
	background: #fff url('../images/ajax-loader.gif') no-repeat 100% !important;
}
.select2-default {
	color: #999 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
	padding: 3px 5px 3px 18px;
	margin: 3px 0 3px 5px;
	position: relative;
	line-height: 13px;
	color: #333;
	cursor: default;
	border: 1px solid #aaaaaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #e4e4e4;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0 );
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
	cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
	background: #d4d4d4;
}
.select2-search-choice-close {
	display: block;
	width: 12px;
	height: 13px;
	position: absolute;
	right: 3px;
	top: 4px;
	font-size: 1px;
	outline: none;
	background: url('../images/select2.png') right top no-repeat;
}
.select2-container-multi .select2-search-choice-close {
	left: 3px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
	background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
	background-position: right -11px;
}
/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ddd;
	background-image: none;
	background-color: #f4f4f4;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
	display: none;
	background: none;
}
/* end multiselect */


.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
	text-decoration: underline;
}
.select2-offscreen, .select2-offscreen:focus {
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	outline: 0;
	left: 0px;
}
.select2-display-none {
	display: none;
}
.select2-measure-scrollbar {
	position: absolute;
	top: -10000px;
	left: -10000px;
	width: 100px;
	height: 100px;
	overflow: scroll;
}
/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
	background-image: url('../images/select2x2.png') !important;
	background-repeat: no-repeat !important;
	background-size: 60px 40px !important;
}
.select2-search input {
	background-position: 100% -21px !important;
}
}
/*JAlert-------------------------------------------------*/
#popup_container {
	font-size: 14px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #f5f5f6;
	border: solid 5px #fff;
	color: #444444;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	box-shadow: 0 0 10px rgba(0,0,0,.4);
}
#popup_container.image_info {
	min-width: 480px;
}
#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 34px;
	color: #fff;
	cursor: default;
	padding: 0em;
	margin: 0em;
	background: #777;
	color: #fff;
	background: #787878;
	background: -moz-linear-gradient(top, #787878 0%, #242424 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, #242424));
	background: -webkit-linear-gradient(top, #787878 0%, #242424 100%);
	background: -o-linear-gradient(top, #787878 0%, #242424 100%);
	background: -ms-linear-gradient(top, #787878 0%, #242424 100%);
	background: linear-gradient(to bottom, #787878 0%, #242424 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#242424', GradientType=0 );
}
#popup_overlay {
	background-color: #000 !important;
}
#popup_content {
	background: 16px 16px no-repeat url(../images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}
#popup_content.alert {
/*background-image: url(../images/info.gif);*/
}
#popup_content.confirm {
	background-image: url(../images/important.png);
}
#popup_content.prompt {
/*background-image: url(../images/help.gif);*/
}
#popup_container.editor {
	min-width: 900px;
	max-width: 900px;
	height: 500px;
}
#popup_container.editor #popup_content {
	background: none;
	padding: 0;
}
#popup_message {
	padding-left: 48px;
}
#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}
#popup_prompt {
	margin: .5em 0em;
}
#popup_panel input[type=button] {
	border-colors: none;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #ececec 0%, #ececec 25%, #dfdfdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(25%, #ececec), color-stop(100%, #dfdfdf));
	background: -webkit-linear-gradient(top, #ececec 0%, #ececec 25%, #dfdfdf 100%);
	background: -o-linear-gradient(top, #ececec 0%, #ececec 25%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ececec 0%, #ececec 25%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ececec 0%, #ececec 25%, #dfdfdf 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dfdfdf', GradientType=0 );
	border-color: #CCCCCC #CCCCCC #AAAAAA;
	border-image: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: baseline;
	font-family: 'Lato', sans-serif;
}
/*uploadify */

.uploadify {
	position: relative;
	margin-bottom: 1em;
}
.uploadify-button {
	background-color: #505050;
	background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, #505050),  color-stop(1, #707070)  );
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #808080;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	width: 100%;
}
.uploadify:hover .uploadify-button {
	background-color: #606060;
	background-image: linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, #606060),  color-stop(1, #808080)  );
	background-position: center bottom;
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
	border: 1px solid #ccc;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('../images/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
.map-wrapper {
	width: 950px;
	height: 455px;
	overflow: hidden;
}
.map-canvas {
	width: 950px;
	height: 500px;
}
.dataTables_wrapper.dtbl td.editable:hover {
	background-color: #CCC !important;
	cursor: pointer;
}
.month_selecter {
	float: left;
	display: block;
	padding: 10px 0;
	width: 100%;
}
.bookings_reviews .ui-datepicker-calendar {
	display: none;
}
.commission.bookings_reviews .ui-datepicker-calendar {
	display: none;
}
.bookings_reviews.reports .ui-datepicker-calendar {
	display: table;
}
.reports-year .ui-datepicker-month, .reports-year .ui-datepicker-prev, .reports-year .ui-datepicker-next {
	display: none !important;
}
.popup {
	background: #FFFFFF;
	box-shadow: 0 0 25px 5px #999999;
	color: #111111;
	display: none;
	min-width: 450px;
	padding: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.popup_950 {
	min-width: 980px;
}
.popup .button.b-close {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #2B91AF;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: 7px;
	position: absolute;
	right: -7px;
	top: -7px;
}
.popup .content {
	min-height: 400px;
	overflow-y: auto;
}
.popup .textarea {
	resize: none;
	width: 100%;
}
.dashboard .col_l {
	float: left;
	width: 470px;
}
.dashboard .col_r {
	float: right;
	width: 470px;
}
.dashboard .block-title {
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}
.array_pagination a {
	background-color: #797979;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 6px;
	margin: 0 3px;
	cursor: pointer;
	text-decoration: none;
}
.array_pagination a:hover {
	background-color: #ccc;
}
.array_pagination a.pageselected {
	background-color: #1296d6;
	color: #fff;
}
div.side-col,
.tab-info .content-header {
	display: none;
}
