/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	/*min-height: 302px;
	_height: 302px;*/
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_paginate{font-size:11px;}

.dataTables_length {
	width: 40%;
	float: left;
	text-align: left;
	margin-bottom:10px;
}
.dataTables_length .lbl_show,.dataTables_length .lbl_entries {
	float: left;
	margin-top:5px;
}
.dataTables_length .lbl_show{margin-left:10px;}

.dataTables_length .lbl_show{ margin-right:5px;}
.dataTables_length .lbl_entries{ margin-left:5px;}
.dataTables_length select{float:left;}

.dataTables_filter {
	/*width: 50%;*/
	float: right;
	text-align: right;
	margin-bottom:10px;
	margin-right:10px;
}
.dataTables_filter .lbl_search{ float:left; margin:10px 10px 0 0;}

.dataTables_info {
	width: 60%;
	float: left;
	text-align:left;
	margin-top: 10px;
	margin-left:10px;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
	margin-right:10px;
	margin-bottom:10px;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
	vertical-align:middle;
	text-align:center;
}


table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.gif') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.gif') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.gif') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}


.dataTables_wrapper .headings{

	color: #fff;
	background: #f9fafb;
}

.dataTables_wrapper tr.headings th {
	border-bottom: 1px solid rgba(34,36,38,.1);
	padding: 15px 10px;
	white-space: normal;color:#000;
	font-weight:normal; 
	vertical-align:middle;
	font-size:16px;
	font-weight:bold;
}
.dataTables_wrapper tr.headings th.r {
	/*background: url('../images/th_r.png') no-repeat bottom right;*/
	border-right:1px solid #757575;
}
.dataTables_wrapper tr.headings th.l {
	background: url('../images/th_l.png') no-repeat bottom left;
	
}
.dtbl tbody,
.dtbl td{background:none  !important;}
.dtbl tr td {border-color: #fff;border-style: solid;border-width: 0 1px 1px 0;padding:10px;white-space: normal;font-weight:normal;vertical-align: top;}


table.oe tbody tr td.ac{
	background-color:#c0c0c0;
}
table.oe tbody tr.even td.ac{
	background-color:#dbdbdb;
}

table tbody tr.tDnD_whileDrag,
table tbody tr.tDnD_whileDrag td{background-color:#80d0f1 !important;}

.dragHandle{cursor:move;}
table.jtbl tbody tr.odd,
table.oe tbody tr.odd {
	background-color: #ededed;
}

table.jtbl tbody tr.even,
table.oe tbody tr.even{
	background-color: #f5f5f5;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}


/*tr.odd {
	background-color: #d4d4d4;
}

tr.even {
	background-color: #ededed;
}*/
.dtbl tr {
	background-color: #ededed;
}
.dtbl tr.on-mouse{background-color:#ffe4e4; color:#000;}
.dtbl .red{color:#db4618;}
.dtbl .green{color:#60a407;}
.dtbl .yellow{color:#ffae00;}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0 !important;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
	margin-top: 10px;
}

.paging_full_numbers .paginate_button,
.paging_full_numbers .paginate_active {

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 6px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers .paginate_button {
	background-color: #797979;color:#fff;
}

.paging_full_numbers .paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers .paginate_active {
	background-color: #1296d6;
	color:#fff;
}

table tr.even.row_selected td {
	background-color: #d4d4d4;
}

table tr.odd.row_selected td {
	background-color: #d4d4d4;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #dfdede;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #e9e7e7;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}
tr.headings .sorting_asc,
tr.headings .sorting_desc {
	background-color: #797979;
}

/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}


/*
 * Row highlighting example
 */
.dtbl tr.even:hover,
.dtbl tr.even:hover td.sorting_1{
	background-color: #c0eaff;
}

.dtbl tr.odd:hover,
.dtbl tr.odd:hover td.sorting_1{
	background-color: #c0eaff;
}

.ex_highlight_row tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}


/*
 * KeyTable
 */
table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

table.display tr.gradeA {
	background-color: #eeffee;
}

table.display tr.gradeC {
	background-color: #ddddff;
}

table.display tr.gradeX {
	background-color: #ffdddd;
}

table.display tr.gradeU {
	background-color: #ddd;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}

.tbl_grid .b_l{border-left:1px solid #e2e1e2;}
.tbl_grid .b_r{border-right:1px solid #e2e1e2;}
.tbl_grid .b_t{border-top:1px solid #e2e1e2;}
.tbl_grid .b_b{border-bottom:1px solid #e2e1e2;}


.dataTables_wrapper2 .headings {
    font-size:18px;
    color: #333333;	
}
.dataTables_wrapper2 tr.headings th {
    padding: 15px 10px; 
    vertical-align: middle;
    white-space: normal;
	border-bottom:1px solid #e2e1e2;
}

.dataTables_wrapper2 tr td {border-color: #e2e1e2;border-style: solid;border-width: 0 0 1px 0;padding:10px;white-space: normal;font-weight:normal;vertical-align: top; vertical-align:middle;}


.dataTables_wrapper .ft td {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
	background-color:#FFF !important;
	font-weight:bold;
}

