.itoggle{
	moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    overflow: hidden;
}
.itoggle label.ilabel{
	display:block;
	font-size:12px;
	padding-bottom:0;
	cursor:pointer;
	}

.itoggle label.itoggle,
.itoggle label.itoggle span{
	display: block;
	width: 93px;
	height: 27px;
	margin-bottom: 0;
	background: url(../images/itoggle.png) left bottom no-repeat;
	cursor:pointer;
	text-indent:-5000px;
	}
.itoggle label.itoggle.iToff{
	background-position:right bottom;
	}
.itoggle label.itoggle span{
	background-position: left top;
	margin: 0;
	}
.itoggle input.iT_checkbox{
	position:absolute;
	top:-9999px;
	left:-9999px;
	}

/*	
	If you want the corners to be
	transparent, add these two lines
	to the main block above. Only
	works on webkit and mozilla browsers
	For more reliable results, make your
	own png using the supplied .psd
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
*/