/* NAVIGAION ------------------------------------------------------*/
div#navC
{
	
	
}
div#navC ul{margin:0px; padding:0px; }

#nav {
	list-style:none;
	position:relative;
	z-index:100;
	font-family: Arial, Helvetica, sans-serif;
}
#nav li a{
	color: #1f2328;
	display:inline-block;
    cursor: pointer;
	font-size:14;
	padding:10px 10px;
	line-height:20px;
	text-decoration:none;
}

#nav li {
    float: left;position: relative;
	font-size:12px;
}
#nav li.first{border-left:none;}
#nav li.last{border-right:none;}

#nav li a span {display: inline;}
#nav li a {color: #FFFFFF;}

#nav li.active,
#nav li:hover{background:#000000;}
#nav li.active a{}

#nav li ul.sub{
position:absolute;
left:0;
top: 100%;
width:150px;
display:none;	
}
#nav li ul.sub li{
	display:block;width: 100%;
	border:none;
}
#nav li ul.sub li a{
	background-color:#000;color: #FFFFFF;
	display:block;
	padding:5px 10px;
}
#nav li ul.sub li a:hover,
#nav li ul.sub li.active > a{
	background-color:#707070;
}

#nav li:hover > ul{
display:block;	
}
#nav li ul.sub ul.sub{
left:100%;	
top: 0px;
}