html  { margin:0 !important; padding:0 !important; }
body  { background:none !important; background-color:#fff !important; font-size:12pt !important; padding:0 !important; margin:10px !important; font-family:Arial, Helvetica, sans-serif !important; }

#tbl_add_new_extra_charges{display:none;}
.btnDelBtn{display:none;}
.page-title{ height:40px; text-align:center; font-size:18pt; width:950px;}
.invoice-area .company_info .h1 {font-size: 14pt; font-weight:bold;}


#btn_print_report,
.booking_report_action span,
table.booking_search{display:none;}
.hor-scroll-pagin{display:none;}

.sale_report .tabify{display:none;}
.sale_report .page-title {background: url("../images/shadow.png") no-repeat 50% 100%;}

.agent_report .agent_search,
.agent_report #btn_print_report{display:none;}

.user_report .user_search,
.user_report #btn_print_report{display:none;}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate,
.btn_booking_information{display:none;}
.booking_report .tbl_container tbody tr,.booking_report .tbl_container tbody td{ background-color:#FFF !important; color:#000;}

.booking_report .ph,
.subNav-tab,
.sale_report_action,
.booking_result_legent{display:none;}
span.hide{ display:inline-block;}

.appContent .appInner{background-color:#fff; border:none;}
.dataTables_wrapper tr.headings {background:#535353;}
.dataTables_wrapper tr.headings th {border-color: #ececec;border-style: solid;border-width: 0 1px 1px 0;padding: 5px 10px;white-space: normal;color:#FFF;font-weight:normal; vertical-align:middle; font-weight:bold;}
.dataTables_wrapper tr td {border-color: #ececec;border-style: solid;border-width: 0 1px 1px 0;padding:10px;white-space: normal;font-weight:normal;vertical-align: top;}

.ph{display:none;}
.agent_report .ph{display:none;}
a{text-decoration:none;}

.print-body{
    font-size: 11px;
}
.print-body td{
    font-size: 11px;
}