@charset "utf-8";
/* CSS Document */

.iframe-popup-body{background:none; background-color:#fff}
.iframe-popup-body .iframe-action-area{display:block; padding:10px;}

.nmp{padding:0 !important;margin:0 !important;}
.nb{border:0 !important;}

.popup_page .header,
.popup_page .navigation-area{display:none;}

.grid th, .grid td {padding: 10px 20px;}
th {padding: 0;text-align: left;vertical-align: top;}
.grid table td {border-color: #ececec;border-style: solid;border-width: 0 1px 1px 0;background-color:#ffffff;}
.center{text-align:center;}
.validation-advice { color:#D40707 !important; font-weight:bold !important; font-size:12px; clear: both;}


.form-list td.label, .form-list td.value, .form-list td.value2, .form-list td.note, .form-list td.scope-label, .form-list td.use-default {
background: none repeat scroll 0 center transparent !important;border: 0 none !important;padding-bottom: 5px !important;padding-left: 5px !important;padding-top: 5px !important;}
.form-list td.label {width: 200px; font-weight:bold;}
.form-list td.value .select,.form-list td.value select{width: 450px;float: left;}
.form-list td {padding: 0;vertical-align: top;}


.dtbl tr.paid{background-color:#faae97 !important;}

span.hide{ display:none;}
img.p_img{padding-left:10px;}

.wrapper{ width:100%;}
.header{ width:100%; height:67px; margin:auto; background-color:#fff;}

.currentBusiness {
    float: left;
    margin-bottom: 0;
    margin-left: 23px;
    margin-right: 0;
}
.business-name {
    color: #333333;
    float: left;
    font-size: 30px;
}
.quick-links{ float:right; color:#fff;}
.quick-links ul{padding-top: 20px;}
.quick-links ul li{ float:left; position:relative;}
.quick-links ul li.first{padding-left:0;}
.quick-links ul li.username{ -moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;color: #575757;display: inline-block;font-size: 12px;margin-right: 15px;padding: 5px 10px; font-weight:bold;}
.quick-links ul li a { -moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;color: #575757;display: inline-block;font-size: 12px;margin-right: 15px;padding: 5px 10px;text-decoration:none;}
.quick-links ul li a:hover,
.quick-links ul li a.active{background-color:#26a69a; color:#fff;}
.quick-links ul li a i {margin-right: 9px;margin-top: 1px;display: inline-block; vertical-align:text-top;}

.quick-links ul li > ul.subNav{
	position:absolute;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    border: 1px solid #eee;
	padding-top:0;
	top:-1000px;
}
.quick-links ul li > ul.subNav li{
	float:none;	
	-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;
	background-color:#fff;
}
.quick-links ul li > ul.subNav li a{
	 margin-right: 0px;
	 display:block;
	 -moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;
}
.quick-links ul li > ul.subNav li a:hover,
.quick-links ul li > ul.subNav li.active a{background-color:#f6f6f6; color:#000;}

.quick-links ul li:hover > ul.subNav{
	top:24px;
}

.icon-quick-account{background:url(../images/icons.png) no-repeat -35px -4px;height: 17px;width: 19px;}
.icon-quick-signout{background:url(../images/icons.png) no-repeat -6px -4px;height: 17px;width: 15px;}
.icon-add-green{background:url(../images/icons.png) no-repeat -16px -118px;height: 17px;width: 21px; display:inline-block;vertical-align: text-top;}

.btn-approve_reject{background:url(../images/icons.png) no-repeat -440px -45px;height: 25px;width: 35px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer;}
.btn_approve_reject_empty{background:none; height: 25px;width: 35px; display:inline-block; vertical-align: text-top; overflow:hidden; text-indent:-999px; border:none;}

.btn-merge{background:url(../images/icons.png) no-repeat -397px -45px;height: 25px;width: 35px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer;}
.btn_merge_empty{background:none; height: 25px;width: 35px; display:inline-block; vertical-align: text-top; overflow:hidden; text-indent:-999px; border:none;}

.btn-edit{background:url(../images/icons.png) no-repeat -334px 0;height: 25px;width: 25px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer;}

.btn-delete{background:url(../images/icons.png) no-repeat -377px 0;height: 25px;width: 25px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer;}

.btn-pic{background:url(../images/icons.png) no-repeat -7px -45px;height: 25px;width: 25px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer;}

.btn-travel_guide{background:url(../images/icons.png) no-repeat -90px -42px;height: 25px;width: 27px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer;}

.btn-travel_guide{background:url(../images/icons.png) no-repeat -90px -42px;height: 25px;width: 27px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer; margin-left:10px;}

.btn-city_guide{background:url(../images/icons.png) no-repeat -126px -42px;height: 25px;width: 27px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer; margin-left:10px;}

.btn-hotel_guide{background:url(../images/icons.png) no-repeat -49px -42px;height: 25px;width: 36px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer; margin-left:10px;}

.btn-activity{background:url(../images/icons.png) no-repeat -164px -42px;height: 25px;width: 28px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer; margin-left:10px;}

.btn-standard_tour{background:url(../images/icons.png) no-repeat -249px -42px;height: 25px;width: 28px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer; margin-left:10px;}

.btn-byot{background:url(../images/icons.png) no-repeat -208px -42px;height: 25px;width: 28px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer; margin-left:10px;}

.btn-tailor_made{background:url(../images/icons.png) no-repeat -297px -42px;height: 25px;width: 28px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer; margin-left:10px;}

.btn-spot_light{background:url(../images/icons.png) no-repeat -334px -42px;height: 25px;width: 20px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer; margin-left:10px;}

.btn-country_map{background:url(../images/icons.png) no-repeat -354px -42px;height: 25px;width: 28px; display:inline-block;vertical-align: text-top;
overflow:hidden; text-indent:-999px; border:none; cursor:pointer; margin-left:10px;}


.top-area{width:100%; height:43px; margin-bottom:40px; border-top: 1px solid #e2e2e2;}
.navigation-area{width:100%;background:#2b3643;}
.nav-bar{width:100%;; margin:auto;padding:0 20px;}

.map-holder{width:100%; height:453px; overflow:hidden; margin-bottom:7px;}
.map-holder .map{width:100%; height:500px;}

.map-v-holder{width:316px; height:698px; overflow:hidden; margin:auto; margin-bottom:7px;}
.map-v-holder .map{width:316px; height:728px;}

.thsp_1{width:100%;margin-bottom:0px;}

.appContent .appHeader{
	margin-bottom:30px;
}
.appContent .appHeader h1{text-transform:uppercase; font-size:20px;}
.appContent .appHeader.apHnm{margin-bottom:0;}
.appContent .appHeaderWrapper{
	padding:16px 0;
}
.appContent .appInner{

}
.appContainer .appTabs li{ float:left;}
.appContainer .appTabs li a{	
	color: #2c2c2c;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );	
    cursor: pointer;
    line-height: 20px;
    padding: 17px;
    text-transform: uppercase;
	text-decoration:none;
	display: inline-block;	
	border-color:#cbcbcb;
	border-width:1px 1px 0 0;
	border-style:solid;
	font-weight:500;
}

.appContainer .appTabs li.active a{
	background: #777;
	color: #fff;
	background: #787878;
	background: -moz-linear-gradient(top,  #787878 0%, #242424 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#787878), color-stop(100%,#242424));
	background: -webkit-linear-gradient(top,  #787878 0%,#242424 100%);
	background: -o-linear-gradient(top,  #787878 0%,#242424 100%);
	background: -ms-linear-gradient(top,  #787878 0%,#242424 100%);
	background: linear-gradient(to bottom,  #787878 0%,#242424 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#242424',GradientType=0 );
}

.appContainer .appTabs li.first a{border-left-width:1px;-moz-border-radius: 4px 0 0 0;-webkit-border-radius: 4px 0 0 0;border-radius: 4px 0 0 0;}
.appContainer .appTabs li.last a{border-left:none;-moz-border-radius: 0 4px 0 0;-webkit-border-radius: 0 4px 0 0;border-radius: 0 4px 0 0;}

.messages ul {
    border: 0 none !important;
}
.messages li {
    margin-bottom: 11px !important;
    min-height: 18px !important;
    padding: 6px 8px 2px 32px !important;
	font-family:'Oxygen-Regular',Helvetica, Arial, sans-serif; 
	font-size:12px;
}
.messages ul li {
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.error-msg {
    background: url("../images/error_msg_icon.gif") no-repeat scroll 10px 5px #FAEBE7 !important;
    border: 1px solid #F16048 !important;
    color: #DF280A !important;
}
.success-msg {
    background: url("../images/success_msg_icon.gif") no-repeat scroll 10px 5px #EFF5EA !important;
    border: 1px solid #95A486 !important;
    color: #3D6611 !important;
}
.notice-msg {
    background: url("../images/note_msg_icon.gif") no-repeat scroll 10px 5px #FFFBF0 !important;
    border: 1px solid #FFD967 !important;
    color: #3D6611 !important;
}
.warning-msg {
    background: url("../images/warning_msg_icon.gif") no-repeat scroll 10px 5px #E6E6E6 !important;
    border: 1px solid #666E73 !important;
    color: #000000 !important;
}
.agent_pricing_notifications .messages li{margin-bottom: -1px !important;}
.agent_pricing_notifications { width:950px; margin:auto;}


.main{width:950px; margin:auto;}
.main_90{width:90%; margin:auto;}

.main .appContent{}
.main .appContent.nt{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}

.iframe-popup-body .appContent{padding:17px; background-color:#fff;}
/*27-06-2013*/
.calendar_blob{float:right; width:auto; height:10px;}
.calendar_blob .icon{float:left; width:auto; height:16px;margin:5px 5px 5px 0; padding:0 0 0 24px; background:url("../images/booking_blob.png") 0 0 no-repeat;}
.calendar_blob .icon.ico_1{background-position:0 0;}
.calendar_blob .icon.ico_2{background-position:0 -16px;}
.calendar_blob .icon.ico_3{background-position:0 -32px;}
.calendar_blob .icon.ico_4{background-position:0 -48px;}

.login-page .main{width:640px; margin:auto;}
.login-page .login-content{	
	margin: 0 auto 40px;
	padding: 30px 40px 40px;
}


.login-block{background-color: #fff;border: 1px solid #d8dce0;width:365px; margin:auto; padding: 15px 40px; -webkit-border-radius: 4px;-moz-border-radius: 4px;
border-radius: 4px;}
.login-fields{width:282px;}
.login-fields li{ padding-bottom:18px; float:left;}
.login-fields .fields{ width:282px; float:left;}
.login-fields .fields label{ display:block; padding-bottom:5px;}
.login-block .action{width:282px; height:42px; text-align:center; clear:both;}
.login-block .frmBtn{}

.login-block .text-input{width: 100%;}
.login-block .remember_me{font-size:12px;}
.login-block .remember_me label{padding:3px 0 0 5px;display: inline-block;}

.my-account-block{width:678px; margin:auto;}
.my-account-block .page-title{ padding:0 34px 17px 34px; width:608px; height:47px; color:#b43d3d; font-size:24px; background:url(../images/shadow.png) no-repeat 50% 100%;}
.my-account-fields{width:608px;}
.my-account-fields .wide .fields{ width:608px; float:left;}
.my-account-fields .fields{ width:304px; float:left;}
.my-account-fields li{ padding-bottom:18px; float:left;}
.my-account-fields .fields label{ display:block; padding-bottom:5px;}
.my-account-fields .fields label .req{ color:#e60000; font-size:18px;}
.my-account-fields .sep_1{ padding:0 34px; width:608px; height:47px; background:url(../images/shadow.png) no-repeat 50% 100%; clear:both;}
.my-account-fields .page-title2{ padding:0 34px 17px 34px; width:608px; height:47px; color:#b43d3d; font-size:18px;}
.my-account-fields table.fields2{padding-bottom:45px;}
.my-account-block .action{padding:0 34px; width:608px; height:100px; background:url(../images/shadow.png) no-repeat 0 0; text-align:center; clear:both;}
.my-account-block .frmBtn{background:url(../images/button_bg1.png) no-repeat; width:282px; height:49px;}
.my-account-block .frmBtn span{ color:#ffffff; font-size:18px;}




.level_2_sub_nav{float:left; width:100%; margin-bottom:10px;}

.subNav-tab{float:left;border-bottom: 1px solid #cbcbcb;
    width: 100%;
    background-color: #364150;
    text-align: center;
    float: left;
    height: 29px;
}
.subNav-tab li{ display: inline-block;}
.subNav-tab li a{	
	color: #fff;
	font-size:12px;
    float: left;
    line-height: 1.5em;
    padding: 5px 11px;
    position: relative;
    white-space: nowrap;
	text-decoration:none;
}
.subNav-tab li.first a{

}
.subNav-tab li.last a{

}
.subNav-tab li.first.last a{

}

.subNav-tab li.active a{
	background: #000;
	color: #fff;
}

.subNav-tab2{
	background: #373739;
}

.tbl_container .button-panel{border-bottom:1px solid #000;}
.tbl_container .button-panel th{padding: 5px 10px;white-space: normal; vertical-align:middle;}
.tbl_container .button-panel .btn{font-size:12px; padding: 2px 10px !important; margin:0 5px;}

.tbl_container tr.headings {background:#535353;}
.tbl_container tr.headings th {border-color: #ececec;border-style: solid;border-width: 0 1px 1px 0;padding: 5px 10px;white-space: normal;color:#FFF;font-weight:normal; vertical-align:middle;}
.tbl_container tr td {border-color: #ececec;border-style: solid;border-width: 0 1px 1px 0;padding:10px;white-space: normal;font-weight:normal;vertical-align: top;}



.sub-btn .appTabs li a{padding:17px 20px;width:196px;}
.sub-btn-area li a i{display: inline-block;height: 41px; width: 41px;margin-right: 9px;vertical-align: middle;}


/* - -----------------------------------------*/
.content-header {
    border-bottom-color: #DFDFDF;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 0.25em;
	padding:5px 0;
}

.content-header table {
    width: 98%;
}
.content-header h3 {
    float: left;
    font-size: 15px;
    line-height: 30px;
}
.icon-head {
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 18px;
    padding-left: 22px;
}

.content-header td.form-buttons {
    float: none;
}
.content-buttons.form-buttons, .content-header .form-buttons {
    margin-bottom: 0;
    text-align: right;
    white-space: nowrap;
}

.entry-edit fieldset, .entry-edit .fieldset {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.entry-edit .note{font-size:11px; color:#F00;}

.fieldset-wide .form-list td.value input.input-text, .fieldset-wide .form-list td.value textarea {
    width: 100% !important;
}
.fieldset-wide .form-list {
    width: 100% !important;
}
.fieldset-action{padding-top:0 !important; padding-left: 15px;margin-bottom: 15px;}

.fieldset-wide .form-list.normal_table {
    float:left;width: 50% !important;
}
.half_width {width: 50%;}
/*.fieldset-wide .normal_table td.value input.input-text, 
.fieldset-wide .normal_table td.value textarea {
    width: 100% !important;
}*/

.grid table {
width: 100%;
}
.grid th, .grid td {
padding: 2px 4px;
}
.grid table td {
font: 12px/1.5em;
border-color: #DADFE0;
border-style: solid;
border-width: 0 1px 1px 0;
}



.grid tbody {
background: none repeat scroll 0 0 #FFFFFF;
}
.grid tr.even, .grid tr.even tr {
background: none repeat scroll 0 0 #F6F6F6;
}
.grid tr.on-mouse {
background: none repeat scroll 0 0 #FCF5DD;
cursor: pointer;
}

.grid tr.headings th.last {
border-right: 0 none;
}

.grid tr.filter {
background: url("../images/filter_row_bg.gif") repeat-x 0 0 #E3EFF1;
cursor: default;
}
.grid tr.filter th {
border-color: #BDBDBD;
border-style: solid;
border-width: 0 1px 1px 0;		
padding-bottom: 5px;
padding-top: 5px;
white-space: normal;
}
.grid tr.filter th.last {
border-right: 0 none;
}
.grid tr.filter input.input-text {
width: 85%;
}
.grid tr.filter select {
width: 100%;
}
.grid tr.filter .range input {
float: left;
margin-top: 0;
width: 50px !important;
}

.grid #list {
	margin: 0;
	padding:0;
	list-style-type: none;
}


.grid #list li {
	float:left; 
	margin:2px; 
	padding:4px;
	width:118px; 
	height:90px;
	position: relative;
}

.grid #list li .handle{ 
	width:118px; 
	height:90px; 
	border:solid 1px #999; 
	text-align:center; 
	position:absolute;
	overflow:hidden;
}

.grid #list li .del{ 
	width:19px; 
	height:19px; 
	position:absolute;
	top:6px;
	right:5px;
	background: #fff url("../images/remove.gif") no-repeat 3px 3px;
	padding:3px;
	cursor:pointer;
}
.grid #list li .edit{ 
	width:19px; 
	height:19px; 
	position:absolute;
	top:6px;
	right:24px;
	background: #fff url("../images/edit_icon.gif") no-repeat 2px 2px;
	cursor:pointer;
	z-index:1;
	padding:2px;
}
.grid #list li .number{ 
	position:absolute;
	margin:2px;
	padding:5px;
	background-color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:10px;
	color:#999;
	
}

.grid.bt #list li .del{left: 30px;top: 71px;}
.grid.bt #list li .edit{left: 8px;top: 71px;}
.grid.bt #list li .edit a{float:left; width:14px; height:14px; overflow:hidden; display:block; text-indent:-999px;}


/*Color settings*/
.edit-color {
    background: url("../images/edit-color2.png") no-repeat scroll 0 0 transparent;
    height: 31px;
    position: absolute;
    width: 31px;
	cursor:pointer;
	z-index:11;
	display:none;
}
.edit-color.small {
    background: url("../images/edit-color.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    position: absolute;
    width: 16px;
	cursor:pointer;
	z-index:11;
	display:none;
}

.field-100 input{width:100% !important;}
.field-100 span{width:50px; display:inline-block;}

.a-left {text-align: left !important;}
.a-right {text-align: right !important;}

ul.multiple_checkbox{
	padding:10px 0;	float: left;
}
ul.multiple_checkbox li{clear: both;}
ul.multiple_checkbox li.t{font-weight:bold;padding-top:10px;	}

tr.hide{display:none;}
.holder_tour_plan{border-bottom:1px solid #DFDFDF; width:100%; padding:10px 0;}

progress {
  color: #0063a6;
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 15em;
  height: 1.8em;
  border: 1px solid #0063a6;
  background: #fff;
}

/* -- swfupload Styles ------------------------------- */
div.swfupload_fieldset {
	border:  1px solid #afe14c;
	margin: 10px 0;
	padding: 20px 10px;
}
div.swfupload_fieldset span.legend {
	position: relative;
	background-color: #FFF;
	padding: 3px;
	top: -30px;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #73b304;
}

div.flash {
	width: 375px;
	margin: 10px 5px;
	border-color: #D9E4FF;

	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;

}
.swfupload td {
	font: 10pt Helvetica, Arial, sans-serif;
	vertical-align: top;
}

.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
.tbl_ie{width:60%;border:1px solid #e6e6e6;}
.tbl_ie tr.heading > td{background-color:#e6e6e6; padding:5px;}
.tbl_ie td:first-child{border-right:1px solid #e6e6e6;}

.tbl_ie li{display:block; padding:5px 10px 5px 5px;border-top:1px solid #e6e6e6;}

.subNavigation{text-align:center; width:100%; height:40px; position:relative;}
.subNavigation .subNav-tab{position:absolute;left:20px; top:-13px;}

.editable-input-text .text,
.editable-select .select{}
.intefrm .btn_submit,
.intefrm .btn_cancel{background-color:#000;color:#fff;border:none;cursor:pointer;font-size:12px;padding:3px 5px;font-family:Helvetica, Arial, sans-serif;-moz-border-radius: 3px;
-webkit-border-radius: 3px;border-radius: 3px;	margin-left:2px;}

.reports-sales .ui-datepicker-calendar,
.reports-tax .ui-datepicker-calendar,
#seasons_ical .ui-datepicker-calendar{display:none;}


.reports-year .ui-datepicker-month,
.reports-year .ui-datepicker-prev,
.reports-year .ui-datepicker-next,
#seasons_ical .ui-datepicker-month,
#seasons_ical .ui-datepicker-prev,
#seasons_ical .ui-datepicker-next{display:none !important;}
#seasons_ical .ui-datepicker-header{border:none !important;}

.uiCalender{float:left;}
.uiCalender .ui-datepicker{border:none; margin:0;background:none;width:auto; padding:0;}
.uiCalender .ui-datepicker-prev,
.uiCalender .ui-datepicker-next{display:none;}
.uiCalender .ui-datepicker .ui-datepicker-title{margin:0;}
.uiCalender .ui-datepicker .ui-widget-header{background:none;}
.uiCalender .ui-datepicker select.ui-datepicker-month, 
.uiCalender .ui-datepicker select.ui-datepicker-year {width:70px;}
.uiCalender .ui-datepicker .ui-datepicker-title select{font-size:12px; padding:5px;}
.uiCalender .ui-datepicker .ui-datepicker-header{ padding:0; color:#222222;}
.uiCalender .ui-datepicker .ui-datepicker-title select{ margin:0 4px 0 0;}
.uiCalender .ui-datepicker .ui-datepicker-title{text-align:left;}

.month_selecter .jqTransformSelectWrapper{ margin:0 4px 0 0;}
.month_selecter .btn-small{padding:4px 10px;}

#simplemodal-container a.modalCloseImg {
	background:url(../images/icons.png) no-repeat -390px 0; /* adjust url as required */
	width:25px;
	height:25px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:11px;
	right:9px;
	cursor:pointer;
}
.month_selecter .c1{float:right; margin-right:15px;}
.month_selecter .c2{display:none;}

.month_selecter.year .c1{margin-left:381px;}

.ul_room_child_occ{float:left; margin:0 0 0 40px; padding:0 0 0 20px; list-style:none;}
.ul_room_child_occ li{float:left; width:150px; margin-bottom:10px;}
.ul_room_child_occ li.remove_item{float:left; width:26px; height:46px; margin-left:-40px;}
.ul_room_child_occ li.remove_item a{float:left; width:26px; height:26px; background:url(../images/del1.png) no-repeat 0 0; margin-top:17px; text-indent:-999px; display:block; overflow:hidden;}

#btn-tour_accept{display:none;}

.cm-img_list li {
float: left;
margin: 0 5px 5px 0;
width: 60px;
text-align: center;
}
.cm-img_list li .thumb{
float: left;
width: 60px;
height: 40px;
overflow:hidden;
margin-bottom:5px;
}

.tbl_tm_message_list {
border-collapse: collapse;
}
.tbl_tm_message_list td {
padding: 15px 0 15px 0px;

}
.tbl_tm_message_list .msg_content {
display:block;
padding:12px 43px 43px 43px;
color:#313131;
}
.tbl_tm_message_list .msg_date {
width:100%;
float:left;
text-align:center;
font-size:14px;
border-top:1px solid #808080;

}
.tbl_tm_message_list tr.even td,
.tbl_tm_message_list .msg_date span{ background-color:#f3f3f3;}
.tbl_tm_message_list tr.odd td,
.tbl_tm_message_list tr.odd .msg_date span{ background-color:#dbdbdb;}
.tbl_tm_message_list .msg_date span{ margin-top:-10px; display:inline-block; padding:5px 17px;}

.tbl_tm_message_list .submiter_wrapper{float:left; width:100%;}
.tbl_tm_message_list .submiter_wrapper .small_logo{float:left; width:130px; height:42px; background:url(../../images/small_logo.png) no-repeat;}
.tbl_tm_message_list .submiter_wrapper .submiter{float:left; height:42px; font-size:16px;line-height: 30px;}
.tbl_tm_message_list .submiter_wrapper .msg_time{float:right; height:42px; font-size:14px;line-height: 30px; color:#a5a5a5;}

.tbl_tm_message_list .first .msg_date{border:none; height:40px;}
.tbl_tm_message_list .msg{float:left; margin:10px 0; width:100%;}
.tbl_tm_message_list a{color:#2284b6;}

.tbl_tm_message_list .msg_content textarea{
webkit-box-sizing:	border-box;
-moz-box-sizing:    border-box;
box-sizing:         border-box;
padding:10px;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0; border:none; width:100%;
resize:vertical;
}

.tbl_tm_message_list .sub_headings{float:left; width:100%; padding:10px 0; font-size:16px;}
.tbl_tm_message_list .footer-action{float:left; width:100%;
webkit-box-sizing:	border-box;
-moz-box-sizing:    border-box;
box-sizing:         border-box;
padding:10px;
background-color:#fff; border-top:1px solid #fff;
margin-bottom:1px;
}
.tbl_tm_message_list .footer-action .c1,
.tbl_tm_message_list .footer-action .c2{float:left; margin-right:10px;}
.tbl_tm_message_list .footer-action .c3{float:right;}

.upload_attachments{width:77px; height:16px; background:none; border:none;-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0; margin-top:7px;}
.uploadify:hover .uploadify-button {
background-color: transparent;
}

.tbl_tm_message_list #queue {
float: left;
width: 350px;
margin-top:10px;
margin-bottom:5px;
}

.tr_rejected{ background-color:#fcc3c3 !important;}
.tr_canceled{ background-color:#fee1e1 !important;}
.tr_working{ background-color:#d2fcc3 !important;}
.tr_approved{ background-color:#c3fcf6 !important;}
.tr_pending{ background-color:#fcf2c3 !important;}

.customer_order_tbl tr:hover{background-color:#FFF !important;}
.old_amount{text-decoration:line-through;}

.sale_report_action {
    height: 52px;
    position: relative;
    text-align: center;
    width: 100%;
	border-bottom:1px solid #CBCBCB;
}
.sale_report_action .subNav-tab {
    left: 20px;
    position: absolute;
	top: 10px;
}

.sale_report .dataTables_wrapper td {
font-size: 12px;
padding-bottom: 2px;
padding-top: 2px;
font-size:12px;
}
.link {
color: #333333;
}

.dtbl td.lg_h{background-color:#b6ffb6 !important;}
.sale_report .dataTables_wrapper tr:hover td{background-color:#fec393 !important;}

.payment_paid{font-weight:bold; color:#F00;}

.filter_tbl1 td{border:none !important;}

.map-home-page-holder {
width: 600px;
height: 430px;
overflow: hidden;
margin:auto;
}
.map-home-page-holder .map {
float: left;
width: 600px;
height: 480px;
}

.map-holder {
width: 950px;
height: 453px;
overflow: hidden;
margin-bottom: 7px;
}
.map-holder .map {
width: 100%;
height: 500px;
}


.world-map-spotlight-page-holder{	
margin:auto;
width: 485px;
height: 397px;
position: relative;
overflow: hidden;
}
.world-map-spotlight-page-holder .map {
float: left;
width: 485px;
height: 420px;
}

.pg_col_l{float:left; width:450px;}
.pg_col_r{float:right; width:450px;}
.w_p_100{width:100% !important;}

.season_calender td{text-align:center;border-right:1px solid #d6d6d6; font-size:9px;}
.season_calender .hd td{width:50px; font-weight:bold; text-align:center;
border-spacing:2px; background-color:#CCC; padding:10px; font-size:10px;}
.season_calender .hd .dt{width:50px; font-weight:bold;}
.season_calender .dt_{background-color:#e3e5e4; border-bottom:1px solid #d6d6d6;}

h3.block-title{padding-left:10px; padding-bottom:10px; display:block;}

.bookings_reviews .edit input{display:block;}
.children-age-list {
margin-bottom: 18px;
clear: left;
width:100%;
padding-top:10px;
}

.children-age-list label {
	margin-top: 10px;
	color: #484848;
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
.children-age-list .age-item {
width: 95px;
padding-right: 10px;
float: left;
}
.h_child_cb{display:none;}










.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 100%; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    .dd { float: left; width: 100%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }




.main-page-list{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.sub-page-list{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.main-page-list .li-heading{
	background: #777;
	color: #fff;
	background: #787878;
	background: -moz-linear-gradient(top,  #787878 0%, #242424 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#787878), color-stop(100%,#242424));
	background: -webkit-linear-gradient(top,  #787878 0%,#242424 100%);
	background: -o-linear-gradient(top,  #787878 0%,#242424 100%);
	background: -ms-linear-gradient(top,  #787878 0%,#242424 100%);
	background: linear-gradient(to bottom,  #787878 0%,#242424 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#242424',GradientType=0 );
	display:block;float:left;
}
.main-page-list .li-heading div{
padding: 15px 10px;
margin:0;
border:0;
white-space: normal;
color: #FFF;
font-weight: normal;
vertical-align: middle;
float:left;
}
.main-page-list .li-heading div.l {
background: url('../images/th_l.png') no-repeat bottom left;
}
.main-page-list .li-heading div.r {
border-right: 1px solid #757575;
}

.main-page-list .main-page-list-item {
display:block;float:left;
}
.main-page-list div {
margin:0;
border:0;
white-space: normal;
font-weight: normal;
vertical-align: middle;
border-color: #fff;
border-style: solid;
border-width: 0 1px 1px 0;
float:left;
}

.main-page-list li:hover {
background-color: #c0eaff;
}
.main-page-list li:nth-child(odd){
background-color: #ededed;
}

.main-page-list div {
padding: 5px 10px;
min-height:27px;
}
.main-page-list .c1{width:18px;}
.main-page-list .c2{width:250px;}
.main-page-list .c3{width:60px;}
.main-page-list .c4{width:80px;}
.main-page-list .c5{width:100px;}
.main-page-list .c6{width:314px;}
.main-page-list .c3-4{width:618px;}
.main-page-list .c5-6{width:100px;}


.dd-nestable .dd-heading .dd3-content{
	
	background: #777;
	color: #fff;
	background: #787878;
	background: -moz-linear-gradient(top,  #787878 0%, #242424 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#787878), color-stop(100%,#242424));
	background: -webkit-linear-gradient(top,  #787878 0%,#242424 100%);
	background: -o-linear-gradient(top,  #787878 0%,#242424 100%);
	background: -ms-linear-gradient(top,  #787878 0%,#242424 100%);
	background: linear-gradient(to bottom,  #787878 0%,#242424 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#242424',GradientType=0 );}
.dd-nestable .dd-placeholder{width:100%;}	
.dd-nestable .dd3-content,
.dd-nestable .dd-handle,
.dd-nestable .dd-placeholder{height: 38px;}
.dd-nestable .dd3-content div{display:inline-block;}

.dd-nestable .c1{width:18px;}
.dd-nestable .c2{width:250px;}
.dd-nestable .c3{width:60px;}
.dd-nestable .c4{width:80px;}
.dd-nestable .c5{width:100px;}
.dd-nestable .c6{width:314px;}
.dd-nestable .c3-4{width:618px;}
.dd-nestable .c5-6{width:100px;}

.footer-wrapper{
	margin-top:50px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	border-top:1px solid #c2c1c1;
	font-size:11px;
}

.input-fw{
	width:98%;	
}

#seasons_ical .ui-datepicker-calendar {
  display: none;
}

.full_row{float:left; margin-bottom:5px; width:100%;}

.always_show{display:block !important; visibility:visible !important;}
._pagination{font-size:13px; color:#000; text-align:center;}
._pagination *,
._pagination a{display:inline-block; margin:0 3px; color:#000; padding:5px 10px; line-height:1; background:#EFEFEF; border-radius:2px;text-decoration:none;}
._pagination a:hover{color:#fff; background:#6E6E6E;}
._pagination strong{color:#fff; background:#6E6E6E; }
.biz_cat{float:left; width:100%;}
#show_company{}
.merge_company_strike{text-decoration:line-through;}


.map_outer {
    float: left;
    height: 330px;
    overflow: hidden;
    width: 100%;
}
.map {
    float: left;
    height: 100%;
    min-height: 350px;
    width: 100%;
}

.fw_300{
	 width: 300px !important;
}

.note{
	font-size:11px;
	font-style:italic;
	color:#F00;
	padding-top:10px;	
}

.subNav-tab li.active{
border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.fieldset.fieldset-wide{
	padding-left:11px;	
	padding-right:11px;	
}
.form-list td.label{
	text-align: right;
	/*    padding-top: 19px !important;*/
	vertical-align:middle;
	padding-right: 10px;	
}

.link{
	color:#06C;	
	text-decoration:underline;
	cursor:pointer;
	background:none;
	border:none;
}
.link:hover{
	text-decoration:none;
}

.footer-text{
margin-top:20px;
border-top:1px solid #c1c1c1;
text-align:center;
padding:20px 15px;
width:100%;	
}

#s2id_autogen1 {float: left;}
.dataTables_length,
.dataTables_filter{margin-top:5px;}



.btn {
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
	font-family: 'Lato', sans-serif;
}


.actions .btn,
.btn.btn-sm {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn.default:hover, .btn.default:focus, .btn.default:active, .btn.default.active {
    color: #333333;
    background-color: lightgray;
}
.btn.default {
    color: #333333;
    background-color: #E5E5E5;
}

.red.btn:hover, .red.btn:focus, .red.btn:active, .red.btn.active {
    color: #FFFFFF;
    background-color: #c23f44;
}
.red.btn {
    color: #FFFFFF !important;
    background-color: #cb5a5e;
}

.green.btn {
    color: #FFFFFF;
    background-color: #26a69a;
}


