@media screen and (max-width: 414px){
    footer .navbar ul.footer-bot li{
        width: 100%;
    }
    .vertical-center .appstore-container a.appstore{
        width: 150px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
