@media screen and (min-width: 1200px){
  .cms-page-coverage
  {
    .coverage-container
    {
      height: 900px;
    }
  }
}

@media screen and (max-width: 1200px){
   .navbar .nav.navbar-nav li a.header-link{
        padding-left: 9px;
        padding-right: 9px;
    }
    .footer-top ul{
        display: flex;
    }
}