@media screen and (min-width: 767px){
  .sticking{
    z-index: 999;
    .contact-container{
      display: none;
    }
    .quick-links{
      right: 0 !important;
    }
  }
}

@media screen and (max-width: 768px){

  #top-bar {
    .quick-links{
      position: static !important;
      float: right;

    }
    .claim-container{
      display: none;
    }
  }
  .camera_wrap{
    height: 400px;
  }

  .vertical-center {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
    .play-video{
        overflow: hidden;
        .two-phone{
            margin-bottom: -100px;
        }
    } 
    
    
    .prices .offer-wrapper{
        width: 150px;
        height: 150px;
        .wrapper{
            .price-heading{
                font-size: 24px;
                
            }
            .price{
                font-size: 20px;
            }
        }
    }
    .how-to-wrap{
        position: relative;
        height: auto;
        width: auto;
        padding-left: 25px;
        .step-wrapper{
            width: 300px;
            height: 300px;
            float: none;
            display: block;
            margin: 0 auto;
            overflow: hidden;
            img{
                margin-top: 70px;
                width: 30%;
            }
        }
        .number-wrapper{ 
            height: 80px;
            width: 80px;
            left: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            p{
                line-height: 80px;
                vertical-align: middle;
                font-size: 40px;
            }
            &.one{
                top: 50px;
                left: 30%;
            }
            &.two{
                top: 350px;
                left: 30%;
            }
            &.three{
                top: 650px;
                left: 30%;
            }
        }
    }
    section .description{
        width: 100%;
    }
    section.how-it-works {
        .phone{
            margin-top: 20px;
            width: auto;
            height: 350px;
        }
        .overflow{
            overflow: hidden;
        }
    }

    section{
      &.section-contact-form{
        .form-container{
          .l-p-2{
            padding-left: 2px;
          }
          .r-p-2{
            padding-right: 2px;
          }

        }
      }

    }


    .footer-middle{
        display: none;
    }
    .footer-top ul{
        display: block;
        text-align: center;
    }
    .contact-container{
        display: none;
    }

    .navbar .nav.navbar-nav li {
        a.header-link{
            padding: 15px;
            text-align: center;
            border-bottom: 1px solid #eee;
        }
        &:last-child a.header-link{
            border: none;
        }
        
    }

    section.cleaned-over{
      .row-dry-cleaning{
        .l,
        .r {
          width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }

  .cms-page-how_it_works{

    .col-steps{
      padding-bottom: 40px;

      &:last-child{
        padding-bottom: 0;
      }
    }

  }

  .section-address{
    .col{
      padding-bottom: 10px;

      &:last-child{
        padding-bottom: 0;
      }
    }
  }
}