@media screen and (max-width: 1024px){
    .play-video .two-phones{
        right: 5%;
    }
    .navbar .nav.navbar-nav li a.header-link{
        padding-left: 8px;
        padding-right: 8px;
    }
}