@media screen and (max-width: 992px) {
    .how-to-wrap {
        position: relative;
        height: auto;
        width: 631px;
        padding-left: 25px;
        .step-wrapper {
            width: 200px;
            height: 200px;
            img {
                margin-top: 30px;
                width: 30%;
            }
        }
        .number-wrapper {
            height: 50px;
            width: 50px;
            p {
                line-height: 50px;
                vertical-align: middle;
                font-size: 40px;
            }
            &.one {
                left: 0;
            }
            &.two {
                left: 200px;
            }
            &.three {
                left: 400px;
            }
        }
    }
    h1.title {
        font-size: 48px;
    }
    .service-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .service-heading,
    .service-description {
        text-align: center;
    }
    p.reach-text.long {
        margin-top: 20px;
        float: left;
    }
    .play-video .two-phones {
        background-size: auto 100%;
        width: 45%;
        height: 110%;
        background-repeat: no-repeat;
        right: 0;
    }
    #top-bar {
        text-align: left;
        padding-left: 20px;
    }
    .play-video .two-phone {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .vertical-center {
        .container {
            position: relative;
        }
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 0;
    }

  .help-bucket{
    .col-3{
      padding-top: 40px;
    }

    .col-2{
      text-align: center;
      div{
        display: block;
      }
    }
  }

  .section-commercial-carousel{
    .item{
      .content{
        padding-top: 20px;
      }
    }
  }
}

// 992 - 768 only
@media screen and (max-width: 992px) and (min-width: 768px) {
    #logo {
        width: 90px;
        height: auto;
    }
    .navbar .nav.navbar-nav li {
        a.header-link {
            padding-left: 8px;
            padding-right: 8px;
            font-size: 12px;
        }
        &:last-child a.header-link {
            padding-right: 10px;
        }
    }
    .nav-wrap {
        padding: 0;
    }
    .logo-wrap {
        float: none;
    }

}