@media screen and (max-width: 480px){
    #top-bar .claim-container button.claim{
        margin-left: 0;
        margin-bottom: 10px;
    }
    .how-to-wrap{
        .number-wrapper{ 
            height: 80px;
            width: 80px;
            left: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            p{
                line-height: 80px;
                vertical-align: middle;
                font-size: 40px;
            }
            &.one{
                top: 50px;
                left: 20%;
            }
            &.two{
                top: 350px;
                left: 20%;
            }
            &.three{
                top: 650px;
                left: 20%;
            }
        }
    }
    h1.title{
        font-size: 40px;
    }
    section.news .news-head, section.news .newsdate{
        text-align:left;
    }
    footer .navbar ul.footer-bot li a{
        padding-left: 5px;
        padding-right: 5px;
    }
    .vertical-center .hero-text{
        font-size: 24px;
        span{
            font-size: 40px;
            &.s{
                font-size: 20px;
            }
        }
    }
    .vertical-center .appstore-container{
        bottom: 0;
        position: relative;
    }

  .management{
    .management-image{
      .ceo{
        position: static;
        width: 100%;
        height: auto;
      }
    }
  }


  .faqs{
    ol{
      > li{
        .m-h{
          font-size: 26px;
        }
      }
    }
  }


  .cms-page-coverage
  {

    .coverage-container
    {
      height: 300px;
      padding-left: 15px;
      padding-right: 15px;

      .box{
        padding-top: 50px;
      }

      #frm_coverage{

        .inputBox,
        .btn{
          width: 100%;
        }
        .btn{
          margin-top: 2px;
        }
      }

    }
  }

}


