@media screen and (max-width: 320px){
    .prices .offer-wrapper{
        width: 120px;
        height: 120px;
        .wrapper {
            .price-heading{
                font-size: 20px;
            }
            .price{
                font-size: 16px;
            }
        }
    }
    
}