@media screen and (max-width: 360px){
    .how-to-wrap{
        position: relative;
        height: auto;
        width: auto;
        padding-left: 0;
        .step-wrapper{
            width: 200px;
            height: 200px;
            float: none;
            display: block;
            margin: 0 auto;
            overflow: hidden;
            img{
                margin-top: 35px;
                width: 30%;
            }
        }
        .number-wrapper{ 
            height: 50px;
            width: 50px;
            left: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            p{
                line-height: 50px;
                vertical-align: middle;
                font-size: 30px;
            }
            &.one{
                top: 30px;
                left: 20%;
            }
            &.two{
                top: 230px;
                left: 20%;
            }
            &.three{
                top: 430px;
                left: 20%;
            }
        }
    }
    h1.title{
        font-size: 30px;
    }
    .vertical-center .appstore-container a.appstore{
        width: 120px;
    }
}