

<div class="dataTables_wrapper dataTables_extended_wrapper no-footer">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="dataTables_paginate paging_bootstrap_extended">
                <div class="pagination-panel">Page
                    <a href="#" class="btn btn-sm default prev" title="Prev" ng-click="prev()">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <input type="text" ng-change="filter()" ng-model="page" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;">
                    <a href="#" class="btn btn-sm default next" title="Next" ng-click="next()">
                        <i class="fa fa-angle-right"></i>
                    </a> of <span class="pagination-panel-total">{{totalPages}}</span>
                </div>
            </div>
            <div class="dataTables_length">
                <label>
                    <span class="seperator">|</span>View
                    <select ng-change="filter()" ng-model="view" ng-options="item as item.val for item in views track by item.id" class="form-control input-xsmall input-sm input-inline">

                    </select> records
                </label>
            </div>
            <div class="dataTables_info" role="status" aria-live="polite">
                <span class="seperator">|</span>Found total {{totalrecods}} records
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="table-group-actions pull-right"></div>
        </div>
    </div>
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover"
               data-order-col = "0"
               data-order-type = "asc">
            <thead>
            <tr role="row" class="heading">
                <th width="14%">Location Name</th>
                <th width="14%">Address</th>
                <th width="14%">Primary Contact number</th>
                <th width="14%">Alternative Contact Number</th>
                <th width="14%">Type</th>
                <th width="14%">Description</th>
                <th width="14%">Action</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="res in results" ng-style="getStyle(res)">
                <td>{{res[0]}}</td>
                <td>{{res[1]}}</td>
                <td>{{res[2]}}</td>
                <td>{{res[3]}}</td>
                <td>{{res[4]}}</td>
                <td>{{res[5]}}</td>
                <td>
                    <a href="{{res[6]}}" class="btn btn-sm default btn-xs"><i class="fa fa-edit"></i>Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="dataTables_paginate paging_bootstrap_extended">
                <div class="pagination-panel">
                    Page <a href="#" class="btn btn-sm default prev" title="Prev" ng-click="prev()">
                    <i class="fa fa-angle-left"></i>
                </a>
                    <input type="text" ng-model="page" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;">
                    <a href="#" class="btn btn-sm default next" title="Next" ng-click="next()">
                        <i class="fa fa-angle-right"></i>
                    </a> of
                    <span class="pagination-panel-total">{{totalPages}}</span>
                </div>
            </div>
            <div class="dataTables_length">
                <label>
                    <span class="seperator">|</span>View
                    <select ng-change="filter()" ng-model="view" ng-options="item as item.val for item in views track by item.id" class="form-control input-xsmall input-sm input-inline">
                    </select> records
                </label>
            </div>
            <div class="dataTables_info"  role="status" aria-live="polite">
                <span class="seperator">|</span>Found total {{totalrecods}} records
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="table-group-actions pull-right"></div>
        </div>
    </div>
</div>