.ll-skin-melon {
	font-size: 90%;
	   //  position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // background-color: black;
}
.ui-widget-content{
	border: none;
}
.ll-skin-melon .ui-widget {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background: #000025;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-melon .ui-datepicker {

	padding: 0;
    width: 24em;
    height: auto;

    	 top: 0!important;
    bottom: 0!important;
    left: 0!important;
    right: 0!important;
    margin: auto;
    position: fixed!important;
    padding-top: 0;
    z-index: 999999!important;
    max-height: 230px;
    
    
}

.ll-skin-melon .ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 15px;
}

.ll-skin-melon .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-title {
	margin-top: .4em;
	margin-bottom: .3em;
	color: #e9f0f4;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover,
.ll-skin-melon .ui-datepicker .ui-datepicker-next-hover,
.ll-skin-melon .ui-datepicker .ui-datepicker-next,
.ll-skin-melon .ui-datepicker .ui-datepicker-prev {
	top: .9em;
	border:none;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-next span,
.ll-skin-melon .ui-datepicker .ui-datepicker-prev span {
	background-image: url(images/ui-icons_ffffff_256x240.png);
	background-position: -32px 0;
	margin-top: 0;
	top: 0;
	font-weight: normal;
}
.ll-skin-melon .ui-datepicker .ui-datepicker-next.ui-state-disabled span,
.ll-skin-melon .ui-datepicker .ui-datepicker-prev.ui-state-disabled span {
	opacity: 0.2;
}
.ll-skin-melon .ui-datepicker .ui-datepicker-prev span {
	background-position: -96px 0;
}

.ll-skin-melon .ui-datepicker table {
	margin: 0;
}

.ll-skin-melon .ui-datepicker th {
	padding: 1em 0;
	color: #ccc;
	font-size: 13px;
	font-weight: normal;
	border: none;
	border-top: 1px solid #3a414d;
}

.ll-skin-melon .ui-datepicker td {
	background: #00abbd;
	border: none;
	padding: 0;
}

.ll-skin-melon td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: .5em;
	margin: 0;
	font-weight: normal;
	color: #efefef;
	font-size: 16px;
}

.ll-skin-melon .ui-state-disabled  {
	opacity: 1;
}

.ll-skin-melon .ui-state-disabled .ui-state-default {
	color: #157984;
}

.ll-skin-melon td .ui-state-active,
.ll-skin-melon td .ui-state-hover {
	background: #000025;
}
.ll-skin-melon .ui-datepicker-buttonpane{
	border-bottom: none;
	padding: 0;
	margin: 0;
}

.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {
    float: none;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 250px;
    background-image: url(icon/sprite-icons.png);
    background-position: -126px -25px;
    position: absolute;
    right: 0px;
    top: -25px;
    background-color: #000025;
    cursor: pointer;
    border: none;
    border-radius: 0;
    margin: 0;
}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current{
	display: none;
}
.dateOfBirth select{
		color:#000025;
	    margin: 1px 3px;
	    background-color: #929292;
	    border:none;
	    padding: 2px 3px;
}

.datePickerBackground {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 99999;
}

// #ui-datepicker-div {
//     max-height: 230px;
//     height: auto;
//     top: 0!important;
//     bottom: 0!important;
//     left: 0!important;
//     right: 0!important;
//     margin: auto;
//     position: fixed!important;
//     padding-top: 0;
//     z-index: 999999!important;
// }


//@media (min-width: 0px) and (max-width: 767px){
	
	// .ll-skin-melon .ui-datepicker {
	//  top: 0!important;
 //    bottom: 0!important;
 //    left: 0!important;
 //    right: 0!important;
 //    margin: auto;
 //    position: fixed!important;
 //    padding-top: 0;
 //    z-index: 999999!important;
 //    max-height: 230px;
	// }
//}