 {
	  .messageBoxWrap{
		text-align: center;
		margin-bottom: 20px;
		.title{

		}
	
		.confirmedMessage{
			.name{
				font-weight: 700;
			}
		}
		.referenceNumber{
			font-weight: 700;
		}
		&.errorMessageBoxWrap{
			
			.errorIcon{
				width:80px;
				height:80px;
				display: block;
				margin: auto;
				background-image: url(icon/sprite-icons.png);
				background-repeat: no-repeat;
				background-position: -4px -69px;
	   			background-size: 220px;
			}
		}
	}

	h2{
		text-align: center;
	}