.advertiseSec{

	&:nth-child(even){
			background-color: $gray-1500;
		}
		&:first-child{
			.advertiseMedia{
				//padding-top: 0;
			}
		}
	.advertiseMedia{
		margin-bottom: 10px;
		padding-top: 50px;
		padding-bottom: 50px;

		.media-side{
			width:50%;
			padding-right: 0;
			padding-left: 0;
			.media-object-wrap{
				.media-object{

				}
			}
		}
		.media-body {
			padding: 50px;
			font-size: 16px;
			.media-heading{
				// font-size: 36px;
				margin-bottom: 20px;
				@extend .extendPageHeading;
			}
			.whyCinemaList{
				    padding-left: 15px;
			}
		}
	}
}
.advertisePage{
	&.pageBottomContainer{
		padding-top: 50px;
		padding-bottom: 50px;
		.headWrap{
			text-align: center;
			margin-bottom: 20px;
			.heading{
				@extend .extendPageHeading;
			}
		}
		.packagesDesc{
			text-align: center;
			.contact{
				display: inline-block;
				padding-left: 5px;
				padding-right: 5px;
				font-weight: 800;
				color: $text-blue-dark;
			}
			.package{
				font-weight: 600;
				padding: 0px 10px 2px 10px;
				color:$white;
				&.gold{
					background-color: #DAA520;
				}
				&.silver{
					background-color: #a5a5a5;
				}
				&.bronze{
					background-color: #CD7F32;
				}
			}
		}
		.packageFormWrap{
			padding-top: 20px;
			.packageForm{
				.form-group{
					@include margin-top-bottom(5px,15px);
					textarea{
						&.form-control{&.input-scope{height: 100px;}}
						 resize: none;
					}
					.form-control{
							&.input-scope{
								background-color: $gray-1530;
								color:$gray-710;
								height:35px;
							}
						}
				}
			}
		}
	}
	
}



@media (min-width: 0px) and (max-width: 991px){
   .advertiseSec{

	&:nth-child(even){
		}
		&:first-child{
			.advertiseMedia{
			}
		}
	.advertiseMedia{
		.media-side{
			display: none;
			.media-object-wrap{
				.media-object{

				}
			}
		}
		.media-body {
			width:100%;
			padding: 0;
			.media-heading{
				text-align: center;
			}
			.whyCinemaList{
				padding-left: 0;
				//padding-left: 100px;
				list-style-type: none;
				text-align: center;
				li{
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 10px;
				}
			}
			.mediaDesc{
				text-align: center;
				p{

				}
			}
		}
	}
}
.advertisePage{
	&.pageBottomContainer{
		.headWrap{
			.heading{
			}
		}
		.packagesDesc{
			.contact{
			}
		}
		.packageFormWrap{
			.packageForm{
				.form-group{
					textarea{
					}
					.form-control{
							&.input-scope{
							}
						}
				}
			}
		}
	}
	
}
}
@media (min-width: 0px) and (max-width: 767px){

}
@media (min-width: 0px) and (max-width: 467px){

}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}