@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900';
@import 'https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';

$font-lato:'Lato', sans-serif;
$font-oswald:'Oswald', sans-serif;
$font-titillium:'Titillium Web', sans-serif;
$font-nunito:'Nunito', sans-serif;
$font-roboto:'Roboto', sans-serif;

$gray-100:#a3a3a3;
$gray-110:#f3f3f3;
$gray-120:#606060;
$gray-200:#2c2c2c;
$gray-300:#3a3a3a;
$gray-305:#3b3b3b;
$gray-310:#3c3c3c;
$gray-400:#4c4c4c;
$gray-410:#484848;
$gray-500:#fff;
$gray-600:#626262;
$gray-700:#7c7c7c;
$gray-710:#747474;
$gray-720:#787878;
$gray-800:#808080;
$gray-807:#878787;
$gray-900:#929292;
$gray-910:#9e9a9b;
$gray-1000:#a4a4a4;
$gray-1100:#b5b5b5;
$gray-1200:#fff;
$gray-1300:#c1c9d0;
$gray-1310:#c2c2c2;
$gray-1320:#cbcbcb;
$gray-1400:#d0d0d0;

$gray-1500:#ededed;
$gray-1510:#eeeded;
$gray-1520:#e9e9e9;
$gray-1530:#e6e3e3;
$gray-1600:#fefefe;
$gray-1610:#f5f5f5;
$gray-1620:#f0f0f0;

$text-blue-gray:#4e6276;

$white:#fff;
$black:#000;

$base-pink:#ee0c6e;
$base-light-pink:#fc86b6;
$base-green:#84c94c;
$base-red:#e24f4f;

$text-blue:#09264c;
$text-blue-dark:#000025;
$text-blue-darker:#030d22;
$text-blue-light:#00abbd;
$text-blue-light-link:#fff;
$text-blue-light-news:#6eb2f8;

$blue-dark-background:#fff;
$text-blue-lighter:#1f82e7;
$text-blue-low-lighter:#87a2da;

$text-yellow:#e0d41a;


$fb-blue:#1f7cd3;



