.messageBoxWrap{
	text-align: center;
	margin-bottom: 20px;
	padding:50px;
	.title{
		@include uppercase;
		margin-bottom: 25px;
	}
	.rightIcon{
		width:80px;
		height:80px;
		display: block;
		margin: auto;
		background-image: url(icon/sprite-icons.png);
		background-repeat: no-repeat;
		background-position: -100px -75px;
   		background-size: 235px;
   		margin-bottom: 20px;
	}
	.confirmedMessage{
		.name{
			font-weight: 700;
		}
	}
	.referenceNumber{
		font-weight: 700;
	}
	&.errorMessageBoxWrap{
		
		.errorIcon{
			width:80px;
			height:80px;
			display: block;
			margin: auto;
			background-image: url(icon/sprite-icons.png);
			background-repeat: no-repeat;
			background-position: -4px -69px;
   			background-size: 220px;
   			margin-bottom: 20px;
		}
	}
}

.movieSummery{
	.movieSummeryTable{
		width: 100%;
		tr{
			td{
				padding-top: 8px;
				padding-bottom: 8px;
				.title{
					font-weight: 700;
				}
			}
		}
	}
}
.bookingSummery{
	padding: 10px 20px;
	background-color: $gray-1500;
	.title{
		@include margin-top-bottom(5px,10px);
		font-weight: 700;
	}
	.bookingSummeryTable{
		width:100%;
	}
}
.btnWrapper{
	margin-top: 20px;
	border-top:1px solid $gray-1500;
	padding: 20px 0;
	text-align: center;
}
.transactionDesc{
	color:$base-pink;
	font-size: 14px;
	text-align: center;
	font-weight: 700;
	padding-bottom: 20px;
    padding-top: 0;
}

@media (min-width: 0px) and (max-width: 991px){
   
}
@media (min-width: 0px) and (max-width: 767px){

}
@media (min-width: 0px) and (max-width: 467px){
	.messageBoxWrap{
		padding: 50px 20px;
	}
	.btnWrapper{
		.btn{
			margin-bottom: 5px;
		}
	}

}

@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}