.buyTicketProcessWrap{
	background-color: $gray-1510;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #bebebe;
	.buyTicketProcess{
		padding-left: 0;
		list-style-type: none;
		text-align: center;
		li{
			display: inline-block;
			min-width: 100px;
			padding: 10px 50px;
			border-bottom: 2px solid $text-blue-light;
			margin-left: -4px;
			position: relative;
			&.current{
				font-weight: 600;
				.text{
					color:$black;
						&:after{
							content:'';
							display: block;
							position: absolute;
							width:13px;
							height:13px;
							border-radius: 50%;
							background-color: $text-blue-light;
							left:50%;
							margin-left: -4px;
							bottom: -19px;
							
						}
				}
			}

			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
			.text{
				color:$gray-800;
				position: relative;
			
			}
		}
	}
}

.buyTicketProcessTop{
	background-color: $gray-1620;
	border-top: 1px solid $gray-1400;
	border-bottom:1px solid $gray-1400;
	.filterSectionCont{
		    margin-bottom: -2px;
		.filterSectionWrap{
			.filterSectionList{
				padding-left: 0;
				list-style: none;
				margin-bottom: 0;
				text-align: center;
				.filterSectionLi{
					display: inline-block;
					    vertical-align: middle;
					    // padding:20px 30px;
					     padding:25px 30px 25px 60px;
					    //padding:0;
					   position: relative;
					   margin-left: -4px;
					    overflow: hidden;
				            white-space: nowrap;
				            -ms-text-overflow: ellipsis;
				            -o-text-overflow: ellipsis;
				            text-overflow: ellipsis;

					&.filterLabel{
						font-size: 16px;
						color:$gray-600;
						 //padding:25px 30px;
						.filterBy{

						}
					}
					&.selectFilm{
						
					}
					&.selectTheatre{
						.form-group{
							width:200px;
							.form-control{
								&.disabledDropdown{
									cursor: auto;
								background-image: none !important;
								}
								
							}

						}

					
						
					}
					&.selectFilmDate{
							&:after{
							content:'';
							display: block;
							position: absolute;
							right:0;
							bottom:0;
							top:0;
							width:1px;
							background-color: $gray-1400;
						}
						&:before{
							content:'';
							display: block;
							position: absolute;
							left:0;
							bottom:0;
							top:0;
							width:1px;
							background-color: $gray-1400;
						}
						.form-group{
							
							width:150px;
							
						}
					}
					.dropdownIcon{
						width:30px;
						height: 30px;
						// display: inline-block;
						// vertical-align: middle;
						background-repeat: no-repeat;
						background-size: 30px;
						background-position: center;
						position: absolute;
						left:15px;
						top:50%;
						margin-top: -15px;
						&.filmIcon{
							background-image: url(../images/film-icon.png);
						}
						&.theatreIcon{
							background-image: url(../images/location.png);
						}
						&.calendarIcon{
							background-image: url(../images/calendar.png);
						}

					}
					.selectTitle{
						    overflow: hidden;
						    text-overflow: ellipsis;
						       position: absolute;
						       font-weight: 600;
						       font-size: 16px;
						       overflow: hidden;
				            white-space: nowrap;
				            -ms-text-overflow: ellipsis;
				            -o-text-overflow: ellipsis;
				            text-overflow: ellipsis;
			                left: 60px;
						    right: 30px;
						    text-align: left;
					}
					.form-group{
						display: inline-block;
						vertical-align: middle;
						margin-bottom: 0;
						width:200px;
						.form-control{
							
							cursor: pointer;
							width:100%;
							color:$black;
							font-weight: 600;
							font-size: 0px;
							background-color: transparent;
							border-color: transparent;
						    border: none;
						    box-shadow: none;
						    -webkit-box-shadow: none;
						    outline: none;
						    border-radius: 0;
						    appearance: none;
						    -moz-appearance: none;
						    -webkit-appearance: none;
						    background-image: url(../images/down-chevron-black.svg);
						    background-size: 10px;
						    background-repeat: no-repeat;
						    background-position: right 13px center;
						   	
						     overflow: hidden;
				            white-space: nowrap;
				            -ms-text-overflow: ellipsis;
				            -o-text-overflow: ellipsis;
				            text-overflow: ellipsis;
				            padding-left: 20px;
				            padding-right: 30px;
				            position: absolute;
							    top: 0;
						    left: 0;
						    width: 100%;
						    height: 100%;
						    &:focus,&:active,&:visited{
						    	outline: none;
						    }
						    option{
						    	font-size: 14px;
						    	font-weight: 400;
						    }
						}
					}
				}
			}
		}
	}
	.filmDetailsCont{
		padding-top: 25px;
		padding-bottom: 25px;
		.filmDetailsWrap{
			display: table;
			width:100%;
			.filmDetails{
				display: table-cell;
				vertical-align: middle;
				.filmtitle{
					@include margin-top-bottom(0,15px);
					font-size: 36px;
					    line-height: 0.9em;

				}
				.theaterDetails{
						padding-left: 0;
						list-style: none;
						margin-bottom: 0;
						@include uppercase;
					li{
						display: inline-block;
					    vertical-align: middle;
					    padding-left: 15px;
					    padding-right: 15px;
					    border-left: 1px solid $black;
					    &:first-child{
					    	padding-left: 0;
					    	border-left: none;
					    }
					    .selectedHall{
							
					    }
					    .selectedDate{

					    }
					    .selectedTime{

					    }
					}
				}
			}
			.bookingTime{
				display: table-cell;
				vertical-align: middle;
				.time{
					min-width: 100px;
					padding: 5px 35px;
					background-color: $gray-1100;
					font-size: 18px;
					display: block;
    				float: right;
					color:$white;
					border-radius: 20px;
				}
			}
		}
	}
}


.buyTicketsContainer{
	.screenSection{
		padding: 40px 60px 0 20px;
		&:after{
			content:'';
			display: block;
			position: absolute;
			right:0;
			top:0;
			bottom:0;
			width:30px;
			background-image: url(../images/shadow-gradient.png);
			    background-position: right bottom;
		}
			.hederWrap{
				.title{
					font-size: 30px;
					margin-top: 0px;
    				margin-bottom: 10px;
				}
				.duration{
					    font-size: 13px;
    					font-weight: 800;
				}
			}
			.screenWrap{
				border-bottom: 1px solid $gray-1400;
				.screenTitleWrap{
					    padding-top: 30px;
					.iconLocation{
						width:25px;
						height: 25px;
						display: inline-block;
						vertical-align: middle;
						background-repeat: no-repeat;
						background-size: 25px;
						background-position: center;
						background-image: url(../images/location.png);

					}
					.screenLabel{
						display: inline-block;
						vertical-align: middle;
						font-size: 23px;
    					font-weight: 300;
    					margin-left: 10px;
					}
				}
				.screenTimesWrap{
					padding-top: 30px;
					padding-bottom: 30px;
					.btnRow{
						margin-left: -10px;
						margin-right: -10px;
						.btnWrap{
							margin-bottom: 15px;
							float: left;
							width: 20%;
							padding-left: 10px;
							padding-right: 10px;
							.timeBtn{
								width:100%;
								font-size: 15px;
							
							}
						}
					}
						
					

				}
				&:last-child{
					
						border-bottom: none;
					}
					
			}
		
	}
	.bannerSection{
		padding: 40px 20px 0 20px;
	}
}
.buyTicketsContainer{
	.buyTicketsHeader{
		text-align: center;
		font-size: 18px;
		margin-bottom: 30px;
		margin-top: 30px;
		.selectedCountTitle{
			@include uppercase;
		}
		.selectedSeatTitle{
			color:$gray-807;
		}
	}
	.countDeviderWrap{
		.countDevider{
			    	text-align: center;
			        width: 100%;
			        margin:auto;
			        max-width: 300px;
			        margin-bottom: 40px;
			.devideIcon{
				width:40px;
				height:40px;
				background-size:40px;
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				    display: block;
				     background-color: $black;
				    
				    &.disabled{
				    	background-color: $gray-1100;
				    }
				&.minus{
					 -webkit-mask:  url(../images/circle-minus-black.svg) no-repeat 50% 50%;
					mask: url(../images/circle-minus-black.svg) no-repeat 50% 50%;
					-webkit-mask-size:40px;
				    mask-size:40px;
					&.disabled{
					//background-image: url(../images/circle-minus-gray.svg);
					}
				}
				&.add{
					-webkit-mask:  url(../images/circle-plus-black.svg) no-repeat 50% 50%;
					mask: url(../images/circle-plus-black.svg) no-repeat 50% 50%;
					-webkit-mask-size:40px;
				    mask-size:40px;
					&.disabled{
					//background-image: url(../images/circle-minus-gray.svg);	
					}
				}
			}
			.seatTicketWrap{
				min-height:40px;
				padding-left: 20px;
				padding-right: 20px;
				width:200px;
				margin: auto;
				@include uppercase;
				
				.qty{
					display: inline-block;
					vertical-align: middle;
					font-size: 24px;
					font-weight: 600;
					&:focus{

					}
				}
				.typeText{
					display: inline-block;
					vertical-align: middle;
					font-size: 24px;
					font-weight: 600;
				}
				.ticketPrice{
					font-size: 16px;
					font-weight: 600;
					    text-transform: none;
				}
				.age{

				}
			}
			
		}
	}

	.ticketSummary{
		.summaryTable{
			tr{
				td{
					padding-top: 20px;
					padding-bottom: 16px;
					&:last-child{
						text-align: right;
					}

				}
			}
			.tableTitle{
				font-size: 18px;
				text-align: left;
				font-weight: 600;
				text-transform: uppercase;
			}
			.selectedSeats{
				font-size: 14px;
				text-align: left;
				font-weight: 600;
				//text-transform: uppercase;
				.seat{
					padding-left: 5px;
					padding-right: 5px;
					    display: inline-block;
					    text-transform: none;
				}
			}
			.borderBottom{
				border-bottom: 1px solid $gray-1320;
			}
			.lessPadding{
				td{
					padding-top: 18px;
					padding-bottom: 0px;
				}
				
			}
			.boldtext{
				font-size: 16px;
				font-weight: 800;
				@include uppercase;
			}
			.priceText{
				text-transform: none;
			}
			.labelText{
			font-size: 14px;
			//text-transform: uppercase;
			}
			.grayText{
				font-size: 14px;
				@include uppercase;
				color:$gray-120;
			}
		}
	}
	.selecttheSeat{
		padding-top: 50px;

	}
	.legendsWrap{
				//padding-bottom: 50px;
				padding-top: 50px;
				.legends{
					padding-left: 0;
					list-style-type: none;
					text-align: center;
					li{
						margin-right: 20px;
						display: inline-block;
						.icon{
							width:15px;
							height:15px;
							display: inline-block;
							vertical-align: middle;
							margin-right: 10px;
						}
						.text{
							display: inline-block;
							vertical-align: middle;
							font-size: 16px;
						}
						&.selected{
							.icon{
								background-color: $base-green;
							}
						}
						&.available{
							.icon{
								background-color: $text-blue-light;
							}
						}
						&.reserved{
							.icon{
									background-color: $base-pink;
							}
						}
						&.unavailable{
							.icon{
								background-color: $gray-1510;
							}
						}
						
					}
				}
			}
}




.btnFooterContain{
	border-top: 1px solid $gray-1400;
	padding-bottom: 100px;
	    margin-top: 50px;
	.btnFooterWrapper{
		text-align: center;
		.sectionDetailWrap{
			margin-top: 30px;
			margin-bottom: 30px;
			.sectionText {
				font-size: 18px;
			}
		}
		.sectionBtnWrap{
			margin-top: 15px;
			.btnWrap{
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				&:last-child{
					margin-right: 0;
				}
				.btn-footer{
					padding: 15px 25px;
					@include uppercase;
					    font-size: 16px;
					&.btn-continue{
						width: 250px;
					}
				}
			}
		}
	}
}











.ticketSection {
	@include padding-top-bottom(50px,50px);
	&.buyTicketsFormSection{
		.buyTicketsFormWrap{
			.buyTicketTitle{
				@include uppercase;
				@include margin-top-bottom(20px,20px);
				@extend .extendPageHeading;
			}
			.buyTicketsForm{
				.form-group{
					&.buttonWrap{
						margin-top: 30px;
						.btn{
							@include border-radius(3px);
						}
					}
					label{

					}

						.form-control{
							@include margin-top-bottom(5px,5px);
							&.input-scope{
								background-color: $gray-1530;
								color:$gray-710;
								height:35px;
							}
						}
				}
			}
		}
	}
	&.seatSelectionSection{
		.movieSelectionWrap{
			.movieSelectionHead{
				border-bottom: 1px dotted $text-blue-dark;
				padding-bottom: 20px;
				.movieTitle{
					@extend .extendSectionHeading;
					@include margin-top-bottom(0,0);
					.year{
						color: $base-pink;
					}
				}
				.movieDuration{
					font-weight: 600;
				}
			}
			.movieThatreWrap{
				border-bottom: 1px dotted $text-blue-dark;
				padding-bottom: 10px;
				.theatrelogo{
					max-width: 180px;
					@include margin-top-bottom(10px,10px);
				}
				.theatreTitle{
					font-weight: 800;
				}
			}
			.cinemaTimeFormWrap{
				padding-top: 20px;
				.buyTicketsForm{
					.form-group{
						.selectedDateWrapper{
							position: relative;
						}
						label{

					}
						.form-control{
							&.input-scope{
								background-color: $gray-1530;
								color:$gray-710;
								height:35px;
							}
						}
					}
				}
			}
			.cinemaSummeryWrap{
				padding: 10px 10px 20px 10px;
				background-color: $gray-1620;
				.summeryTitle{
					font-weight: 800;
					font-size: 16px;
					@include uppercase;
				}
				.summerytable{
					thead{
						border-bottom:1px solid #dadada;
					}
					.form-control{
						margin: auto;
					}
						tr{
							&.totalRow{
								border-top:1px solid #dadada;
								font-weight: 600;
							}
							th{
								text-align: left;
								padding: 8px;
								&:first-child{
									text-align: left;
								}
							}
							td{
								padding: 5px 3px;

								text-align: center;
								&:first-child{
									text-align: left;
								}
							}
						}
					}
			}
			.childConsider{
				font-size: 12px;
			}
			.buttonWrap{
				margin-top: 15px;
				.btn-group{
					    width: 100%;
					    .btn{
					    	width:50%;
					    	@include border-radius(2px);
					    	@include padding-top-bottom(10px,10px);
					    	&.btn-blue{
					    		@include padding-top-bottom(11px,11px);
					    	}
					    }
				}
			}
		}
		.seatSelectionWrap{
		
			.legendsWrap{
				margin-bottom: 50px;
				.legends{
					padding-left: 0;
					list-style-type: none;
					margin-left: 100px;
					li{
						margin-right: 20px;
						display: inline-block;
						.icon{
							width:15px;
							height:15px;
							display: inline-block;
							vertical-align: middle;
							margin-right: 10px;
						}
						.text{
							display: inline-block;
							vertical-align: middle;
							font-size: 16px;
						}
						&.selected{
							.icon{
								background-color: $base-green;
							}
						}
						&.available{
							.icon{
								background-color: $text-blue-light;
							}
						}
						&.reserved{
							.icon{
									background-color: $base-pink;
							}
						}
						&.unavailable{
							.icon{
								background-color: $gray-1510;
							}
						}
						
					}
				}
			}
			.seatStructureWrap{
				.sampleImageSeats{
					height:600px;
					background-size: contain !important;
				}
			}
		}
	}
	&.summerBookingSection{
		.headingWrap{
		border-bottom:1px solid $gray-1400;
		padding-left: 50px;
		padding-right: 50px;
			.title{
				@extend .extendPageHeading;
				@include margin-top-bottom(20px,20px);
			}
		}
		.bookingDetails{
			padding-left: 50px;
			.remaingTime{
				background-color: $text-blue-light;
				color:$white;
				padding-left: 20px;
				padding-right: 20px;
				@include margin-top-bottom(20px,20px);
			}
			.bookingDetailsTable{
			tr{
				td{
					padding: 8px 5px 8px 0px;
					&:last-child{
						padding-left: 20px;
						color: $gray-710;
					}
					&:first-child{
						font-weight: 800;
					}
					.couponCode{
						background-color: $gray-1620;
						color:$black;
						height:35px;
						padding-left: 5px;
						padding-right: 5px;
					}
					.termsWrap{
						.termsConditionWrap{
								display: inline-block;
								margin: 0;
								vertical-align: middle;
								margin-right: 10px;
							.termsCondition{
							
							}
						}
						
						.textWrap{
							display: inline-block;
							vertical-align: middle;
							.link{

							}
						}
					}
					
					a{
						color:$text-blue-dark;
						font-weight: 800;
						display: inline-block;
						text-decoration: underline;
					}
				&.bookingSummeryTableTd{
					padding-left: 0;
				}
				.bookingSummeryTableWrap{

						padding: 10px 10px 20px 10px;
						background-color: $gray-1620;
						.bookingSummeryTable{
							thead{
								border-bottom:1px dotted $black;
							}
						tr{
							&.totalRow{
								border-top:1px dotted $black;
								font-weight: 600;
							}
							th{
								padding: 8px 5px 8px 0px;
								text-align: center;
								padding: 3px;
								color: $black;
								&:last-child{
									padding-left: 20px;
									color: $black;
								}
								&:first-child{
									text-align: left;
									color: $black;
								}
							}
							td{
								padding: 8px 5px 8px 0px;
								padding: 3px;
								text-align: center;
								color: $black;
								&:last-child{
									padding-left: 0px;
									color: $black;
								}
								&:first-child{
									text-align: left;
									font-weight: 400;
									color: $black;
								}
							}
						}
					}
				}
				}
			}
			}
		}
		.userDetails{
			padding-left: 50px;
			padding-right: 50px;
			.userDetailsTable{
				margin-top: 50px;
				tr{
					td{
						padding: 8px 5px 8px 0px;
						&:first-child{
							font-weight: 800;
						}
					}
				}
			}
		}
		.btnWrapper{
			margin-top: 20px;
			border-top:1px solid $gray-1400;
			padding: 20px 0;
			text-align: center;
			.btn{
					@include border-radius(2px);
					@include padding-top-bottom(10px,10px);
					max-width:200px;
					width:100%;
			}
		}
	}
}


////////////////////////////////////////////////////////////////////////////////////////////////////
 .availability-tbl-holder {
        width: 100%;
    }

    .small-font, .small-font label, .small-font .input-group-addon, .table.small-font thead tr th, .table.small-font thead tr td {
        font-size: 11px;
    }

    #frm_2 .select2-container{
        width: 100% !important;
    }


    .small-font .input-sm {
        height: auto;
        padding: 3px 5px;
        font-size: 12px;
    }

    span.validation-advice {
        display: none !important;
    }

    .t-b-n {
        border-top: 1px solid #fff !important;
        border-right: 1px solid #fff !important;
        border-bottom: 1px solid #fff !important;
    }

    .btnCircle {
        color: #333333;
        background-color: #E5E5E5;
        height: 24px;
        width: 24px;
        text-align: center;
        padding: 3px 9px;
        border-radius: 25px !important;
        font-weight: bold;
        display: inline-block;
        line-height: 18px;
    }

    .addBtnRemove {
        margin-top: 2px;
        color: #fff;
        background-color: #f3565d;
    }
	.seatSelectionWrap{
			padding-top: 60px;
			position: relative;
			&:before{
				content:'';
				display: block;
				position: absolute;
				left:0;
				right:0;
				top:0;
				height:50px;
				background-image:url(../images/screen-image.png); 
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center top;
			}
		.block-plan-wrapper {
	        width: 100%;
	        overflow: auto;
	        position: relative;
	    	    border: 1px solid #d5d5d5;
	    	     //padding: 20px;
	        .selection {
		        position: absolute;
		        background: #BCE;
		        background-color: #BEC;
		        border-color: #8B9;
		    }

	    }
	    .block-plan-container {
	        position: relative;
	       
	        // border: 1px solid #d5d5d5;
	        .screenImage{
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url(images/screen.png);
				background-position: center;
				height: 100px;
				margin: auto;

	        }
	    }
		    #item-container {
	        position: relative;
	        margin: auto;
	    }
	}
    

 

	.legendsWrap{
		.legends {
	        margin: 0;
	        padding-bottom: 10px;
	        text-align: right;
	        li{
	        	.icon{
	        		 width: 10px;
				        height: 10px;
				        display: inline-block;
				        vertical-align: middle;
				        margin-right: 10px;
	        	}
	        }
	    }
	}

    .seatSelectionWrap .seat_item {
        position: absolute;
        height: 24px;
        width: 24px;
        top: 0px;
        font-size: 8px;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        line-height: 24px;
        border-radius: 5px !important;
    }

    .seatSelectionWrap .seat_item {
        background: #00abbd;
        cursor: pointer;

    }
	.seatSelectionWrap .seat_item:hover{
		background: #84c94c;
	}
	.seatSelectionWrap .seat_item.hold_seat:hover{
		    background: #eeeded;
	}
    .legendsWrap .legends li {
        margin-right: 20px;
        display: inline-block;
    }

    .legendsWrap .legends li.selected .icon,
    .seatSelectionWrap .selected_seat {
        background: #84c94c;
    }

    .legendsWrap .legends li .text {
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
    }

    .legendsWrap .legends li.available .icon {
        background: #00abbd;
    }

    .legendsWrap .legends li.reserved .icon,
    .seatSelectionWrap .booked_seat {
        background: #ee0c6e;
    }

    .legendsWrap .legends li.unavailable .icon,
    .seatSelectionWrap .hide_seat,
    .seatSelectionWrap .hold_seat {
        background: #eeeded;
        color: #000;
    }

    .seatSelectionWrap .booked_seat,
    .seatSelectionWrap .hold_seat {
        cursor: default;
        &:hover{

        }
    }
    .seatSelectionWrap .booked_seat{
    	&:hover{
    		background-color: #ee0c6e;
    	}
    }
    .modelBackground{
    	background-color: rgba(0, 0, 37, 0.7);
    	position: fixed;
    	top: 0;
    	left:0;
    	bottom: 0;
    	right: 0;
    	z-index: 9999;
    	display: none;

    }
    #summeryModal{
    	z-index: 10000;
    	
    		.modal-dialog{
    			
			    .modal-content{
			    	    width: 100%;
			    	    
			    	.modal-header{
			    		border-bottom: none;
			    		padding-left: 40px;
			    		 background-color:$white;
			    		.modal-title{
							text-transform: uppercase;
			    		}
			    	}
			    	.modal-body{
			    		padding:0;
			    		 background-color:$white;
			    		.table{
			    			margin-bottom: 0;
							tbody{
								tr{
									th{
										border-top: none;
										    padding: 8px 15px;
										    padding-left: 40px;
									}
									td{
										border-top: none;
										    padding: 8px 15px;
									}
									&.totalRow{
										th{
										 font-size: 16px;
										 padding: 20px 15px;
										 padding-left: 40px;
										}
										td{
											font-size: 16px;
											padding: 20px 15px;
											font-weight: 700;
										}
									}
								}
							}
			    		}
			    	}
			    	.seperator{
			    		height: 20px;
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,ffffff+100&1+0,0+100 */
						background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  rgba(241,241,241,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

			    	}
			    	.modal-footer {
			    		padding: 10px 15px;
			    		    //@include box-shadow(0px -2px 4px -3px $black);
			    		    border-top: none;
			    		text-align: center;
			    		 background-color:$white;
			    	}
			    }
		}
    }

    .disTable{
    	display: table;
    	width:100%;
    	height: 100%;
    	.disTableCell{
			display: table-cell;
			vertical-align: middle;
    	}
    }
    .paymentMethodRow{
    	padding-left: 15px;
    	padding-right: 15px;
    	    margin-top: 20px;
    .paymentMethodCont{
    	padding-left: 15px;
    	padding-right: 15px;
    	border-top: 1px solid $gray-1500;
	    .paymentMethodWrap{
	    	text-align: center;
	    	padding-top: 30px;
	    	
	    	.paymentTitle{
	    			@include uppercase;
	    			font-size: 16px;

	    	}
	    	.paymentMethods{
	    		    max-width: 260px;
	    			margin: auto;
	    	}
	    }
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: 768px) and (max-width: 1199px){
	.buyTicketProcessTop {
		.filterSectionCont {
			.filterSectionWrap {
				.filterSectionList {
					.filterSectionLi{
						    padding: 15px;
						     .form-group{
						     	    width: 110px;
						     }
						     &.selectFilmDate {
						     	.form-group{
						     		 width: 110px;
						     	}
						     }
						     &.selectFilm,&.selectTheatre{
						     	.form-group{
						     		width:175px;
						     	}
						     }
						     &.filterLabel{
						     	padding-left: 0;
						     }
					}
				}
			}
		}
	}

	
	.buyTicketsContainer {
		.screenSection {
			    //padding: 20px 40px 0 15px;
			.screenWrap {
				.screenTimesWrap {
					.btnRow {
						.btnWrap{
							   // width: 33.33%;

						}
					}
				}
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 991px){
.buyTicketProcessWrap{
	.buyTicketProcess{
		li{
			&.current{
				.text{
						&:after{
							
						}
				}
			}

			&:first-child{
			}
			&:last-child{
			}
			.text{
			}
		}
	}
}
.ticketSection {
	&.buyTicketsFormSection{
		.buyTicketsFormWrap{
			.buyTicketTitle{
			}
			.buyTicketsForm{
				.form-group{
					&.buttonWrap{
						.btn{
						}
					}
					label{

					}

						.form-control{
							&.input-scope{
							}
						}
				}
			}
		}
	}
	&.seatSelectionSection{
		.movieSelectionWrap{
			margin-top: 30px;
			.movieSelectionHead{
				.movieTitle{
					.year{
					}
				}
				.movieDuration{
				}
			}
			.movieThatreWrap{
				.theatrelogo{
				}
				.theatreTitle{
				}
			}
			.cinemaTimeFormWrap{
				.buyTicketsForm{
					.form-group{
						.selectedDateWrapper{
						}
						label{

					}
						.form-control{
							&.input-scope{
							}
						}
					}
				}
			}
			.cinemaSummeryWrap{
				.summeryTitle{
				}
				.summerytable{
					thead{
					}
						tr{
							&.totalRow{
							}
							th{
							}
							td{
							}
						}
					}
			}
			.buttonWrap{
				.btn-group{
					    .btn{
					    }
				}
			}
		}
		.seatSelectionWrap{
			
			.legendsWrap{
				.legends{
					text-align: left;
					margin-left: 0;
					margin-bottom: 15px;
					li{
						.icon{
						}
						.text{
						}
						&.selected{
							.icon{
							}
						}
						&.available{
							.icon{
							}
						}
						&.reserved{
							.icon{
							}
						}
						&.unavailable{
							.icon{
							}
						}
						
					}
				}
			}
			.seatStructureWrap{
				.sampleImageSeats{
					height:400px;
				}
			}
		}
	}
	&.summerBookingSection{
		.headingWrap{
			padding-left: 0;
			padding-right: 0;
			.title{
			}
		}
		.bookingDetails{
			padding-left: 0;
			.remaingTime{
			}
			.bookingDetailsTable{
			tr{
				td{
					
					.couponCode{
					}
					.termsWrap{
						.termsConditionWrap{
							.termsCondition{
							
							}
						}
						
						.textWrap{
							.link{

							}
						}
					}
					
					a{
					}
				&.bookingSummeryTableTd{
				}
				.bookingSummeryTableWrap{

				}
				}
			}
			}
		}
		.userDetails{
			padding-left: 0;
			padding-right: 0;
		}
		.btnWrapper{
			.btn{
				margin-bottom: 10px;
			}
		}
	}
}
	.buyTicketsContainer {
		.screenSection {
			   padding: 20px 15px 0 15px;
			   &:after{
			   	display: none;
			   }
			.screenWrap {
				.screenTimesWrap {
					.btnRow {
						.btnWrap{
							   // width: 33.33%;

						}
					}
				}
			}
		}
	}
}
@media (min-width: 768px){
	#summeryModal{
		    
		.modal-dialog{
			    margin: 0;
			    position: absolute;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    .modal-content{
			    	position: absolute;
				    right: 0;
				    top: 0;
				    bottom: 0;
				    border-radius: 0;
				    -webkit-box-shadow:none;
    				box-shadow: none;
    				border:none;
			    }
		}
	}
}
@media (min-width: 0px) and (max-width: 767px){

	.buyTicketProcessWrap{
		.buyTicketProcess{
			text-align: left;
			position: relative;
			&:before{
				content:'';
				position: absolute;
				left: 12px;
				top:0;
				bottom:0;
				border-left: 1px dotted $text-blue-dark;

			}
			li{
				border-bottom: none;
				padding: 5px 15px;
				padding-left: 25px;
				margin-left: 0;
				display: block;
				&.current{
					padding-left: 25px;
					.text{
							&:after{
								left: -15px;
							    bottom: 2px;
							}
							&:before{
								display: none;
							}

					}
				}

				&:first-child{
					padding-left:25px;
				}
				&.btn-timer{
					position: absolute;
				    right: 0;
				    top: 0;
				}
				.text{
					&:before{
						    content: '';
					    position: absolute;
					    left: -12px;
					    top: 7px;
					    width: 9px;
					    height: 1px;
					    border: 1px dotted $text-blue-dark;
					}
				}
			}
		}
	}
	.buyTicketsForm{
		.ticketSection {
			&.seatSelectionSection{
				padding-top: 25px;
			}
		}
	}
	.ticketSection{
		&.seatSelectionSection {
			.seatSelectionWrap {
				.legendsWrap {
					.legends{
						position: relative;
						  &:before,
						  &:after {
						    content: " ";
						    display: table;
						  }
						  &:after {
						    clear: both;
						  }
						li{
							margin-right: 0;
							width:50%;
							float: left;
						}
					}
				}
			}
		}
	}
   #summeryModal{
		    background-color:$white;

		.modal-dialog{
			    margin: 0;
			   // position: absolute;
			    right: 0;
			    left:0;
			    top: 0;
			    bottom: 0;
			    background-color:$white;
			    .modal-content{
				     border-radius: 0;
				     border: none;
				     position: absolute;
				    top: 0;
				    right: 0;
				    left: 0;
				    bottom: 0;

					background-color:$white;

				    .modal-header{
			    		padding-left: 15px;
			    		.modal-title{
			    		}
			    	}
			    	.modal-body{
			    		.table{
							tbody{
								tr{
									th{
										    padding: 8px 15px;
									}
									td{
										border-top: none;
										    padding: 8px 15px;
									}
									&.totalRow{
										th{
										 font-size: 16px;
										 padding: 20px 15px;
										}
										td{
											font-size: 16px;
											padding: 20px 15px;
											font-weight: 700;
										}
									}
								}
							}
			    		}
			    	}
			    	.modal-footer{
			    		padding: 10px;
			    		.btn{
			    			//margin-bottom: 10px;
			    			font-size: 11px;
			    		}
			    	}
				  
			    }
		}
	}
	.buyTicketProcessTop {
		.filterSectionCont {
			.filterSectionWrap{
					.filterSectionList {
							.filterSectionLi{
								display: block;
								padding: 15px;
								&:last-child{
									//padding-bottom: 30px;
								}
								&.selectTheatre{
									
									.form-group{
											@include calc(width,'100% - 40px');
										}
									&:after{
										display: none;
									}
									&:before{
										display: none;
									}
								}
								&.selectFilmDate{
									border-bottom: 1px solid $gray-1400;
									border-top: 1px solid $gray-1400;
									.form-group{
											@include calc(width,'100% - 40px');
										}
								}
								.form-group{
									@include calc(width,'100% - 40px');
								}
							}
						}
				}
			}
		.filmDetailsCont {
			.filmDetailsWrap {
				.filmDetails {
					.theaterDetails {
						li{
							display: block;
							padding-right: 0;
							padding-left: 0;
							border-left: none;
							&:first-child{
								padding-right: 0;
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
	.buyTicketsContainer {
		.screenSection {
			.screenWrap {
				.screenTimesWrap {
					.btnRow {
						.btnWrap{
							    width: 33.33%;
						}
					}
				}
			}
		}
		.countDeviderWrap {
			.countDevider {
				.devideIcon {
					    width: 30px;
					    height: 30px;
					    background-size: 30px;
					}
				.seatTicketWrap{
						padding-left: 10px;
    					padding-right: 10px;
    				    width: 190px;
    				    .qty{
							    font-size: 20px;
    				    }
    				    .typeText{
    				    	    font-size: 20px;
    				    }
				}
			}

		}
	}

	.btnFooterContain {
		margin-top: 20px;
		padding-bottom: 50px;
		.sectionDetailWrap{
			    margin-top: 15px;
   				margin-bottom: 15px;
		}
		.btnFooterWrapper {
			.sectionBtnWrap {
				.btnWrap {
					margin-bottom: 10px;
					.btn-footer{
						    padding: 10px 15px;
					}
				}
			}
		}
	}
    .paymentMethodRow{
	    	padding-left: 0px;
	    	padding-right: 0px;
	    .paymentMethodCont{
	    	padding-left: 15px;
	    	padding-right: 15px;
	    	border-top: 1px solid $gray-1500;
		    .paymentMethodWrap{
		    	
		    	.paymentTitle{

		    	}
		    	.paymentMethods{
		    		    max-width: initial;
		    	}
		    }
		}
	}
}
@media (min-width: 0px) and (max-width: 467px){
   .buyTicketProcessWrap{
	.buyTicketProcess{
		li{
			&.current{
				.text{
						&:after{
							
						}
				}
			}

			&:first-child{
			}
			&:last-child{
			}
			.text{
			}
		}
	}
}
.ticketSection {
	&.buyTicketsFormSection{
		.buyTicketsFormWrap{
			.buyTicketTitle{
			}
			.buyTicketsForm{
				.form-group{
					&.buttonWrap{
						.btn{
						}
					}
					label{

					}

						.form-control{
							&.input-scope{
							}
						}
				}
			}
		}
	}
	&.seatSelectionSection{
		.movieSelectionWrap{
			.movieSelectionHead{
				.movieTitle{
					.year{
					}
				}
				.movieDuration{
				}
			}
			.movieThatreWrap{
				.theatrelogo{
				}
				.theatreTitle{
				}
			}
			.cinemaTimeFormWrap{
				.buyTicketsForm{
					.form-group{
						.selectedDateWrapper{
						}
						label{

					}
						.form-control{
							&.input-scope{
							}
						}
					}
				}
			}
			.cinemaSummeryWrap{
				.summeryTitle{
				}
				.summerytable{
					thead{
					}
						tr{
							&.totalRow{
							}
							th{
							}
							td{
							}
						}
					}
			}
			.buttonWrap{
				.btn-group{
					    .btn{
					    }
				}
			}
		}
		.seatSelectionWrap{
			.legendsWrap{
				.legends{
					li{
						.icon{
						}
						.text{
						}
						&.selected{
							.icon{
							}
						}
						&.available{
							.icon{
							}
						}
						&.reserved{
							.icon{
							}
						}
						&.unavailable{
							.icon{
							}
						}
						
					}
				}
			}
			.seatStructureWrap{
				.sampleImageSeats{
				}
			}
		}
	}
	&.summerBookingSection{
		.headingWrap{
			.title{
			}
		}
		.bookingDetails{
			.remaingTime{
			}
			.bookingDetailsTable{
			tr{
				td{
					
					.couponCode{
					}
					.termsWrap{
						.termsConditionWrap{
							.termsCondition{
							
							}
						}
						
						.textWrap{
							.link{

							}
						}
					}
					
					a{
					}
				&.bookingSummeryTableTd{
				}
				.bookingSummeryTableWrap{

				}
				}
			}
			}
		}
		.userDetails{
		}
		.btnWrapper{
			.btn{
				max-width: initial;
			}
		}
	}
}


.buyTicketsContainer {
		.screenSection {
			.screenWrap {
				.screenTimesWrap {
					.btnRow {
						.btnWrap{
							    width: 33.33%;
							    .timeBtn{
									    min-width: 80px;
									        padding: 4px 4px;
							    }
						}
					}
				}
			}
		}
	}


	.buyTicketProcessTop .filmDetailsCont .filmDetailsWrap .filmDetails .filmtitle{
		    font-size: 28px;
	}
		.buyTicketProcessTop .filmDetailsCont .filmDetailsWrap .bookingTime .time{
			    padding: 5px 20px;
		}
		.buyTicketsContainer .countDeviderWrap .countDevider .devideIcon.add{
				
				-webkit-mask-size: 30px;
				mask-size: 30px;
		}
		.buyTicketsContainer .countDeviderWrap .countDevider .devideIcon.minus{
			-webkit-mask-size: 30px;
				mask-size: 30px;
		}
}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}