.imageOverlay{
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right:0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+0,000000+100&0+62,0.91+89 */
background: -moz-linear-gradient(top,  rgba(153,153,153,0) 0%, rgba(58,58,58,0) 62%, rgba(17,17,17,0.91) 89%, rgba(0,0,0,0.91) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(153,153,153,0) 0%,rgba(58,58,58,0) 62%,rgba(17,17,17,0.91) 89%,rgba(0,0,0,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(153,153,153,0) 0%,rgba(58,58,58,0) 62%,rgba(17,17,17,0.91) 89%,rgba(0,0,0,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#e8000000',GradientType=0 ); /* IE6-9 */

}


// a{
// 	&:hover{
// 		.fa-info{
// 				background-color:  #38eafd !important;
// 	        	&:after{
// 	        		border-top: 5px solid #38eafd !important;
// 	        	}
// 		}
// 		.fa-youtube-play{
// 			color:  #38eafd !important;
// 		}
// 	}
// }
a{
	&:hover{
		.icon{
			&.fa-info{
             background-color:  #38eafd;
	        	&:after{
	        		border-top: 5px solid #38eafd;
	        	}
        	}
		        &.fa-youtube-play{
		            color:  #38eafd;
	        }
		}
	}
}
.icon{
    &.fa{
        display: inline-block;
        vertical-align: middle;

        &.fa-info{
                background-color: $text-blue-light;
            padding: 5px 10px;
            position: relative;
            border-radius: 3px;
             color:$black;
             font-size: 13px;
              &:hover{
        		background-color:  #38eafd;
	        	&:after{
	        		border-top: 5px solid #38eafd;
	        	}
	        }
            &:after{
                content:'';
                display: block;
                position: absolute;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $text-blue-light;
                left: 8px;
                bottom: -5px;

            }
        }
        &.fa-youtube-play{
            font-size: 25px;
            color: $text-blue-light;
             &:hover{
        	color:  #38eafd;
        }
        }
    }
}

.captionWidgetWrap{
	color:$white;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 20px;
    padding-bottom: 10px;
	.captionTitleWrap{
		.captionTitle{
			@include margin-top-bottom(0,0);
			@extend .extendThumbHeading;

		}
	}
	.releaseDate{
		font-size: 12px;
	    text-transform: uppercase;
	    font-weight: 400;
	    line-height: 12px;
	    margin-bottom: 10px;
	}
	.iconContainer{
		.iconWrapper{
			.iconWrap{
				padding-left: 0;
				display: block;
				list-style-type: none;
				width: 100%;
				
				li{
					display: inline-block;
					padding: 0px 10px 0px 10px;
					position: relative;
					&:after{
						content:'';
						display: block;
						position: absolute;
						right: 0;
						width:1px;
						top:5px;
						bottom:5px;
						background-color: $white;
					}
					&:first-child{
						padding-left: 0;
					}
					&:last-child{
						&:after{
							display: none;
						}
					}
					.icon{
						margin-right: 5px;
					}
					.icoText{
							@extend .extendHeadingDesc;
							margin-bottom: 0;
							display: inline-block;
							vertical-align: middle;
							font-weight: 600;
					}
					.btn-scope{
						padding: 0 10px;
						min-width: 80px;
						border-radius: 3px;
					}
				}
			}
			.linksWrap{
				padding-left: 0;
				display: block;
				list-style-type: none;
				width: 100%;
				border-top: 1px dotted $white;
				padding-top: 3px;
				margin-bottom: 0;
				li{
					display: inline-block;
					padding:0px 10px 0px 10px;
					position: relative;
					color:$text-blue-light;
						font-weight: 600;
					&:after{
						content:'';
					
						position: absolute;
						right: 0;
						width:1px;
						top:3px;
						bottom:0px;
						background-color: $text-blue-light;
					}
					&:first-child{
						padding-left: 0;
					}
					&:last-child{
							&:after{display: none;}
					}
					a{
						color:$text-blue-light;
						font-weight: 600;
					}
					span{
						color:$text-blue-light;
						font-weight: 600;
					}
				}
			}
		}
	}
}


@media (min-width: 0px) and (max-width: 991px){
	.captionWidgetWrap{
	   	padding: 5px 15px;
	  
		.captionTitleWrap{
			.captionTitle{

			}
		}
		.releaseDate{
		}
		.iconContainer{
			.iconWrapper{
				.iconWrap{
					
					li{
						&:after{
						}
						&:first-child{
						}
						&:last-child{
							&:after{
							}
						}
						.icon{
						}
						.icoText{
						}
						.btn-scope{
						}
					}
				}
				.linksWrap{
					li{
						
						a{
						}
					}
				}
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 467px){
	  .captionWidgetWrap{
	   	padding: 5px 7px;
	  
		.captionTitleWrap{
			.captionTitle{

			}
		}
		.releaseDate{
		}
		.iconContainer{
			.iconWrapper{
				.iconWrap{
					
					li{
						&:after{
						}
						&:first-child{
						}
						&:last-child{
							&:after{
							}
						}
						.icon{
						}
						.icoText{
						}
						.btn-scope{
						}
					}
				}
				.linksWrap{
					li{
						
						a{
						}
					}
				}
			}
		}
	}

}