.contactUsPage{
	.contactSide{
		color:$text-blue-dark;
		padding: 50px;
		padding-right: 25px;
		padding-left: 150px;
		.contactForm{
			.form-group{
				@include margin-top-bottom(5px,20px);
					&.formDesc{
						font-weight: 600;
						
					}
					textarea{
						&.form-control{&.input-scope{height: 100px;}}
						 resize: none;
					}
					.form-control{
						margin-top: 5px;
							&.input-scope{
								background-color: $gray-1530;
								color:$gray-710;
								height:35px;
							}
						}
				}
		}
		.contactDetailsWrap{
			border-bottom: 1px solid $gray-1400;
			padding-bottom: 20px;
			&:last-child{
				border-bottom: none;
			}
			.detailTitle{
				font-weight: 600;
				font-size: 18px;
			}
			.detailList{
				padding-left: 0;
				@extend .extendUlListDefault;
				

				.detail{
					display: block;
					padding-left: 30px;
					padding-top: 10px;
					padding-bottom: 5px;
					position: relative;
					&:before{
						width:25px;
						height:25px;
						display: block;
						content:'';
						background-image: url(icon/sprite-icons.png);
						background-size: 300px;
						position: absolute;
						left:0;
						top:8px;
					}
					&.phone{
						&:before{ background-position: -123px -61px;}
					}
					&.email{
						&:before{ background-position: -153px -62px;}
					}
					&.no-icon{
						&:before{ background-position: 100px 100px;}
					}
					.detailLabel{
						color:$text-blue-dark;
					}
				}
			}
		}
	}
}