.drawLineDown{
  height:0;
  opacity: 0;
}
.drawLineDown.go{
 -webkit-animation-name: drawLineDown;
 -moz-animation-name: drawLineDown; 
 -o-animation-name: drawLineDown; 
  animation-name: drawLineDown;
}
@-webkit-keyframes drawLineDown { /* Chrome, Safari */
    0% {height:0%; opacity: 0;}
    100% {height:100%; opacity: 1;}
}
@-moz-keyframes drawLineDown { /* FF */
  0% {height:0%; opacity: 0;}
    100% {height:100%; opacity: 1;}
}
@-o-keyframes drawLineDown {
 0% {height:0%; opacity: 0;}
    100% {height:100%; opacity: 1;}
}
@keyframes drawLineDown {
  0% {height:0%; opacity: 0;}
    100% {height:100%; opacity: 1;}
}

.halfRotateY{
  transform: rotateY( 0deg );
}
.halfRotateY.go{
 -webkit-animation-name: halfRotateY;
 -moz-animation-name: halfRotateY; 
 -o-animation-name: halfRotateY; 
  animation-name: halfRotateY;
}
@-webkit-keyframes halfRotateY { /* Chrome, Safari */
    0% { transform: rotateY( 0deg ); }
    100% { transform: rotateY( -30deg ); }
}
@-moz-keyframes halfRotateY { /* FF */
  0% { transform: rotateY( 0deg ); }
    100% { transform: rotateY( -30deg );}
}
@-o-keyframes halfRotateY {
  0% { transform: rotateY( 0deg ); }
    100% { transform: rotateY( -30deg );}
}
@keyframes halfRotateY {
  0% { transform: rotateY( 0deg );}
    100% { transform: rotateY( -30deg );}
}





//  a.nav-effect {
//     padding: 10px;
//     text-shadow: none;
//     -webkit-transition: color 0.3s;
//     -moz-transition: color 0.3s;
//     transition: color 0.3s;
//         &:before {
//            position: absolute;
//             left: 0;
//             width: 100%;
//             height: 2px;
//             background: $text-blue;
//             content: '';
//             opacity: 0;
//             -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
//             -moz-transition: opacity 0.3s, -moz-transform 0.3s;
//             transition: opacity 0.3s, transform 0.3s;
//             -webkit-transform: translateY(-10px);
//             -moz-transform: translateY(-10px);
//             transform: translateY(-10px);

//             top: 0;
//             -webkit-transform: translateY(-10px);
//             -moz-transform: translateY(-10px);
//             transform: translateY(-10px);
//         }
//         &:after{
//             position: absolute;
//             left: 0;
//             width: 100%;
//             height: 2px;
//             background: $text-blue;
//             content: '';
//             opacity: 0;
//             -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
//             -moz-transition: opacity 0.3s, -moz-transform 0.3s;
//             transition: opacity 0.3s, transform 0.3s;
//             -webkit-transform: translateY(-10px);
//             -moz-transform: translateY(-10px);
//             transform: translateY(-10px);

//             bottom: 0;
//             -webkit-transform: translateY(10px);
//             -moz-transform: translateY(10px);
//             transform: translateY(10px);
//         }
//         &:hover{
//             color: $text-blue;
//             &:before{
//                   opacity: 1;
//                 -webkit-transform: translateY(0px);
//                 -moz-transform: translateY(0px);
//                 transform: translateY(0px);
//             }
//             &:after{
//                 opacity: 1;
//                 -webkit-transform: translateY(0px);
//                 -moz-transform: translateY(0px);
//                 transform: translateY(0px);
//             }
//         }
//         &:focus{
//             color: $text-blue;
//             &:before{
//                  opacity: 1;
//                 -webkit-transform: translateY(0px);
//                 -moz-transform: translateY(0px);
//                 transform: translateY(0px);
//             }
//               &:after{
//                 opacity: 1;
//                 -webkit-transform: translateY(0px);
//                 -moz-transform: translateY(0px);
//                 transform: translateY(0px);
//             }
//         }
// }



// a.nav-effect2 {

//         &:before {
//            position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 70px;
//     height: 70px;
//     border: 2px solid rgba(0,0,0,0.1);
//     border-radius: 50%;
//     content: '';
//     opacity: 0;
//     -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
//     -moz-transition: -moz-transform 0.3s, opacity 0.3s;
//     transition: transform 0.3s, opacity 0.3s;
//     -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
//     -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
//     transform: translateX(-50%) translateY(-50%) scale(0.2);
//         }
//         &:after{
//            position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 70px;
//     height: 70px;
//     border: 2px solid rgba(0,0,0,0.1);
//     border-radius: 50%;
//     content: '';
//     opacity: 0;
//     -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
//     -moz-transition: -moz-transform 0.3s, opacity 0.3s;
//     transition: transform 0.3s, opacity 0.3s;
//     -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
//     -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
//     transform: translateX(-50%) translateY(-50%) scale(0.2);
//     width: 50px;
//     height: 50px;
//     border-width: 6px;
//     -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
//     -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
//     transform: translateX(-50%) translateY(-50%) scale(0.8);
//         }
//         &:hover{
            
//             &:before{
//                 opacity: 1;
//     -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
//     -moz-transform: translateX(-50%) translateY(-50%) scale(1);
//     transform: translateX(-50%) translateY(-50%) scale(1);
//             }
//             &:after{
//                opacity: 1;
//     -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
//     -moz-transform: translateX(-50%) translateY(-50%) scale(1);
//     transform: translateX(-50%) translateY(-50%) scale(1);
//             }
//         }
//         &:focus{
//             &:before{
//                opacity: 1;
//     -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
//     -moz-transform: translateX(-50%) translateY(-50%) scale(1);
//     transform: translateX(-50%) translateY(-50%) scale(1);
//             }
//               &:after{
//               opacity: 1;
//     -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
//     -moz-transform: translateX(-50%) translateY(-50%) scale(1);
//     transform: translateX(-50%) translateY(-50%) scale(1);
//             }
//         }
// }


//for portfolio nav
a.nav-effect3 {


        &:after{
         position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $gray-807;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
        }
        &:hover{
            
 
            &:after{
                height: 3px;
                opacity: 1;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                transform: translateY(0px);
            }
        }
        &:focus{
 
              &:after{
                height: 3px;
                opacity: 1;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                transform: translateY(0px);
            }
        }
}
/* Effect 17: move up fade out, push border */
.cl-effect-17 a {
  color: #10649b;
  text-shadow: none;
  padding: 10px 0;
}

.cl-effect-17 a::before {
  color: #fff;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  content: attr(data-hover);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.cl-effect-17 a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.cl-effect-17 a:hover::before,
.cl-effect-17 a:focus::before {
  opacity: 0;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

.cl-effect-17 a:hover::after,
.cl-effect-17 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
/* Effect 10: reveal, push out */
.cl-effect-10  {
  position: relative;
  z-index: 1;
}

.cl-effect-10 span {
  overflow: hidden;
  margin: 0 15px;
}

.cl-effect-10 span span {
  display: block;
  padding: 10px 20px;
  background: #0f7c67;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cl-effect-10 span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #0f7c67;
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-25%);
}

.cl-effect-10 span:hover span,
.cl-effect-10 span:focus span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}

.cl-effect-10 span:hover::before,
.cl-effect-10 span:focus::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

//loader styles ///////////////////////////
.loaderCont{
   position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    min-height: 100px;
  .loaderWrap{
    position: relative;
        margin-top: 50px;
  }
}

.cssload-thecube {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-top: 16px;
  position: relative;
  transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,170,189);
  animation: cssload-fold-thecube 3.84s infinite linear both;
    -o-animation: cssload-fold-thecube 3.84s infinite linear both;
    -ms-animation: cssload-fold-thecube 3.84s infinite linear both;
    -webkit-animation: cssload-fold-thecube 3.84s infinite linear both;
    -moz-animation: cssload-fold-thecube 3.84s infinite linear both;
  transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
  animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
    -webkit-animation-delay: 0.48s;
    -moz-animation-delay: 0.48s;
}
.cssload-thecube .cssload-c3:before {
  animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -moz-animation-delay: 0.96s;
}
.cssload-thecube .cssload-c4:before {
  animation-delay: 1.44s;
    -o-animation-delay: 1.44s;
    -ms-animation-delay: 1.44s;
    -webkit-animation-delay: 1.44s;
    -moz-animation-delay: 1.44s;
}



@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(45px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    transform: perspective(45px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    transform: perspective(45px) rotateY(180deg);
    opacity: 0;
  }
}

@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(45px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -o-transform: perspective(45px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -o-transform: perspective(45px) rotateY(180deg);
    opacity: 0;
  }
}

@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(45px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -ms-transform: perspective(45px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -ms-transform: perspective(45px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(45px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -webkit-transform: perspective(45px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -webkit-transform: perspective(45px) rotateY(180deg);
    opacity: 0;
  }
}

@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(45px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -moz-transform: perspective(45px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -moz-transform: perspective(45px) rotateY(180deg);
    opacity: 0;
  }
}