
.dealsPage{

	.dealsWrap{
		margin-bottom: 10px;
	}
}
.deals-modal{
	.mfp-close {
	    color: #333;
	    background-color: #fff;
	    opacity: 1;
	}
	.dealsBody{
		.header{
			border-bottom: 1px dotted rgba($text-blue-dark,0.16);
			margin-bottom: 10px;
			margin-top: 0;
			padding-bottom: 10px;
			font-size: 24px;
			@include uppercase;
		}
		.imageWrap{
			padding-top: 20px;
			padding-right: 30px;
			//border-right: 1px dotted $text-blue-dark;
		}
		.modalDescWrap{
			padding-top: 20px;
			padding-left: 30px;
			border-left: 1px dotted rgba($text-blue-dark,0.2);
		}
	}
}



@media (min-width: 0px) and (min-width: 1100px){
	.deals-modal{
		.mfp-close {
		    position: absolute;
		    left: -40px;
		}
	}
}