$text-color:#000;
$background-color:#f0f0f0;
$background-color-hover:#fff;

.dropdownWrapper {
   // margin: 10px;
    .dropDownTitle {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        box-shadow: none;
        background: transparent;
        // border: 1px solid #c8c8c8;
        cursor: pointer;
        display: block;
        height: 32px;
        line-height: 30px;
        padding: 0 12px 4px 15px;
        overflow: hidden;
        color: $text-color;
        font-weight: 600;
        font-size: 16px;
        text-align: left;
        position: relative;
       
        &:hover{
            text-decoration: none;

        }
        .dropDownTitleText {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
        }
        .triangle-bottom {
            
            margin-top: 10px;
            background-image:url(../images/down-arrow.svg);
            width:12px;
            height:12px;
            background-size: 12px;
            position: absolute;
            right: 0;
            top:0;
            // &:before {
            //     content: '\25bc';
            // }
        }
    }
    .dropdownItemsWrapperul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        box-sizing: border-box;
        //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
       background-color: $background-color;
        width: 100%;
        max-height: 200px;
        z-index: 400;
        overflow-y: auto;
        position: relative;
        width:100% !important;
        border-right:1px solid $gray-1400;
        border-left:1px solid $gray-1400;
        border-bottom:1px solid $gray-1400;
        &.isselectdisabled {
            display: none !important;
        }
        .dropDownListItemli {
            padding: 8px 10px;
            cursor: pointer;
            border-bottom:1px solid $background-color;
            color: $text-color;
            font-weight: 600;
            font-size: 14px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;

            &:hover {
                background-color: rgba($background-color-hover,0.6);
            }
        }
    }
    &.active {
        .dropdownItemsWrapperul {
            display: block;
            position: absolute;
            right: 0;
            top: 72px;
        }
    }
    &.isselectdisabled {
        .dropDownTitle {
            cursor: default;
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px){
    .dropdownWrapper{
        &.active {
            .dropdownItemsWrapperul{
                top: 62px;
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 767px){
    .dropdownWrapper{
        &.active {
            .dropdownItemsWrapperul{
                top: 62px;
            }
        }
    }
}