.eventsSec{

	&:nth-child(even){
			background-color: $gray-1500;
		}
		&:first-child{
			.eventsMedia{
				//padding-top: 0;
			}
		}
	.eventsMedia{
		margin-bottom: 10px;
		padding: 50px 0;

		.media-side{
			width:50%;
			padding-right: 0;
			padding-left: 0;
			.media-object-wrap{
				.media-object{

				}
			}
		}
		.media-body {
			padding: 50px;
			font-size: 16px;
			.media-heading{
				// font-size: 36px;
				margin-bottom: 20px;
				@extend .extendPageHeading;
			}
			.listDesc{
				font-weight: 600;
				margin-bottom: 10px;
			}
			.offersList{
				    padding-left: 15px;
			}
		}
	}
}
.eventsPage{
	&.pageBottomContainer{
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: $gray-1500;
		.headWrap{
			text-align: center;
			margin-bottom: 20px;
			.heading{
				@extend .extendPageHeading;
			}
		}
	
		.gatheringFormWrap{
			padding-top: 20px;
			width:100%;
			max-width: 700px;
			margin: auto;
			.gatheringForm{
				.form-group{
					@include margin-top-bottom(5px,15px);
					textarea{
						&.form-control{&.input-scope{height: 100px;}}
						 resize: none;
					}
					.form-control{
							&.input-scope{
								background-color: $white;
								color:$gray-710;
								height:35px;
							}
						}
				}
			}
		}
	}
	
}



@media (min-width: 0px) and (max-width: 991px){
   .eventsSec{

	&:nth-child(even){
		}
		&:first-child{
			.eventsMedia{
			}
		}
	.eventsMedia{
		.media-side{
			display: none;
			.media-object-wrap{
				.media-object{

				}
			}
		}
		.media-body {
			width:100%;
			padding: 0;
			.media-heading{
				text-align: center;
			}
			.offersList{
				padding-left: 0;
				//padding-left: 100px;
				list-style-type: none;
				text-align: center;
				li{
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 10px;
				}
			}
			.listDesc{

			}
			.mediaDesc{
				text-align: center;
				p{

				}
			}
		}
	}
}
.eventsPage{
	&.pageBottomContainer{
		.headWrap{
			.heading{
			}
		}
		.packagesDesc{
			.contact{
			}
		}
		.packageFormWrap{
			.packageForm{
				.form-group{
					textarea{
					}
					.form-control{
							&.input-scope{
							}
						}
				}
			}
		}
	}
	
}
}
@media (min-width: 0px) and (max-width: 767px){

}
@media (min-width: 0px) and (max-width: 467px){

}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}