.cms-page-movies,.dashboard,.login,.cms-page-theater-details,.cms-page-events{
  .footerParent{
    background-color: #e9e9e9;
  }
  .pageBottom{
    &:before{
         background-image: url(images/footer-bakground-grey.svg);
      }
    }
}
.pageBottom{
  padding-top: 50px;
  background-color:  $text-blue-dark;
  position: relative;
   //padding-bottom: 50px;
   position: relative;
   &:before{
    content:'';
    display: block;
    position: absolute;
    left:0;
    right: 0;
    top:0;
    height:400px;
    background-image: url(images/footer-bakground.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -50px;
   }

   .partners{
       //border-bottom: 1px solid rgba($white,0.32);
       padding-top: 50px;
       .logoTopSec{
        padding-bottom: 10px;
          .logoImg{
            width:150px;
            margin: auto;
          }
       }
       .logoText{
        color:$white;
        text-align: center;
        @include uppercase;
        font-size: 20px;
       }
       .parterSliderWrap{
        padding-bottom: 50px;
          .parterSlider{
            padding-left: 0;
            list-style-type: none;
            text-align: center;
              li{
                  display: inline-block;
                  padding: 30px 30px;
                  width: 220px;
                &:focus{
                  outline:none;
                }
              }
          }
       }
    }
    .newsCont{
      color:$white;
     
      .newsHead{
        @include margin-top-bottom(50px,50px);
        @include uppercase;
        text-align: center;
        font-size: 40px;
      }
      .newsWrap{
        padding-bottom: 30px;
        .newsTitle{
           @include margin-top-bottom(0px,0px);
            font-size: 16px;
            font-weight: 600;
        }
        .newsDate{
            @include margin-top-bottom(5px,5px);
            color:$text-blue-light-news;
             font-size: 14px;
        }
        .newsDesc{
          font-size: 14px;
        }
      }
      .moreNewsWrap{
        text-align: center;
        .moreNewsLink{
          @include uppercase;
          color:$text-blue-light-news;
          text-decoration: underline;
        }
      }
    }
}
footer{
    background-color: $gray-110;
   // padding-top: 60px;
    //padding-bottom: 60px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */

}


.footerMainSection{
padding-top: 80px;
padding-bottom: 80px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030d22+0,030d22+52&0.9+0,1+52 */
background: -moz-linear-gradient(top,  rgba(3,13,34,0.9) 0%, rgba(3,13,34,1) 52%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(3,13,34,0.9) 0%,rgba(3,13,34,1) 52%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(3,13,34,0.9) 0%,rgba(3,13,34,1) 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6030d22', endColorstr='#030d22',GradientType=0 ); /* IE6-9 */
.newsLetterWrap{
    .newsLetterFormWrap{
      .newsLetterForm{
            text-align: center;
            width:100%;
            max-width: 400px;
            margin: auto;
            .newsLetterText{
              font-size: 14px;
              text-align: left;
              width:100%;
             
              margin: auto;
              color:$white;
              @include margin-top-bottom(0px,20px);
              @include uppercase;

            }
        .form-group{
          width:100%;
          .input-group{
            width:100%;
            
            margin: auto;
            position: relative;
            .form-control{
                height:38px;
                background-color: rgba($white,0.1);
                color:$white;
                font-size: 13px;
                border-top-left-radius:4px;
                border-bottom-left-radius: 4px;
            }
            label.error{
              position: absolute;
              left: 0;
              bottom: -30px;
              right: 0;
            }
            .input-group-addon{
              padding: 0;
              border:none;
              width:120px;
              background-color: transparent;
              .btn-submit{
                width:100%;
                color:$white;
                padding: 9px 10px;
                background-color: $text-blue-lighter;
                font-weight: 400;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                font-size: 13px;
                &:hover{
                  opacity:0.9;
                }
              }
            }
          }
          .alert{

          }
          .w-form-done{
            display: none;
            color:$base-green;
          }
          .w-form-fail{
            display: none;
            color:$base-red;
          }
        }
      }
    }
  }
}

.footerNavSection{
  background-color: $text-blue-darker;
  padding:50px 100px;
  border-top: 1px solid rgba($gray-800,0.3);
  .footerNavWrap{
  .footerNav{
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 20px;
      li{
        padding-top: 6px;
        padding-bottom: 6px;
        a{
          color:$text-blue-low-lighter;
          &:hover{
            color:$white;
          }
        }
      }
      &.social-links{
        li{
          a{
             width:18px;
              height:18px;
              display:block;  
              text-decoration:none;
              text-indent:-999px;
              background-repeat: no-repeat;
              //background:url(icon/social-icons.png) no-repeat;
              background-size: 18px;
              @include transition(background-image 0.5s);
              &.facebook{
               background-image: url(icon/facebook-blue.svg);
                &:hover{
                  background-image: url(icon/facebook-white.svg);
                }
              }
              &.google{
                background-image: url(icon/google-plus-blue.svg);
                 &:hover{
                  background-image: url(icon/google-plus-white.svg);
                }
              }
              &.pinterest{
                  background-image: url(icon/pinterest-blue.svg);
                     &:hover{
                    background-image: url(icon/pinterest-white.svg);
                  }
                }
                &.twitter{
                  background-image: url(icon/twitter-blue.svg);
                   &:hover{
                  background-image: url(icon/twitter-white.svg);
                }
              }
              &.instragram{
                background-image: url(icon/instagram-blue.svg);
                &:hover{
                    background-image: url(icon/instagram-white.svg);
                  }
              }
          }
        }
      }
      &.footerLogoWrap{
        margin-bottom: 30px;
        .footerLogoImg{
          max-width: 100px;
          opacity: 0.2;
          // margin: auto;
          // margin-top: 20px;
        }
      }
      &.foterPartner{
        margin-bottom: 5px;
      }
      &.partnerText{
        margin-bottom: 0;
        color: #fff;
        @include uppercase;
        opacity: 0.3;
            font-size: 11px;
      }
    }
  }
}




.footer_baseline {
    float: left;
    width: 100%;
    padding: 20px 15px;
    border-top: 1px solid $text-blue-dark;
    background-color:$text-blue;
  .copyright {
      float: left;
      font-size: 14px;
      font-weight: 400;
      color:#87a2da;
      .copy {
          float: left;
      }
  }
  .solution {
      float: right;
      font-size: 14px;
      color: #87a2da;
      font-weight: 400;
      margin: 0;
      text-align: right;
      a {
        color: #87a2da;
        text-decoration: none;
        display: inline-block;
        &.layoutIndex {
          color: $white;
          text-decoration: none;
      }
    }
  }
}


//////////////////////////////////////////////////////////////////////////////////////
@media (min-width: 0px) and (max-width: 767px){

  .pageBottom{
    padding-top: 20px;
    &:before{
      top: -20px;
    }
    .triangleShapeWrap{
      // min-height: 150px;
      // position: absolute;
      // top:0;
      // left:0;
      // right:0;
    }
  
   .partners{
       .logoTopSec{
          .logoImg{
          }
       }
       .logoText{
       }
       .parterSliderWrap{
          .parterSlider{
              li{
              }
          }
       }
    }
    .newsCont{
      text-align: center;
      .newsHead{
      }
      .newsWrap{
        .newsTitle{
        }
        .newsDate{
        }
        .newsDesc{
        }
      }
      .moreNewsWrap{
        .moreNewsLink{
        }
      }
    }
}
.footerMainSection{
 .newsLetterWrap{
    .newsLetterFormWrap{
      .newsLetterForm{
            .newsLetterText{
              text-align: center;
            }
        .form-group{
          .input-group{
            .form-control{
            }
            .input-group-addon{
              .btn-submit{
              }
            }
          }
        }
      }
    }
  }
}

.footer_baseline {
  text-align: center;
  .copyright {
    width: 100%;
     text-align: center;
    .copy{
      width: 100%;
     text-align: center;
    }
    
    }
    .solution {
    width: 100%;
     text-align: center;
    }
  }


  .footerMainSection{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footerNavSection{
    padding: 50px;
    text-align: center;
    .footerNavWrap{
        .footerNav {
          li{
            text-align: center;
          }
          &.social-links{
            text-align: center;
            li{display: inline-block;
              margin: 0 5px;
            }
          }
          &.footerLogoWrap{
            .footerLogoImg{
              margin: auto;
            }
          }
        }
      
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////
@media (min-width: 0px) and (max-width: 467px){

  .pageBottom{
    .triangleShapeWrap{
    }
  
   .partners{
       .logoTopSec{
          .logoImg{
          }
       }
       .logoText{
       }
       .parterSliderWrap{
          .parterSlider{
              li{
              }
          }
       }
    }
    .newsCont{
      .newsHead{
      }
      .newsWrap{
        .newsTitle{
        }
        .newsDate{
        }
        .newsDesc{
        }
      }
      .moreNewsWrap{
        .moreNewsLink{
        }
      }
    }
}



.footerMainSection{
 .newsLetterWrap{
    .newsLetterFormWrap{
      .newsLetterForm{
            .newsLetterText{
              text-align: center;
            }
        .form-group{
          .input-group{
            display: block;
            .form-control{
              display: block;
              margin-bottom: 10px;
                  border-top-left-radius:0px;
                border-bottom-left-radius:0px;
            }
            .input-group-addon{
              display: block;
              width: 100%;
              .btn-submit{
                display: block;
                @include border-radius(3px);
              }
            }
          }
        }
      }
    }
  }
}


.footer_baseline {
  .copyright {
    .copy{
    }
    
    }
    .solution {
    }
  }


  .footerMainSection{
  }
  .footerNavSection{
    padding: 20px 0px;
  }
}
