$iconWidth:35px;

.carousel{
	    display: table;
	    width: 100%;
	    padding-top: 60px;
	    // height: 100%;
	.main-carousel{
		    position: relative;

		.carousel-tem{
			position: relative;
		}
		.camera_caption > div{
			background-color: transparent;
			display: table;
			width:100%;
			padding: 0;
		}
			.captionContainer{
				    position: absolute;
				    right: 0;
				    bottom: 30%;
				    color: white;
				    width: 60%;
			        height: 30%;
			         max-width: 720px;
			        @include uppercase;
				.captionWrapLeft{
					text-align: right;
					vertical-align: bottom;
					// padding-bottom: 1px;
					//overflow: hidden;
					.text{
						background-color: $base-pink;
						padding: 3px 5px;
						margin:0;
						// display: inline-block;
						// margin-right: -2px;
						// &:last-child{
						// 	margin-right: 0;
						// }
					}
					.text-top{
						&.text{
							    font-size: 34px;
    							font-weight: 700;
						}
					}
					.text-middle{
						&.text{
							font-size: 34px;
						    font-weight: 300;
						    line-height: 35px;

						}
					}
					.text-bottom{
						   
						&.text{
							    font-size: 52px;
								font-weight: 700;
								line-height: 50px;
						}
					}
					
				}
				.captionWrapRight{
					background-color: rgba($black, 0.5);
					width: 70%;
					.captionDetailsWrap{
							position: relative;
							    padding-top: 30px;
							    padding-bottom: 30px;
							    padding-right: 30px;
							    padding-left: 50px;
					
						.captionDetails{
							.detail-text{
								font-size: 58px;
							    font-weight: 600;
							    margin-bottom: 10px;
								.text{
									display: block;
									line-height: 45px;
								}
							}
							.detail-btn-wrap{
								padding-left: 5px;
								.btn-more{
									position: relative;
									display: table;
									&:hover{
										text-decoration: none;
										.btn-text{
											text-decoration: none;
										}
									}
									.btn-text{
										width:calc(100% - #{$iconWidth});
										display: table-cell;
										vertical-align: middle;
									}
									.btn-ico-wrap{
										display: table-cell;
										vertical-align: middle;
										    background-color: $text-blue-dark;
										.btn-icon{
											
										}
									}
									
								}
								
							}
						}
					}
				}
			}
		.camera_pag{
			    position: absolute;
			    right: 0;
			    left: 0;
			    bottom: 60px;
			    z-index: 999;
			    .camera_pag_ul {
			    	text-align: center;
			    	li{
			    		width:8px;
			    		height:8px;
			    		&.cameracurrent{
			    			span{
								background-color: $base-pink;
			    			}
			    		}
			    		span{
							top:0;
			    			left:0;
			    		}
			    	}
			    }
		}
		.camera_loader{
			display: none !important;
		}
		.camera_wrap{
			margin-bottom: 0 !important;
		}
		.nav-body-tab{
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    right: 0;
			.nav{
				text-align: center;
				border-bottom: 10px solid $text-blue-light;

				li{
					float: none;
					display: inline-block;
					margin-left: -4px;

					&:first-child{
						margin-left: 0px;
					}
					a{	margin-right: 0;
						background-color: $text-blue-gray;
						border:none;
						border-radius: 0;
						color: $white !important;
						min-width: 160px;
						font-weight: 700;
					    padding: 12px 15px;
					    font-size: 15px;
					    @include transition(background-color 0.3s);
						&:hover{
							background-color: $text-blue-light;
						}

						
					}
					&.active{
							a{
								background-color: $text-blue-light;
								color: $white !important;
							}
							&:after{
								content:'';
								display: block;
								position: absolute;
								bottom:-20px;
								width: 0; 
								height: 0; 
								border-left: 12px solid transparent;
								border-right: 12px solid transparent;
								border-top: 12px solid $text-blue-light;
								left:50%;
								margin-left: -12px;
								z-index: 9;
							}
					}
				}
			}
		}
	}
}

.featuredMovies{
	.tabPaneWrap{
		
		.tab-content{
			.tab-pane{
				.panelWrapper{
					.panelLeft{
						float: left;
						position: relative;
						width:50%;
						
					}
					.panelMiddle{
						float: left;
						position: relative;
						width:25%;
					}
					.panelRight{
						float: left;
						position: relative;
						width:25%;
						.panelTop{
							position: relative;
						}
						.panelBottom{
							position: relative;
							
						}
					}
				}
			}
		}
	}
}
.advertisement{
	padding: 10px 0;
	.advertisementwrapper{
		.advertisement-carousel{
			.advertisement_camera_wrap{
				padding-left: 0;
				// padding-left: 100px;
				// padding-right: 100px;
			}
		}
	}
}
.aboutScope{
	padding: 50px 0;
	.aboutWrap{
		.aboutHead{
			font-size: 30px;
			@include uppercase; 
			font-weight: 900;
			color:$gray-410;
			margin-bottom: 20px;
		}
		.aboutDesc{
			width:80%;
			margin: auto;
			color:$gray-410;
			font-size: 24px;
			line-height: 24px;
			font-weight: 300;
		}
	}
}

.offers{

	.offerHeadWrap{
		border-bottom:10px solid $text-blue-dark;
		position: relative;
		&:after{
				content:'';
				display: block;
				position: absolute;
				bottom:-30px;
				width: 0; 
				height: 0; 
				border-left: 25px solid transparent;
				border-right: 25px solid transparent;
				border-top: 20px solid $text-blue-dark;
				left:50%;
				margin-left: -25px;
			}
		.offerHead{
			color:$text-blue-dark;
			@include uppercase;
		}

	}
	.offersContain{
		padding-top: 60px;
		padding-bottom: 60px;
	.offerWrap{
		&:first-child{
			padding-right: 20px;
		}
		&:last-child{
			padding-left: 20px;
		}
		.offerDescWrap{
			float: left;
			width:60%;
			color:$text-blue-dark;
			padding-right: 20px;
			padding-top: 20px;
			// background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #999 50%, #999 100%);
			.descHeadWrap{
				@include uppercase;
				padding-bottom: 15px;
				border-bottom:1px dotted $text-blue-dark;
				
				.descHead{
					    font-weight: 800;
					    font-size: 22px;
					    @include margin-top-bottom(0,0);
				}
				.descSecHead{
					font-weight: 800;
					font-size: 14px;
					@include margin-top-bottom(0,0);
				}
			}
			.descWrap{
				    margin-top: 15px;

				.descTop{
					@include margin-top-bottom(10px,5px);
					font-weight: 400;
					font-size: 16px;
				}
				.descDate{
					@include margin-top-bottom(5px,10px);
					font-size: 16px;
					font-weight: 400;
				}
				.desc{
					font-size: 14px;
					line-height: 22px;
					margin-bottom: 20px;
				}
			}
		}
		.offerBannerWrap{
			float: left;
			width:40%;
			    min-height: 285px;
			    background-position: center;
		}
	}
	}
}
.camera_wrap {
	.camera_pag{
			    position: absolute;
			    right: 0;
			    left: 0;
			    //bottom: 60px;
			    z-index: 999;
			    .camera_pag_ul {
			    	text-align: center;
			    	li{
			    		width:8px;
			    		height:8px;
			    		&.cameracurrent{
			    			span{
								background-color: $base-pink;
			    			}
			    		}
			    		span{
							top:0;
			    			left:0;
			    		}
			    	}
			    }
		}
		.camera_loader{
			display: none !important;
		}
}
iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

@media (min-width: 0px) and (max-width: 991px){
.carousel{
	.main-carousel{

		.carousel-tem{
		}
			.captionContainer{
				   width:100%;
				       bottom: 25%;
				.captionWrapLeft{
					.text{
					}
					.text-top{
						&.text{
						}
					}
					.text-middle{
						&.text{

						}
					}
					.text-bottom{
						   
						&.text{
						}
					}
					
				}
				.captionWrapRight{
					.captionDetailsWrap{
					
						.captionDetails{
							.detail-text{
								.text{
								}
							}
							.detail-btn-wrap{
							}
						}
					}
				}
			}
		.camera_pag{
			    .camera_pag_ul {
			    }
		}
		.camera_wrap{
		}
		.nav-body-tab{
			.nav{
				li{

					&:first-child{
					}
					a{
						&:hover{
						}

						
					}
					&.active{
							a{
							}
							&:after{
							}
					}
				}
			}
		}
	}
}

.featuredMovies{
	.tabPaneWrap{
		
		.tab-content{
			.tab-pane{
				.panelWrapper{
					.panelLeft{
					}
					.panelMiddle{
					}
					.panelRight{
						.panelTop{
						}
						.panelBottom{
						}
					}
				}
			}
		}
	}
}
.advertisement{
	.advertisementwrapper{
		.advertisement-carousel{
			.advertisement_camera_wrap{

			}
		}
	}
}
.aboutScope{
	.aboutWrap{
		.aboutHead{
		}
		.aboutDesc{
		}
	}
}

.offers{

	.offerHeadWrap{
		&:after{
			}
		.offerHead{
		}

	}
	.offersContain{
	.offerWrap{
		margin-bottom: 20px;
		.offerDescWrap{
			.descHeadWrap{
				.descHead{
				}
				.descSecHead{
				}
			}
			.descWrap{
				.descTop{
				}
				.descDate{
				}
				.desc{
				}
			}
		}
		.offerBannerWrap{
			
		}
	}
	}
}
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 0px) and (max-width: 767px){
.carousel{
	.main-carousel{
		padding-bottom: 44px;
		.carousel-tem{
		}
		.camera_caption > div{
			    position: absolute;
    			bottom: 0;
		}
			.captionContainer{
				   //bottom:20%;
				   bottom: 0px;
				   left: 0;
				   right:0;
				   max-width: initial;
				.captionWrapLeft{
					display: none;
					.text{
					}
					.text-top{
						&.text{
						}
					}
					.text-middle{
						&.text{

						}
					}
					.text-bottom{
						   
						&.text{
						}
					}
					
				}
				.captionWrapRight{
					width:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+40&0+0,0.84+40 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.02) 1%, rgba(0,0,0,0.84) 40%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 1%,rgba(0,0,0,0.84) 40%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 1%,rgba(0,0,0,0.84) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d6000000',GradientType=0 ); /* IE6-9 */
					.captionDetailsWrap{
						padding: 20px;
						.captionDetails{
							.detail-text{
								text-align: center;
								.text{
									font-size: 18px;
									line-height: 16px;
								}
							}
							.detail-btn-wrap{
								max-width: 400px;
								margin: auto;
								.btn-more{
									width:100%;
									.btn-text{
										font-size: 11px;
									}
									.btn-ico-wrap{
										width:35px;
									}
								}
							}
						}
					}
				}
			}
		.camera_pag{
			bottom:0;
			display: none;
			    .camera_pag_ul {
			    	li{
			    		margin:5px;
			    	}
			    }
		}
		.camera_wrap{
			.camera_target_content{
				overflow: visible;
			}
		}
		.nav-body-tab{
			.nav{
				    border-bottom: 0;
    				background-color: $text-blue-light;
    				padding-bottom: 5px;
				li{
					width:50%;
					float: left;
					&:first-child{
					}
					a{
						&:hover{
						}

						
					}
					&.active{
							a{
							}
							&:after{
								bottom: -11px;
							}
					}
				}
			}
		}
	}
}

.featuredMovies{
	.tabPaneWrap{
		
		.tab-content{
			.tab-pane{
				.panelWrapper{
					.panelLeft{
					}
					.panelMiddle{
					}
					.panelRight{
						.panelTop{
						}
						.panelBottom{
						}
					}
				}
			}
		}
	}
}
.advertisement{
	.advertisementwrapper{
		.advertisement-carousel{
			.advertisement_camera_wrap{
				list-style-type: none;
				padding-left: 0;
				text-align: center;
				li{	
					display: inline-block;
					//margin-left: -4px;
					    padding: 5px;
					width:33.33%;
				}
			}
		}
	}
}
.aboutScope{
	padding: 25px 0;
	.aboutWrap{
		.aboutHead{
			font-size: 24px;
			 line-height: 22px;
		}
		.aboutDesc{
			width:100%;
			    font-size: 18px;
   				line-height: 16px;
		}
	}
}

.offers{

	.offerHeadWrap{
		&:after{
			}
		.offerHead{
		}

	}
	.offersContain{
		padding-top: 50px;
		padding-bottom: 0px;
	.offerWrap{
		margin-bottom: 0;
		.offerDescWrap{
			width:100%;
			margin-bottom: 20px;
			padding-right: 0;
			.descHeadWrap{
				padding-left: 15px;
				padding-right: 15px;
				margin-top: 10px;
				.descHead{
				}
				.descSecHead{
				}
			}
			.descWrap{
				padding-left: 15px;
				padding-right: 15px;
				.descTop{
				}
				.descDate{
				}
				.desc{
				}
			}
		}
		.offerBannerWrap{
			width:100%;
			min-height: 600px;
		}
	}
	}
}

}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: 0px) and (max-width: 467px){
.carousel{
	.main-carousel{
		.carousel-tem{
		}
			.captionContainer{
				    bottom: 0;
				   left: 0;
				   right:0;
				.captionWrapLeft{
					.text{
					}
					.text-top{
						&.text{
						}
					}
					.text-middle{
						&.text{

						}
					}
					.text-bottom{
						   
						&.text{
						}
					}
					
				}
				.captionWrapRight{
					.captionDetailsWrap{
							padding: 10px 20px;
						.captionDetails{
							.detail-text{
								.text{
									font-size: 18px;
									line-height: 16px;
								}
							}
							.detail-btn-wrap{
								.btn-text{
										font-size: 11px;
									}
							}
						}
					}
				}
			}
		.camera_pag{
			    .camera_pag_ul {
			    }
		}
		.camera_wrap{
		}
		.nav-body-tab{
			.nav{
				li{

					&:first-child{
					}
					a{
						&:hover{
						}

						
					}
					&.active{
							a{
							}
							&:after{
							}
					}
				}
			}
		}
	}
}

.featuredMovies{
	.tabPaneWrap{
		
		.tab-content{
			.tab-pane{
				.panelWrapper{
					.panelLeft{
						
						width:100%;
					}
					.panelMiddle{
						width:100%;
						
					}
					.panelRight{
						width:100%;
						.panelTop{
							
							width:100%;
							float: left;
						}
						.panelBottom{
							
							width:100%;
							float: left;
						}
					}
				}
			}
		}
	}
}
.advertisement{
	.advertisementwrapper{
		.advertisement-carousel{
			.advertisement_camera_wrap{

			}
		}
	}
}
.aboutScope{
	.aboutWrap{
		.aboutHead{
		}
		.aboutDesc{
		}
	}
}

.offers{

	.offerHeadWrap{
		&:after{
			}
		.offerHead{
		}

	}
	.offersContain{
	.offerWrap{
		.offerDescWrap{
			.descHeadWrap{
				.descHead{
				}
				.descSecHead{
				}
			}
			.descWrap{
				.descTop{
				}
				.descDate{
				}
				.desc{
				}
			}
		}
		.offerBannerWrap{
			
		}
	}
	}
}

}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: 468px) and (max-width: 767px){

.featuredMovies{
	.tabPaneWrap{
		
		.tab-content{
			.tab-pane{
				.panelWrapper{
					.panelLeft{
						
						width:100%;
					}
					.panelMiddle{
						width:100%;
						
					}
					.panelRight{
						width:100%;
						.panelTop{
							
							width:100%;
							float: left;
						}
						.panelBottom{
							
							width:100%;
							float: left;
						}
					}
				}
			}
		}
	}
}
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: 768px) and (max-width: 1279px){
.carousel{
	.main-carousel{
		.carousel-tem{
		}
			.captionContainer{
				   
				.captionWrapLeft{
					.text{
					}
					.text-top{
						&.text{
						}
					}
					.text-middle{
						&.text{

						}
					}
					.text-bottom{
						   
						&.text{
						}
					}
					
				}
				.captionWrapRight{
					.captionDetailsWrap{
					
						.captionDetails{
							.detail-text{
								.text{
								}
							}
							.detail-btn-wrap{
							}
						}
					}
				}
			}
		.camera_pag{
			    .camera_pag_ul {
			    }
		}
		.camera_wrap{
		}
		.nav-body-tab{
			.nav{
				li{

					&:first-child{
					}
					a{
						&:hover{
						}

						
					}
					&.active{
							a{
							}
							&:after{
							}
					}
				}
			}
		}
	}
}

.featuredMovies{
	.tabPaneWrap{
		
		.tab-content{
			.tab-pane{
				.panelWrapper{
					.panelLeft{
						
						width:percentage(2/3);
						&.p-2{
							width:percentage(1/2);
						}
						&.p-3{
							width:percentage(1/2);
						}
					
					}
					.panelMiddle{
						width:percentage(1/3);
						&.p-3{
							width:percentage(1/4);
						}
					}
					.panelRight{
						width:100%;
						.panelTop{
							
							width:50%;
							float: left;
						}
						.panelBottom{
							
							width:50%;
							float: left;
						}
					}
				}
			}
		}
	}
}
.advertisement{
	.advertisementwrapper{
		.advertisement-carousel{
			.advertisement_camera_wrap{

			}
		}
	}
}
.aboutScope{
	.aboutWrap{
		.aboutHead{
		}
		.aboutDesc{
		}
	}
}

.offers{

	.offerHeadWrap{
		&:after{
			}
		.offerHead{
		}

	}
	.offersContain{
	.offerWrap{
		.offerDescWrap{
			.descHeadWrap{
				.descHead{
				}
				.descSecHead{
				}
			}
			.descWrap{
				.descTop{
				}
				.descDate{
				}
				.desc{
				}
			}
		}
		.offerBannerWrap{
			
		}
	}
	}
}

}
@media (min-width: 768px) and (max-width: 1260px){
.featuredMovies{
	.tabPaneWrap{
		
		.tab-content{
			.tab-pane{
				.panelWrapper{
					.panelLeft{
						&.p-2{
						}
						&.p-3{
							width:100%;
						}
					
					}
					.panelMiddle{
						&.p-3{
							width:50%;
						}
					}
					.panelRight{
						.panelTop{
						}
						.panelBottom{
						}
					}
				}
			}
		}
	}
}
}
@media (min-width: 1366px) and (max-width: 1600px){

}

