.breadcrumbCont{
	.breadcrumbWrap{
		padding: 20px 0 10px 0px;
		.breadcrumb{
			//border-bottom: 1px solid black;
			padding: 0;
			border-radius: 0;
			background-color: transparent;
			margin: 0;
			li{
				@include uppercase;
				font-size: 13px;
				&.active{
					font-weight: 700;
					color:$black;
					a{
						text-decoration: none;
						cursor: default;
					}
				}
				a{
					color:$black;
					display: inline-block;
					// font-weight: 300;

				}
			}
		}

	}

	  .socialWrap{
	  	display: none;
	  	.social-links{
	  		@extend .extendUlListDefault;
        li{
        	//background-color: $text-blue-light;
    	    padding: 8px 5px;
			border-radius: 50%;
			@include transition(all 0.5s);
			&:hover{
					background-color: transparent;
				}
          a{
             width:18px;
              height:18px;
              display:block;  
              text-decoration:none;
              text-indent:-999px;
              //background:url(icon/social-icons.png) no-repeat;
			  background-size: 18px;
              &.facebook{
                background-image: url(icon/facebook-gray.svg);
                &:hover{
                  
                  //background-position:0px -6px;
                }
              }
              &.google{
                     background-image: url(icon/google-plus-gray.svg);
                 &:hover{
                 	//background-position:0 -80px;
                }
              }
              &.pinterest{
                   background-image: url(icon/pinterest-gray.svg);
                     &:hover{
                     	//background-position:0 -116px;
                  }
                }
                &.twitter{
                      background-image: url(icon/twitter-gray.svg);
    				 
                   &:hover{
                  //background-position:0 -42px;
                }
            }
            &.instragram{
                 background-image: url(icon/instagram-gray.svg);
              
              &:hover{
              	//background-position:0 -152px;
                }
            }
          }
        }
      }
  }
  .backBtnWrap{
		position: absolute;
		right: 15px;
    	top: 12px;
    	@include uppercase;
	}
  &.breadcrumbByTicketsCont{
  	.breadcrumbWrap{
  		float: left;
		.breadcrumb{

		}
	}
	.pageTitle{
		@include margin-top-bottom(0,0);
		text-align: center;
		padding-right: 184px;// with of breadcumb
		padding-top: 16px;
		padding-bottom: 14px;
    	@extend .extendPageSubHeading;
	}
  }
}
.buyTicketTitle{
	@include margin-top-bottom(0,0);
		text-align: left;
		padding-top: 16px;
		padding-bottom: 14px;
    	@extend .extendPageSubHeading;
}
.aboutSec{
	.aboutTitle{
		margin-top: 0;
	}
	.aboutSecTitle{
		font-size: 14px;
		font-weight: 700;
	}
	.aboutDesc{

	}
}

.cms-page-theater-details{
	.breadcrumbCont{
		    border-bottom: 1px dotted $text-blue-dark;
		.breadcrumbWrap{
			border-bottom: none !important;
		}
	}
}
.moviesCont{
	padding-bottom: 30px;
	&.comingMoviesCont{
		.moviesWrap{
			.captionWidgetWrap{
				.iconContainer {
					.iconWrapper{
						.iconWrap{
							li{
								.btn-scope{

								}
							}
						}
					}
				}
			}
		}
	}
	.moviesWrap{
			position: relative;
			overflow: hidden;
			.coverImage{
				@include transition(all 0.3s);
			}
			&:hover{
				.coverImage{
					-ms-transform: scale(1.1,1.1); /* IE 9 */
				    -webkit-transform: scale(1.1,1.1); /* Safari */
				    transform: scale(1.1,1.1);
				}
			}
	}
}

.pageContainer{
	padding-top: 60px;

	&.mainPageContainer{
			.breadcrumbCont{
				.breadcrumbWrap{
				border-bottom: 1px solid $gray-1400;
			}
		}
	}
		&.detailPageContainer{
			padding-top: 80px;
			.breadcrumbCont{
			.breadcrumbWrap{
				padding-top: 20px;
				padding-bottom: 20px;
				border-bottom: 1px dotted $gray-1400;
				float: left;
			
			}
			.socialWrap{
				text-align: right;
				float: right;
				display: block;
				    padding-top: 10px;
    				padding-bottom: 10px;
				
			}
		}
		.headWrap{
			.heading{
				@extend .extendPageSubHeading;
				@include margin-top-bottom(20px,10px);
				&.secHeading{
					text-align: left;
				}
			}
		}
	}

	.headWrap{

		.heading{
			@include margin-top-bottom(20px,20px);
			@extend .extendPageHeading;
		}
	}

}
.otherMoviesAtTheatre {
	.headWrap{
			.heading{
				@extend .extendPageSubHeading;
				@include margin-top-bottom(25px !important,25px !important);
			}
		}
}
.pageBottomSection{
	background-color: $gray-1520;
	.pageBottomContainer {
			.headWrap{

				.heading{
					@include margin-top-bottom(25px,25px);
					@extend .extendSectionHeading;
				}
			}
	}
}
.paymentWrap {
	padding: 10px 5px;
}

.paymentWrap .paymentBtnGroup {
	max-width:220px;
	margin: auto;
}

.paymentWrap .paymentBtnGroup .paymentMethod {
	    padding: 23px 10px;
	box-shadow: none;
	position: relative;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active {
	outline: none !important;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active .method {
	border-color: $gray-1100;
	outline: none !important;
	&.visa{
		background-image: url(images/visamasterhighres.png);
		}
		&.sampath-vishwa{
			background-image: url(images/sampathvishwahighres.png);
		}
	
}

.paymentWrap .paymentBtnGroup .paymentMethod .method {
	border-radius: 30px;
	position: absolute;
	right: 3px;
	top: 3px;
	bottom: 3px;
	left: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	transition: all 0.5s;


}

.paymentWrap .paymentBtnGroup .paymentMethod .method {
	
	&.visa{
		background-image: url(images/visamasterhighres-gray.png);
	}
	&.sampath-vishwa{
		background-image: url(images/sampathvishwahighres-gray.png);
	}


}



.paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
	border-color: $gray-1100;
	outline: none !important;
}
@media (min-width: 768px) and (max-width: 1200px){
   .pageContainer{
		padding-top: 60px;
		&.detailPageContainer{
				padding-top: 80px;
			}
	}

	.moviesCont{
		//padding-top: 15px;
		padding-bottom: 30px;
		&.comingMoviesCont{
			.moviesWrap{
				//height:350px;
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 767px){

.moviesCont{
	&.comingMoviesCont{
		.moviesWrap{
			//height:350px;
		}
	}
	.moviesWrap{
			//height:400px;
	}
}
 .pageContainer{
		padding-top: 60px;
		&.detailPageContainer{
			padding-top: 60px;
		}

	.headWrap{

		.heading{
			//text-align: center;
		}
	}
	}
	.breadcrumbCont{
		display: none;
	}

	.myBookingPage{
		padding-bottom: 50px;
	}
}