
body{
	&.login{
		background-color: $gray-1520;
	}
}

.loginPanelCont{
	margin-bottom: 20px;
	.loginPanelWrap{
		background-color: transparent;
		margin-top: 0;
	}
}
.loginTopMessage{
	text-align: center;
    font-size: 14px;
    margin-top: 25px;
}
.loginPanelWrap {
	.loginDesc{
		color:$gray-305;
		@include margin-top-bottom(0,3px);
		font-size: 15px;
	}
	.loginTitle{
		@extend .extendPageHeading;
		@include margin-top-bottom(0,20px);
	}
	.loginPanel{
		.loginPanelForm{
			.form-group{
				.form-control{
					background-color: $white;
					color:$black;
				}
				.forgot-pwd{
					color: $gray-305;
					    line-height: 8px;
				}
				&.loginBtnWrap{
					margin-bottom: 5px;
				}
				.loginBtn{
					@include uppercase;
					@include border-radius(2px);
					font-size: 16px;
					&:hover{
						opacity: 0.9;
					}
				}
			}
		}

		.fbBtnWrap{
			.fbBtn{
				background-color: $fb-blue;
				@include uppercase;
				@include border-radius(2px);
				text-align: left;
				padding-top: 8px;
				padding-bottom: 8px;
				padding-left: 8px;
				border:none;
				// padding-left: 5px;
				// padding-right: 5px;
				&:hover{
						opacity: 0.9;
					}
				.fbIcon{
					width:24px;
		              height:26px;
		              display:inline-block;  
		              vertical-align: middle;
		              text-decoration:none;
		              text-indent:-999px;
		              background:url(icon/facebook-white.svg) no-repeat;
	                  background-position: 0px 2px;
   					 background-size: 22px;
		                
				}
				.fbBtnText{
					display:inline-block;  
					vertical-align: middle;
					border-left: 1px solid $white;
					padding-left: 10px;
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
		.signUpCont{
			.signUpWrap{
				.signUpLink{
					display: inline-block;
					vertical-align: middle;
					color:$text-blue-dark;
					text-decoration: underline;
					font-weight: 600;
					margin-left: 5px;
				}
			}
		}
	}
}

.forgotPwdCont{
	padding-top: 50px;
	padding-bottom: 50px;
	.forgotPwdWrap{
		.headingWrap{
			margin-bottom: 5px;
			.heading{
				font-size: 24px;
				@include margin-top-bottom(0,5px);
			}
			.forgotPwdDesc{

			}
		}
		.formWrap{
			.form-group{
				.form-control {
					background-color: $gray-1530;
					color:$black;
				}
			}
		}
	}
}

.registerCont{
	padding-top: 50px;
	padding-bottom: 50px;
	.registerDesc{
		color:$gray-305;
		@include margin-top-bottom(0,0);
		font-size: 16px;
	}
	.registerTitle{
		@extend .extendPageHeading;
		@include margin-top-bottom(0,20px);
	}
	.registerWrap{
		&.changeMobileCont{
			padding-top: 0;
		}
			.form-group{
				.form-control {
					background-color: $gray-1530;
					color:$black;
				}
			}
		
	}
	.fbBtnWrap{
		border-top:1px dotted $text-blue-dark;
		padding-top: 15px;
			.fbBtn{
				background-color: $fb-blue;
				@include uppercase;
				@include border-radius(2px);
				text-align: left;
				padding-top: 8px;
				padding-bottom: 8px;
				border:none;
				// padding-left: 5px;
				// padding-right: 5px;
				&:hover{
						opacity: 0.9;
					}
				.fbIcon{
					width:24px;
		              height:26px;
		              display:inline-block;  
		              vertical-align: middle;
		              text-decoration:none;
		              text-indent:-999px;
		              background:url(icon/social-icons.png) no-repeat;
	                background-position: -22px -2px;
					background-size: 40px;
		                
				}
				.fbBtnText{
					display:inline-block;  
					vertical-align: middle;
					border-left: 1px solid $white;
					padding-left: 10px;
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
		.signInCont{
			.signInWrap{
				.signInLink{
					display: inline-block;
					vertical-align: middle;
					color:$text-blue-dark;
					text-decoration: underline;
					font-weight: 600;
					margin-left: 5px;
				}
			}
		}
}
.registerPwdCont{
	.registerPwdWrap{
		.headingWrap{
			.title{
					@extend .extendPageHeading;
				@include margin-top-bottom(0,20px);
			}
		}
		
		.formWrap{
			.form-group{
				.form-control {
					background-color: $gray-1530;
					color:$black;
				}
			}
		}
	}
}


@media (min-width: 0px) and (max-width: 991px){
   
}
@media (min-width: 0px) and (max-width: 767px){

}
@media (min-width: 0px) and (max-width: 467px){
.loginPanelCont{
		.loginPanelWrap{
			padding: 15px;
		}
	}	
}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}