
@media (min-width: 0px) and (max-width: 991px){
   
}
@media (min-width: 0px) and (max-width: 767px){

}
@media (min-width: 0px) and (max-width: 467px){

}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}