
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin padding-top-bottom($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}
@mixin padding-left-right($left, $right) {
  padding-left: $left;
  padding-right: $right;
}
@mixin padding-all ($all) {
  padding: $all;
}

@mixin margin-top-bottom($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}
@mixin margin-left-right($left, $right) {
  margin-left: $left;
  margin-right: $right;
}
@mixin margin-all ($all) {
  margin: $all;
}

@mixin uppercase {

text-transform: uppercase;

}


@mixin transition($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -ms-transition: $val;
    -o-transition: $val;
    transition: $val;
}


@mixin box-shadow ($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow:    $val;
  box-shadow:         $val;
}
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
@mixin linear-gradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin linear-gradient-portfolio($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 30%, $bottom 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,$top), color-stop(80%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 30%,$bottom 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 30%,$bottom 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 30%,$bottom 80%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 30%,$bottom 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}



@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin transform-rotate($value){
    -ms-transform: rotate($value); /* IE 9 */
    -webkit-transform: rotate($value); /* Safari */
    transform: rotate($value);
}