.detailTable{
	margin-top: 10px;
	&.amenitiesTable{
		td{
			min-height: 50px;
			&:first-child{
				width:65px;
			}
			img{
				max-width: 30px;
			}
		}
	}
	td{
		// padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 2px;
			min-width: 50px;
			min-height: 40px;
			&:first-child{
				padding-right: 30px;
				
				.detailSpan {
					border: none;
					&:before{
							content:'';
							position: absolute;
							left:0;
							right: 22%;
							top:0;
							border-top: 1px dotted $black;
						}
				}
			}
		.detailSpan {
			border-top: 1px dotted $black;
			padding-top: 10px;
			min-height: 40px;
			position: relative;
			
			.icon{
				color:$white;
			}
			.time{
				    display: inline-block;
    				vertical-align: middle;
    				font-weight: 800;
			}
			.price{
				font-weight: 800;
			}
			.lebelPrice{

			}
			.unavailableLable{
				color:$gray-700;
				margin-left: 10px;
			}
		}
	}
}


.movieTimesRow{
	@include padding-top-bottom(10px,10px);
	&:nth-child(even){
		background-color: $gray-1500;
	}
	.moviesCont{
		padding-bottom: 0;
		.moviesWrap {
			
			.captionWidgetWrap{
				.captionTitleWrap{
					.captionTitle{

					}
				}
				.releaseDate{

				}
				.iconContainer{
					.iconWrapper{
						.iconWrap{
							li{
								.icon{}
							}
						}
					}
				}
			}
		}
	}
	.detailTop{
		height:80px;
		&.detailTopLeft{
			.hallDetailWrap{
				vertical-align: bottom;
			}
			
		}
			&.detailTopRight{
				.hallDetailWrap{
				vertical-align: bottom;
			}

			
		}
		.hallDetailWrap{
			
			.cinemaHall{
				@include margin-top-bottom(0px,10px);
				@include uppercase;
			}
			.detail{
				&.detailDate{

				}
				&.detailAmenities{

				}
			}
		}
	}
	.detailBody{
		.detailRow{
			.amenitiesTable{

			}
		}
	}
}
.movieTimeRatesBox{
    .popUpBoxBody{
        .headWrap{
            .popUpTitleWrap{
                .popUpTitle{
					.detail{
						&.detailAmenities{

						}
					}
                }
            }
            .title{
                .movieTitle{
					@include margin-top-bottom(0,0);
					font-weight: 600;
                }
                .date{
					font-weight: 600;
					padding-right: 10px;
					border-right: 1px solid $black;
                }
                .time{
					font-weight: 600;
                }
                .year{
                	padding-left: 10px;
                	color:$base-pink;
                }
            }
        }
        .bodyWrap{
        	padding: 50px;
        	padding-top: 0;
            .ratesTable{
				width:100%;
				font-size: 20px;
				thead{
					background-color: $base-pink;
					th{
						padding: 5px 10px;
						text-align: center;
						color:$white;
					}
				}
				tbody{
					td{
						padding: 5px 10px;
						text-align: center;

						
					}
				}
            }
        }
        .bottonWrap{
        	text-align: center;
        	padding: 50px;
        	background-color: $gray-1520;
            .btnWrap{

            }
        }
    }
    .popUpBoxBottom{

    }
 
}
.searchCont{
	margin-bottom: 10px;
	.searchWrap{
		padding: 30px 40px 30px 40px;
			background-color: $gray-1520;
		.searchFormWrap{
			.searchForm{
				text-align: center;
				.form-group {
					margin-right: 10px;
					.btn-scope{
							    padding: 8px 15px;
							    @include border-radius(4px);
						}
					.form-control{
						min-width: 180px;
						&.input-scope{
							background-color: $white;
							color:$black;
							height: 35px;
						}
					}
				}
			}
		}
	}
}

.moviesErrorWrap{
	
		@include margin-top-bottom(50px,50px);
		text-align: center;
		.text-wrap{
			font-size: 24px;
			.icon{
				margin-right: 10px;
				display: inline-block;
				vertical-align: middle;
			}
			.text{
				display: inline-block;
				vertical-align: middle;

			}
		}

}


@media (min-width:992px) and (max-width: 1200px){
.movieTimesRow {
	.moviesCont{
			.moviesWrap {
				
				
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 991px){
   .detailTable{
	&.amenitiesTable{
		td{
			img{
			}
		}
	}
	td{
		

		.detailSpan {
			.icon{
			}
			.time{
			}
			.price{
			}
			.lebelPrice{

			}
			.unavailableLable{
			}
		}
	}
}


.movieTimesRow{
	.moviesCont{
		.moviesWrap {

			.captionWidgetWrap{
				.captionTitleWrap{
					.captionTitle{

					}
				}
				.releaseDate{

				}
				.iconContainer{
					.iconWrapper{
						.iconWrap{
							li{
								.icon{}
							}
						}
					}
				}
			}
		}
	}
	.amentiesCont{
	}
	.detailTop{
		&.detailTopLeft{
			height: auto;
			margin-top: 10px;
			.hallDetailWrap{
			}
			
		}
			&.detailTopRight{
				.hallDetailWrap{
			}

			
		}
		.hallDetailWrap{
			
			.cinemaHall{
			}
			.detail{
				&.detailDate{

				}
				&.detailAmenities{

				}
			}
		}
	}
	.detailBody{
		.detailRow{
			.amenitiesTable{

			}
		}
	}
}
.movieTimeRatesBox{
    .popUpBoxBody{
        .headWrap{
            .popUpTitleWrap{
                .popUpTitle{
					.detail{
						&.detailAmenities{

						}
					}
                }
            }
            .title{
                .movieTitle{
                }
                .date{
                }
                .time{
                }
            }
        }
        .bodyWrap{
            .ratesTable{
				thead{
					th{
					}
				}
				tbody{
					td{
					}
				}
            }
        }
        .bottonWrap{
            .btnWrap{

            }
        }
    }
    .popUpBoxBottom{

    }
 
}
.searchCont{
	.searchWrap{
		.searchFormWrap{
			.searchForm{
				.form-group {
					display: block;
					margin-bottom: 15px;
					margin-right: 0;
					.btn-scope{
						    display: block;
   							 width: 100%;
						}
					.form-control{
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}

}
@media (min-width: 0px) and (max-width: 767px){
.detailTable{
	&.amenitiesTable{
		td{
			&:first-child{
			}
			img{
			}
		}
	}
	td{
			&:first-child{
				.detailSpan {
					text-align: left;
				}
			}

		.detailSpan {
			text-align: center;

			.icon{
			}
			.time{
			}
			.price{
			}
			.lebelPrice{
				display: none;
			}
			.popup-box{
				text-align: center;
			}
			.unavailableLable{
				display: none;
			}
		}
	}
}
}
@media (min-width: 0px) and (max-width: 600px){

.detailTable{
	&.amenitiesTable{
		td{
			img{
			}
		}
	}
	td{
		

		.detailSpan {
			.icon{
			}
			.time{
			}
			.price{
			}
			.lebelPrice{

			}
			.unavailableLable{
			}
		}
	}
}


.movieTimesRow{
	.moviesCont{
		width:100%;
		.moviesWrap {

			.captionWidgetWrap{
				.captionTitleWrap{
					.captionTitle{

					}
				}
				.releaseDate{

				}
				.iconContainer{
					.iconWrapper{
						.iconWrap{
							li{
								.icon{}
							}
						}
					}
				}
			}
		}
	}
	.amentiesCont{
		width:100%
	}
	.detailTop{
		&.detailTopLeft{
			.hallDetailWrap{
			}
			
		}
			&.detailTopRight{
				.hallDetailWrap{
			}

			
		}
		.hallDetailWrap{
			
			.cinemaHall{
			}
			.detail{
				&.detailDate{

				}
				&.detailAmenities{

				}
			}
		}
	}
	.detailBody{
		.detailRow{
			.amenitiesTable{

			}
		}
	}
}
.movieTimeRatesBox{
    .popUpBoxBody{
        .headWrap{
            .popUpTitleWrap{
                .popUpTitle{
					.detail{
						&.detailAmenities{

						}
					}
                }
            }
            .title{
                .movieTitle{
                }
                .date{
                }
                .time{
                }
            }
        }
        .bodyWrap{
            .ratesTable{
				thead{
					th{
					}
				}
				tbody{
					td{
					}
				}
            }
        }
        .bottonWrap{
            .btnWrap{

            }
        }
    }
    .popUpBoxBottom{

    }
 
}
.searchCont{
	.searchWrap{
		padding: 15px 15px 5px 15px;
		.searchFormWrap{
			.searchForm{
				.form-group {
					.btn-scope{
						}
					.form-control{

					}
				}
			}
		}
	}
}

}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}