.moviesPage{
	.moviesCont{
		.moviesWrap {
		.captionWidgetWrap{
  
				.captionTitleWrap{
					.captionTitle{

					}
				}
				.releaseDate{
				}
				.iconContainer{
					.iconWrapper{
						.iconWrap{
							
							li{
								&:after{
								}
								&:first-child{
								}
								&:last-child{
									&:after{
									}
								}
								.icon{
								}
								.icoText{
								}
								.btn-scope{
								}
							}
						}
						.linksWrap{
							li{
								
								a{
								}
							}
						}
					}
				}
			}
		}
	}
}


@media (min-width: 992px) and (max-width: 1200px){
   .moviesPage{
   	
	.moviesCont{
		.moviesWrap {
			//height: 400px;
		.captionWidgetWrap{
  				    padding: 2px 8px;
				.captionTitleWrap{
					.captionTitle{

					}
				}
				.releaseDate{
				}
				.iconContainer{
					.iconWrapper{
						.iconWrap{
							
							li{
								&:after{
								}
								&:first-child{
								}
								&:last-child{
									&:after{
									}
								}
								.icon{
								}
								.icoText{
								}
								.btn-scope{
								}
							}
						}
						.linksWrap{
							li{
								
								a{
								}
							}
						}
					}
				}
			}
		}
	}
}
}