

.thetresCont{
	.movieSliderWrapper{

	}
	.pageRightSide{
		padding-left: 15px;
	}
	.movieDetailWrap{
		border-bottom: 1px dotted $text-blue-dark;
		padding-bottom: 20px;
		.movieTitle{
			@extend .extendSectionHeading;
			@include margin-top-bottom(0,0);
			font-weight: 600;
			.year{
				color:$base-pink;
				font-weight: 400;
			}
		}
		.movieDuration{
			font-weight: 800;
			text-transform: capitalize;
			margin-bottom: 10px;
			font-size: 13px;
		}
		.availablity{
			background-color: $text-blue-light;
			color: $white;
			@include uppercase;
			padding: 3px 10px;
			display: inline-block;
			// margin-bottom: 10px;
			//font-weight: 600;
		}
	}
	.theatresDetailWrap{
		.showingTitle{
			@extend .extendThumbHeading;
			@include margin-top-bottom(15px,15px);
			font-weight: 400;

		}
		.theatresLogo{
			max-width: 160px;
			// margin: auto;
			margin: 25px 0;
		}
	}
	.showtimeWrap{
		padding-bottom: 20px;
		border-bottom: 1px dotted $text-blue-dark;
		.theatresTitle{
		text-transform: capitalize;
		@extend .extendSmallHeading;
		@include margin-top-bottom(0,0);
		@include padding-top-bottom(0px,10px);
		border-bottom: 1px dotted $text-blue-dark;
		}
		.showTimeTitle{
			@include uppercase;
			font-weight: 800;
			@extend .extendSmallHeading;
			@include margin-top-bottom(15px,15px);
		}
		.showingTimeWrap{
			@extend .extendUlListDefault;
			max-width: 250px;
			//margin-bottom: 20px;
			.showTime{
				float: left;
				width:50%;
				text-align: left;
				padding:5px 0px;
				font-size: 13px;
				line-height: 15px;
				font-weight: 700;
			}
		}
		.watchTrailer{
			margin-top: 20px;
			@include border-radius(2px);
			font-size: 14px;
		}
	}
	.ratingWrap{
		@include padding-top-bottom(5px,5px);
		.ratingTitle{
			font-weight: 800;
			@include uppercase;
		}
		.starIcon{
				color: $text-yellow;
				margin-left: 10px;
				margin-right: 10px;
				font-size: 20px;
			}
			.ratingVal{
				font-size: 20px;
			}
	}
	.headWrap{
		.heading{

		}
	}
	.detailWrap{
		.storyDetail{

		}
	}
	.genresWrap{
		padding: 15px 0;
		padding-bottom: 20px;
		border-bottom: 1px dotted $text-blue-dark;
		display: inline-block;
		.genresTitle{
			font-weight: 800;
			display: inline-block;
		}
		.genresList{
			@extend .extendUlListDefault;
			display: inline-block;
			.genres{
				padding:2px 5px;
				position: relative;
				&:last-child{
					&:after{
						display: none;
					}
				}
				&:after{
					content:"";
					display: block;
					position: absolute;
					width:1px;
					background-color: $black;
					right:0;
					top:6px;
					bottom:6px;
				}
			}
		}
	}
	.castListDetail{
		margin-top: 25px;
		.castListTable{
			th{
				font-weight: 500;
				font-size: 20px;
				@include uppercase;
				padding-bottom: 10px;
			}
			td{
				width:30%;
				vertical-align: top;
				b{
					font-weight: 800;
				}
				&:last-child{
					width:70%;
				}
			}
		}
	}
	.reservationCont{
		margin-top: 30px;
		.reservationWrap{
			padding: 30px 40px 60px 40px;
			background-color: $gray-1520;
			.reservationHead{
				.reservationTitle{
					@include uppercase;
					//font-weight: 600;
					font-size: 24px;
					@include margin-top-bottom(0,25px);
				}
			}
			.reservationFormWrap{
				.reservationForm{
					.form-group{
						margin-right: 10px;
						&:last-child{
							margin-bottom: 0;
						}
						.form-control{
							background-color: $white;
							color:$black;
						    padding-right: 30px;
						    min-width: 100px;
						    &.theaterSelect{
						    	    width: 250px;
						    }
							&.input-scope{
								height: 35px;
							}
							
						}
						.calendar-icon{
							//background-position: -7px -8px;
						}
						.btnBook{
							height: 35px;
							@include border-radius(2px);
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

.otherMoviesAtTheatre{
	margin-bottom: 50px;
	.headWrap{
		.otherMoviesTitle{
		font-size: 24px;
		margin-top: 30px !important;
    	margin-bottom: 25px !important;
		}
	}
}




@media (min-width: 768px) and (max-width: 1200px){
   .thetresCont{
	.movieSliderWrapper{

	}
	.movieDetailWrap{
		.movieTitle{
			.year{
			}
		}
		.movieDuration{
		}
		.availablity{
		}
	}
	.theatresDetailWrap{
		.showingTitle{

		}
		.theatresLogo{
		}
	}
	.showtimeWrap{
		.theatresTitle{
		}
		.showTimeTitle{
		}
		.showingTimeWrap{
			.showTime{

			}
		}
		.watchTrailer{
		}
	}
	.ratingWrap{
		.ratingTitle{
		}
		.starIcon{
			}
			.ratingVal{
			}
	}
	.headWrap{
		.heading{

		}
	}
	.detailWrap{
		.storyDetail{

		}
	}
	.genresWrap{
		.genresTitle{
		}
		.genresList{
			.genres{
				&:last-child{
					&:after{
					}
				}
				&:after{
				}
			}
		}
	}
	.castListDetail{
		.castListTable{
			th{
			}
			td{
				b{
				}
			}
		}
	}
	.reservationCont{
		.reservationWrap{
			    padding: 20px 30px 30px 30px;
			    
			.reservationHead{
				.reservationTitle{
				}
			}
			.reservationFormWrap{
				.reservationForm{
					.form-group{
						display: block;
						width:100%;
						margin-bottom: 10px;
						.form-control{
							width:100%;
							 &.theaterSelect{
						    	    width: 100%;
						    }
							&.input-scope{
							}
							
						}
						.calendar-icon{
						}
						.btnBook{
							width: 100%;
						}
					}
				}
			}
		}
	}
}
}
@media (min-width: 0px) and (max-width: 767px){

.thetresCont{
	.movieSliderWrapper{

	}
	.movieDetailWrap{
		.movieTitle{
			padding-top: 20px;
			.year{
			}
		}
		.movieDuration{
		}
		.availablity{
		}
	}
	.theatresDetailWrap{
		.showingTitle{

		}
		.theatresLogo{
		}
	}
	.showtimeWrap{
		.theatresTitle{
		}
		.showTimeTitle{
		}
		.showingTimeWrap{
			.showTime{

			}
		}
		.watchTrailer{
		}
	}
	.ratingWrap{
		.ratingTitle{
		}
		.starIcon{
			}
			.ratingVal{
			}
	}
	.headWrap{
		.heading{

		}
	}
	.detailWrap{
		.storyDetail{

		}
	}
	.genresWrap{
		.genresTitle{
		}
		.genresList{
			.genres{
				&:last-child{
					&:after{
					}
				}
				&:after{
				}
			}
		}
	}
	.castListDetail{
		.castListTable{
			th{
			}
			td{
				b{
				}
			}
		}
	}
	.reservationCont{
		.reservationWrap{
			    padding: 30px 15px;
			.reservationHead{
				.reservationTitle{
				}
			}
			.reservationFormWrap{
				.reservationForm{
					.form-group{
						margin-right: 0;
						.form-control{
							 &.theaterSelect{
						    	    width: 100%;
						    }
							&.input-scope{
							}
							
						}
						.calendar-icon{
						}
						.btnBook{
						}
					}
				}
			}
		}
	}
}
.otherMoviesAtTheatre{
		.headWrap{
			.otherMoviesTitle{
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 467px){

}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}