.myBookingPage{
	.myBookingCont{
			.bookingRow{
				.movieDetail{
					.movieTitle{
					}
					.ticketTitle{
					}
					.detailList{
						.list{
							.time{
							}
							.listleft{
							}
							.listRight{
							}
							&.totalList{
							}
						}
					}
				}
			.movieDetailSec{
				.movieBanner{
					.moviebannerImg{
					
					}

					.bookingStatus{
						&.current{
						}
						&.past{
						}
					}
				}
			
			}
			.ticketDetailSec{
			}
		}
	}
	.pastBookingCont{
			.bookingRow{
				.movieDetail{
					.movieTitle{
					}
					.ticketTitle{
					}
					.detailList{
						.list{
							.time{
							}
							.listleft{
							}
							.listRight{
							}
							&.totalList{
							}
						}
					}
				}
			.movieDetailSec{
				.movieBanner{
					.moviebannerImg{
					
					}

					.bookingStatus{
						&.current{
						}
						&.past{
						}
					}
				}
			
			}
			.ticketDetailSec{
			}
		}
	}
}
.bookingRow{
		padding: 50px 0px 0px 0px;
		&:last-child{
			padding-bottom: 50px;
		}
			.movieDetail{
				width:65%;
				float: left;
				padding-left: 20px;
				.movieTitle{
					@include margin-top-bottom(0,13px);
					font-size: 20px;
					@include uppercase;
				}
				.ticketTitle{
					@include margin-top-bottom(7px,13px);
					font-size: 14px;
					font-weight: 800;
				}
				.detailList{
					.list{
						font-size: 14px;
						position: relative;
						@extend .clearfix;
						padding: 13px 0px 13px 0;
						background-color: transparent;
						.time{
							font-weight: 800;
							padding-left: 10px;
						}
						.listleft{
							float: left;
						}
						.listRight{
							float: right;
						}
						&.totalList{
							font-weight: 800;
						}
						.seatsList{
							    word-wrap: break-word;
						}
					}
				}
			}
		.movieDetailSec{
			.movieBanner{
				width:35%;
				float: left;
				position: relative;
				.moviebannerImg{
				
				}

				.bookingStatus{
					position: absolute;
					bottom: 0;
					left:0;
					right:0;
					color:$white;
					text-align: center;
					padding: 3px 5px;
					font-size: 16px;
    				text-transform: uppercase;
    				border-top: 1px solid rgba($white, 0.5);
					&.current{
						background-color: rgba($base-pink,0.5);
					}
					&.past{
						background-color: rgba($gray-700,0.5);
					}
				}
			}
		
		}
		.ticketDetailSec{
			padding-left: 50px;
		}
	}




@media (min-width: 0px) and (max-width: 991px){
   
}
@media (min-width: 468px) and (max-width: 767px){
.bookingRow{
	padding-top: 20px;
		&:last-child{
			padding-bottom: 20px;
		}
			.movieDetail{
				width:65%;
				.movieTitle{
				}
				.ticketTitle{
				}
				.detailList{
					.list{
					}
				}
			}
		.movieDetailSec{
			.movieBanner{
				width:35%;
				.moviebannerImg{
				
				}

				.bookingStatus{
				}
			}
		
		}
		.ticketDetailSec{
			margin-top: 20px;
			padding-left: 15px;
			.movieDetail{
				width:100%;
				padding-left: 0;
			}
		}
	}
}
@media (min-width: 0px) and (max-width: 467px){
.bookingRow{
	padding-top: 20px;
		&:last-child{
			padding-bottom: 20px;
		}
			.movieDetail{
				width:100%;
				padding-left: 0;
				margin-top: 20px;
				.movieTitle{
				}
				.ticketTitle{
				}
				.detailList{
					.list{
					}
				}
			}
		.movieDetailSec{
			.movieBanner{
				width:100%;
				.moviebannerImg{
				
				}

				.bookingStatus{
				}
			}
		
		}
		.ticketDetailSec{
			margin-top: 0px;
			padding-left: 15px;
			.movieDetail{
				width:100%;
				padding-left: 0;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}