.myprofilePage{
	.myProfileCont{
		padding-top: 50px;
		.myProfileWrap{
			.myProfileForm{
				.form-group{
					&.nameGroup{
						.nameInputWrap{
								width:50%;
								float: left;
								&:first-child{
									padding-right: 5px;
								}
								&:last-child{
									padding-left: 5px;
								}
							.form-control {
							}
						}
						
					}
					.control-label{
						text-align: left;
					}
					.form-control {
						background-color: $gray-1530;
						color:$text-blue-dark;
					}
					.btn-read-more{
						font-size: 15px;
					}
					a{
						&:hover{
							.btn-edit{
								text-decoration: none;
								&:before{
									text-decoration: none;
								}
							}
						}
					}
					.btn-edit{
						background-color: $text-blue-light;
						border: 1px solid $text-blue-light;
						color: $white;
						    padding: 6px 5px;
   							font-size: 18px;
						&:hover{
								text-decoration: none;
								background-color: $white;
								color:$text-blue-light;
							

						}
					}
					.genderList{
						 list-style: none;
					  height: 100%;
					  width: 100%;
					  margin: 0;
					  padding: 0;
						li{
							  color: #AAAAAA;
						  display: inline-block;
						  position: relative;
						  float: left;
						  margin-right: 20px;
							&:hover{
								label{
									color:$text-blue-light;
								}
								.check {
								  border: 3px solid $text-blue-light;
								}
							}
							input[type=radio]{
							  position: absolute;
							  visibility: hidden;
							}
							input[type=radio]:checked ~ .check {
								  border: 3px solid $text-blue-light;
								}
								input[type=radio]:checked ~ .check::before{
								  background: $text-blue-light;
								}
								input[type=radio]:checked ~ label{
								  color: $text-blue-light;
								}

							 label{
							  display: block;
							  position: relative;
							  font-weight: 300;
							  font-size: 14px;
							  padding: 7px 5px 5px 30px;
							  height: 30px;
							  cursor: pointer;
							  -webkit-transition: all 0.25s linear;
							  color:$gray-300;
							  margin-bottom: 0;
							  z-index: 999;
							}
							.check{
								  display: block;
								  position: absolute;
								  border: 3px solid $gray-1000;
								  border-radius: 100%;
								  height: 20px;
								  width: 20px;
								  top: 7px;
								  left: 0px;
									transition: border .25s linear;
									-webkit-transition: border .25s linear;
									&::before {
									  display: block;
									  position: absolute;
										content: '';
									  border-radius: 100%;
									    height: 10px;
									    width: 10px;
									    top: 2px;
									    left: 2px;
									  margin: auto;
										transition: background 0.25s linear;
										-webkit-transition: background 0.25s linear;
									}
								}
						}
					}
				}
			}
		}
	}
}

.changeMobileCont{
	padding-top: 50px;
	padding-bottom: 50px;

	.changeMobileWrap{
		// padding-left: 20px;
		// padding-right: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		//border-bottom: 1px dotted $text-blue-dark;
		.boxHeadWrap{
			.boxTitle{
				font-size: 18px;
				@include margin-top-bottom(0,5px);
			}
			.boxDesc{

			}
		}
		.formWrap{
			margin-bottom: 50px;
			.form-group{
				.form-control {
					background-color: $gray-1530;
					color:$black;
				}
			}
		}
	}
}