
   $navBrandHeight:60px;
   $navBrandHeightScroll:50px;

   #noscript-warning {
    font-family: $font-lato;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    background-color: #d62d2d;
    padding: 1px 0 1px 0;
}
.navbar{
 //background-color: rgba($text-blue-dark, 0.68);
 background-color: rgba($text-blue-dark, 1);
border-bottom: none;
margin-bottom: 0;
    .navbar-toggle {
        color:$white;
        .icon-bar{
           
        }
    }
    &.navbarScroll{
    	 background-color: rgba($text-blue-dark, 1);
        li{

            a{
                padding-top: 15px;
                padding-bottom: 15px;
                 @include transition(all 0.3s);
                &.btn{
                        margin-top: 15px;
                        margin-bottom: 15px;
                         @include transition(all 0.3s);
                    &:hover{
                      //color:$base-pink;
                    }
                }
            }
        }
        .navbar-brand {
            padding: 8px 15px;
             height: $navBrandHeightScroll;
              @include transition(all 0.3s);
         }
    }
    
    li{
            padding-right: 15px;
            padding-left: 15px;
            &.active{
                a{
                    color:$white;
                    &:hover{
                      
                    }
            
                }
            }
        a{
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 0;
                padding-right: 0;
                //line-height: ($navBrandHeight/3);
                line-height: 20px;
                color:$gray-1300;
                @include transition(all 0.3s);
                @include uppercase;
                font-family: $font-roboto;
            &:hover{
              background-color: transparent;
               color:$white;
            }
            &:focus{
                 background-color: transparent;
               color:$white;
            }
            &.userLogedIcon{
                display: none;
                    font-size: 18px;
            }
        }
         a.btn{
                margin-top: 19px;
                margin-bottom: 20px;
                padding-top: 1px;
                padding-bottom: 1px;
                line-height: 14px;
                padding-left: 15px;
                padding-right: 15px;
                color:$white;
                @include transition(all 0.3s);
                border: 1px solid transparent;
            &:hover{
              color:$white;
              border: 1px solid transparent;
              background-color: rgba($base-pink, 0.8);
            }
        }
    }
}


.navbar-brand {
    padding: 10px 15px;
     height: $navBrandHeight;
     @include transition(all 0.3s);
    img {
        display: block;
        height: 100%;
        width: auto;
    }
}
.navbar-right{
        padding-left: 15px;
        padding-right: 20px;
}
.portfolioNavWrap{
    .nav-pills{
        li{
            &.active{
                    
                    a{
                     
                        
                        &:after{
                               
                        }
                    }
                }
                &:hover{
                    
                }
            a{
            }
        }
    }
}
@media (min-width: 992px) {
.navbar {
    .nav {
          li{
                a{
                
                }
                &.nav_link{
                    a{

                    }
                    &.active{
                        a{
                            color:$text-blue-light;
                            &:after{
                                content:'';
                                position: absolute;
                                bottom: 0;
                                left:0;
                                right:0;
                                height:6px;
                                
                            }
                        }
                    }
                }
            }
        }
        .hoverFill{
                position: absolute;
                left: 0;
                bottom: -6px;
                height: 6px;
                width: 0;
                background-color: $text-blue-light;
                 @include transition(width 0.3s);
        }
    }
}

@media (min-width: 0px) and (max-width: 467px){

}
@media (min-width: 0px) and (max-width: 767px){
.navbar{
    .container-fluid{
       
    }
    .navbar-header{
      
    }
        .navbar-collapse{
           padding-left: 30px;
           padding-right: 30px;
            li{
                &.active{
                    a{
                        
                    }
                }
                a{
                   
                   &:before{
                      
                    }
                    &:after{
                        
                    }
                     &:hover{
                       
                     } 
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .navOverlay{
     position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    background-color: rgba($black,0.8);
    z-index: 99;
    left:120%;
    cursor: pointer;
    }
   .navbar{
    z-index: 9999;
    .navbar-header {
        float: none;
         .navbar-brand {
            height: 60px;
            padding: 12px 15px;
         }

    }
    .navbarScroll{
         .navbar-brand {
            height: 60px;
            padding: 12px 15px;
         }
     }
 }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    // .navbar-collapse {
    //         z-index: 999;
    //     //border-top: 1px solid transparent;
    //     box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    //     position: fixed;
    //     right: 0;
    //     background-color: rgba($text-blue-dark,0.9);
    //     max-height: initial !important;
    //     left: 120%;
    //     bottom: 0;
    //     top:60px;
    //     display: block;
    //     padding-bottom: 50px;
    // }
     .navbar-collapse {
        z-index: 999;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        position: absolute;
        background-color: rgba($text-blue-dark,0.97);
        max-height: initial !important;
        top:60px;
        //display: none;
        //padding-bottom: 50px;
        // right: 15px;
        // left: 15px;
        left:0;
        right:0;
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-fixed-top {
        top: 0;
        //border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        &.nav_link{
           &.active{
                a{
                    color:$text-blue-light;
                }
            } 
        }
        
    }
    .navbar-nav>li>a {
        padding-top:15px;
        padding-bottom:15px;
       // border-bottom: 1px solid rgba($gray-1400,0.2);
        &.btn{
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            @include border-radius(0);
            background-color: transparent;
            color:$base-pink;
            border-color: transparent;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
                font-size: 14px;
            //border-bottom: 1px solid rgba(208, 208, 208, 0.2);
            &:hover{
                 background-color: transparent;
            }
        }
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-right{
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }
}
@media (min-width: 992px) and (max-width: 1225px){
    .navbar{
     .navbar-brand {
             }
        .navbar-toggle {
            .icon-bar{
               
            }
        }
        &.navbarScroll{
             .navbar-brand {
             }
            li{

                a{

                    &.btn{
                        &:hover{
                        }
                    }
                }
            }
        }
        li{
            padding-left: 10px;
            padding-right: 10px;
             &.active{
                    a{
                        &:hover{
                          
                        }
                
                    }
                }
            a{
                &.userLogedText{
                    display: none;
                }
                 &.userLogedIcon{
                    display: block;
                    .icon{
                        width:20px;
                        height:20px;
                        // background-size: 500px;
                        // background-image: url(icon/sprite-icons.png);
                           display: block;
                           background-repeat: no-repeat;
                           background-size: 20px;

                    }
                    &.dashIcon{
                        .icon{
                            background-image: url(icon/notebook.svg);
                            
                        }
                    }
                    &.profileIcon{
                        .icon{
                            background-image: url(icon/user.svg);
                            
                        }
                    }
                    &.logoutIcon{
                        .icon{
                             background-image: url(icon/logout.svg);
                            
                        }
                    }
                 }   
                &:hover{
                }
            }
             a.btn{

                &:hover{
                   
                }
            }
        }
    }

    .navbar-brand {
     
    }
    .navbar-right{
    }
    .portfolioNavWrap{
        .nav-pills{
            li{
                &.active{
                        
                        a{
                         
                            
                            &:after{
                                   
                            }
                        }
                    }
                    &:hover{
                        
                    }
                a{
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1200px){


.navbar{
 .navbar-brand {
            //height: 60px;
            //padding: 5px 10px;
         }
    .navbar-toggle {
        .icon-bar{
           
        }
    }
    &.navbarScroll{
         .navbar-brand {
            //height: 50px;
            //padding: 5px 10px;
         }
        li{

            a{

                &.btn{
                    &:hover{
                    }
                }
            }
        }

    }
    
    li{

            &.active{
                a{
                    &:hover{
                      
                    }
            
                }
            }
        a{
                padding-top: 20px;
                padding-bottom: 20px;
                
            &:hover{
            }
        }
         a.btn{
               margin-top: 20px;
                margin-bottom: 20px;
            &:hover{
            }
        }
    }
}

.navbar-brand {
 
}
.navbar-right{
}
.portfolioNavWrap{
    .nav-pills{
        li{
            &.active{
                    
                    a{
                     
                        
                        &:after{
                               
                        }
                    }
                }
                &:hover{
                    
                }
            a{
            }
        }
    }
}
}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}