.newsPage{
	.pageBody{
		@include padding-top-bottom(10px,30px);
		.newsSectionWrap{
			padding-right: 100px;
			.newsSection{
				padding-top: 20px;
				padding-bottom: 20px;
				border-bottom: 1px dashed $text-blue-dark;
				margin-bottom: 20px;
				&:first-child{
					padding-top: 0;
				}
				&:last-child{
					border-bottom: none;
					margin-bottom: 0;
				}
				.filmTitle{
					@extend .extendNewsHeading;
					@include margin-top-bottom(0,15px);
				}
				.bookedDate{
					padding: 3px 5px;
					background-color: $text-blue-dark;
					color: $white;
					@include margin-top-bottom(0,10px);
				}
				.newsDetail{
					@include margin-top-bottom(10px,10px);
				}
				.buttonWrap{
					.btn-scope{

					}
				}
			}
			.paginationWrap{
				text-align: center;
				.pagination {
					li{
						&.active{
							a{
								background-color: $text-blue-dark;
								border-color: $text-blue-dark;
								color: $white;
							}
						}
						a{
							color: $text-blue-dark;
						}
					}
				}
			}
		}
	}
	.pageSide{
		@include padding-top-bottom(10px,30px);
		.postNavWrap{
			margin-bottom: 50px;
			.postHeading{
				font-weight: 800;
				margin-bottom: 20px;
			}
			.navList{
				.list-group-item{
					border: none;
					padding: 0;
					.link{
						color:$text-blue-dark;
						    padding: 5px 0px 10px 0;
						    border-top: 1px dotted $text-blue-dark;
						    font-weight: 600;
						    cursor: pointer;
						    //font-size: 13px;
					}
				}
			}
			&.recentPostWrap{

			}
			&.postByMonthWrap{

			}
		}
	}
}

.newsDetailPage{
	.headWrap{
		//padding-left: 10px;
		.heading{
			margin-bottom: 10px;
		}
		.newsDate{
			color: $white;
			background-color: $text-blue-dark;
			display: inline-block;
			padding: 3px 5px;
		}
	}
	
		.pageBody{
			padding-top: 20px;
			.detailWrap{
				.newsDetail{
					margin-top: 30px;
				}
			}
		}
		.pageSide{
			padding-left: 50px;
		}
}