
html, body {
      width: 100%;
      height: 100%;
     // overflow-x:hidden; // to avoid scrollbars
}


body{
    font-family: $font-lato;
    //padding-top: 80px;
    color:$black;
       // background-color: #e9e9e9;
       &.gray-background{
             background-color: $gray-1520;
       }
       &.scrollFix {
        overflow: hidden;
        //position: fixed;
    }
}
img{
	width:100%;
}
p{
    &:last-child{
        margin-bottom: 0;
    }
}
table{
    width:100%;
}
a{  
    color: $white;
    text-decoration: none;
    display: block;
    &:active{
        text-decoration: none;
        color: inherit;
        outline: none;
    }
    &:focus{
        text-decoration: none;
         color: inherit;
         outline: none;
    }
    &:visited{
        text-decoration: none;
         color: inherit;
         outline: none;
    }
    &:hover{
                 color: inherit;
                 outline: none;
    }
}
.btn{
  &.btn-success{
    background-color: #00abbd;
    &:hover{
      background-color: #06c6da;
    }
  }
  &.btn-danger{
    background-color: $base-pink;
    &:hover{
      background-color: rgba($base-pink, 0.8);
    }
  }
}
.data-image{
    display: block;
    background-position: center top;
}
.dis-table{
    display: table;
    width:100%;
    height:100%;
    .dis-t-cell{
        display: table-cell;
        vertical-align: middle;
    }
}
.validation-advice,.error-text,.error { 
  color:#D40707 !important; 
  font-weight:bold !important; 
  font-size:12px; 
  clear: both;
}
.banner {
        background-color: $gray-1600;
        background-color: $gray-1510;
        .bannerContent{
            width:100%;
            max-width: 600px;
            margin: auto;
            padding: 50px;
        }
    }
    .btn{
        &:hover{
          color: $white;
         opacity:0.9;
      }
       &:focus{
          color: $white;
      }
       &:visited{
          color: $white;
      }
      &:disabled{
         background-color: $gray-700;
          cursor: default;
          border-color: $gray-700;
          &:hover{
              color: $white;
             background-color: $gray-700;
             opacity: 1;
          }
      }
    }
.btn-scope{
    color: $white;
    background-color: $base-pink;
    @include uppercase;
    padding: 4px 15px;
    font-weight: 600;
    @include border-radius(3px);
    font-size: 12px;
    min-width: 100px;
    //border: 1px solid $base-pink;
    @include transition(all 0.3s);
    &:hover{
        color: $white;
       opacity:0.9;
       background-color: rgba( $base-pink, 0.8);
    }
     &:focus{
        color: $white;
    }
     &:visited{
        color: $white;
    }
    &.btn-read-more{
      background-color: $text-blue-light;
      @include border-radius(2px);
      border-color:$text-blue-light;
      &:hover{
         color: $text-blue-light;
         background-color: transparent;
      }
    }
}
.btn-scope-disable{
    background-color: $gray-700;
    cursor: default;
    border-color: $gray-700;
    &:hover{
        color: $white;
       background-color: $gray-700;
       opacity: 1;
    }
}

.btn-buy-ticket-disabled{
  background-color: #eeeded;
  &:hover{
    background-color: #eeeded;
    cursor: no-drop;

  }
}
.btn-gray{
    background-color: $gray-910;
    border-color: $gray-910;
    color: $white;
        border: none;
    &:hover{
        color: $white;
        background-color: $gray-310;
    }
}
.btn-blue{
    background-color: $text-blue-dark;
    color: $white;
    //border-color: $text-blue-dark;
    border: none;
    @include transition(all 0.3s);
    &:hover{
        color:  $white;
        background-color: rgba($text-blue-dark,0.8);
        //font-weight: 800;
    }
}
.btn-more{
        cursor: pointer;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    .btn-text{
        display: inline-block;
        vertical-align: middle;
        background-color: $text-blue-light;
        padding: 1px 6px 1px 6px;
        font-size: 13px;
        position: relative;
        .text{
          z-index: 99999;
        }
        &:after{
          content: '';
          position: absolute;
          background-color: #117784;
          left: 0;
          top:0;
          bottom:0;
           -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            transform: translateX(0%);
          @include transition(all 0.5s);

        }
        &:hover{
          &:after{
              -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            transform: translateX(100%);
          }
        }
    }
    .btn-icon{
            margin-left: -4px;
            background-color: $text-blue-dark;
            display: inline-block;
            vertical-align: middle;
            width:35px;
            height:20px; 
            background-image: url('icon/right-arrow.png');
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 13px 3px;
             @include transition(all 0.3s);
            //padding: 5px 13px;
    }
    &:hover{
      .btn-icon{
          background-position: 15px 3px;
      }
    }
}
.btn-timer{
  border-bottom: 0px !important;
  background-color: #cb5a5e !important;padding: 10px 15px !important;
  .bg-red{
    cursor: default;
    &:hover{
      text-decoration: none;
      color: $white;
    }
  }
}
.input-scope{
       border: 0;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    color:$white;
    @include border-radius(0);
    &:focus{
         border: 0;
        box-shadow: none;
        outline: none;
    }
    &:visited{
        color:$white;
    }
}
.btn{
    &:focus{
        outline: none;
     box-shadow: none;
    }
    &:active{
        outline: none;
        box-shadow: none;
    }
}
.linkCursor{
  cursor: pointer;
}
.scope-list-group{
  margin-bottom: 0;
  .list{
        border: none;
        color:$text-blue-dark;
        padding: 8px 0px 8px 0;
        border-top: 1px dotted $text-blue-dark;
        border-radius: 0;

  }
}
.calendarWrap{
    position: relative;
    .icon{
        &.calendar-icon{
            background-image: url(icon/sprite-icons.png);
            width:40px;
            height:40px;
            background-size: 420px;
            position: absolute;
            right:0;
            top:0;
            background-position: 0px -6px;
            cursor: pointer;
        }
    }
}

.clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.camera_wrap{
margin-bottom: 0 !important;
position: relative;
    .camera_pag{
        position: absolute;
        bottom:0;
        left:0;
        right:0;
    }
}
.selectDateWrapper{
  position: relative;

}
.posRelative{
  position: relative;
}


.pageLoaderCont{
  display: block;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  z-index: 9999;
  background-color: rgba($text-blue-dark,1);
  // &:after{
  //   content: "";
  //   position: absolute;
  //   background-color: rgba($text-blue-dark,0.5);
  //    left: 50%;
  //   right: 0;
  //   bottom: 0;
  //   top: 0;

  // }
  // &:before{
  //   content: "";
  //   position: absolute;
  //   background-color: rgba($text-blue-dark,0.5);
  //    left: 0;
  //   right: 50%;
  //   bottom: 0;
  //   top: 0;
  // }

  .loaderCont{
    .loaderWrap{
          top: 50%;
          margin-top: -25px;
    }
    .cssloadWrap{
      z-index: 99;
      position: absolute;
      width: 50px;
      top: 50%;
      left: 50%;
      margin-left: -25px;
    }
  }
}
.online-booking .pageLoaderCont{
background-color: rgba($black,0.0);
}
.cms-page-buy_ticket_online{
  .pageLoaderCont{
    background-color: rgba($black,0.0);
  }
}
/* bootstrap normally does this part for you, but for some reason it's not being applied */
select {
  
  padding-right: 8px;
}
.alert-danger {
    color: #ee0c6e;
    background-color: transparent; 
    border-color:  transparent; 
    border:none;
    font-weight: bold;
    padding: 0;
}
/* only apply this to firefox: */
@-moz-document url-prefix() {
  /* Normally you can just apply this to all 'select's not just a classs selector */
  select {
    /* This removes the native down arrow: */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    /* Add a new down arrow, probably shouldn't hotlink: */
    background-image: url("icon/icon-chevron-down-16.png") !important;
    background-position: right 8px center;
    background-repeat: no-repeat;
    padding-right: 30px;
        background-size: 10px;
  }
}
/* Safari selects are sort of ugly too.  Unfortunately this applies to both Safari *and* Chrome */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    -webkit-appearance: none;
    background-image: url(icon/icon-chevron-down-16.png) !important;
    background-position: right 5px center;
    background-repeat: no-repeat;
    padding-right: 30px !important;
    background-size: 10px;

  }
}
.noDataMessage{
  
}
.popUpBoxWap{
    background: white;
    padding: 0;
    text-align: left;
    margin: 40px auto;
    position: relative;
    .popUpBoxBody{
        .headWrap{
            padding: 50px;
            .popUpTitleWrap{
                border-bottom: 1px solid $gray-100;
                .popUpTitle{
                    font-size: 24px;
                    @include uppercase;
                }
            }
        
        }
        .bodyWrap{
            padding: 50px;

        }

    }
    .popUpBoxBottom{

    }
    .mfp-close{
        right: initial;
        left: -44px;
        background-color: #fff;
        opacity: 1;
        color: black;
    }
}
.valign-top{
    vertical-align: top;
}
.extendUlListDefault{
    padding-left: 0;
    margin-bottom: 0;
    li{
        list-style-type: none;
        display: inline-block;
    }
}
.extendPageHeading{
    font-size: 30px;
    @include uppercase;
}
.extendSectionHeading{
    font-size: 26px;
    @include uppercase;
}
.extendPageSubHeading{
   font-size:24px;
    @include uppercase;
    font-weight: 400;
    line-height: 20px;
}
.extendNewsHeading{
    font-size:22px;
    @include uppercase;
    font-weight: 400;
    line-height: 20px;

}
.extendThumbHeading{
    font-size:20px;
    @include uppercase;  
    font-weight: 600;
    line-height: 18px;

}
.extendSmallHeading{
    font-size: 15px;
    font-weight: 600;
}
.extendHeadingDesc{
    font-size:12px;
    @include uppercase;
    font-weight: 300;
    line-height: 12px;
    margin-bottom: 10px;

}

/* .roundedOne */
.roundedOne {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmNCIvPjxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjZGZlNWQ3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiZWFkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfff4), color-stop(40%, #dfe5d7), color-stop(100%, #b3bead));
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedOne label {
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  left: 3px;
  top: 3px;
  background-color: rgba($gray-800,0.7);
 
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;

}
.roundedOne label:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: $text-blue-light;
  
  opacity: 0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedOne label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.roundedOne input[type=checkbox] {
  visibility: hidden;
}
.roundedOne input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.appStoreWrap{
  display: none;
      position: fixed;
      z-index: 9999;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid $text-blue-dark;
    overflow: hidden;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    background-color: $text-blue-dark;
  .closeAppstore{
        position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 30px;
    .closer{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 36px;
          line-height: 80px;
          text-align: center;
          font-size: 1.5rem;
          color: $white;
    }
  }
  .navigate-to-app{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 36px;
    .brand-info{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 100%;
      .brand-image{
            display: inline-block;
            line-height: 82px;
        .image{
              vertical-align: middle;
              width:100px;
        }
      }
      .app-desc{
              display: inline-block;
            line-height: 20px;
            height: 40px;
            vertical-align: middle;
            margin-left: 10px;
      }
      .brand-text{
          margin-right: 5px;
          color: #2f3432;
          font-weight: 700;
          color:$white;
          font-weight: 700;
      }
      .image{
         width: 76px;
      }
      .brand-download-info{
          &:hover{
              color: #fff;
        }
      }
      .btn-free{
        background-color: #0074ba;
        color: #fff;
        padding: 6px 12px;
        margin: 0;
        font-weight: 700;
        position: absolute;
        top: 25px;
        right: 12px;
        border-radius: 1px;

      }
    }
  }
  &:hover{
    .brand-download-info{
          
              color: #fff;
        
      }
  }
}
.cssload-loader{
  position: relative;
  width: 5px;
  height: 5px;
  left: 46%;
  left: calc(50% - 3px);
    left: -o-calc(50% - 3px);
    left: -ms-calc(50% - 3px);
    left: -webkit-calc(50% - 3px);
    left: -moz-calc(50% - 3px);
  
  border-radius: 5px;
  background-color: $white;
  transform-origin: 50% 50%;
    -o-transform-origin:  50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin:  50% 50%;
  animation: cssload-loader 0.45s ease-in-out infinite;
    -o-animation: cssload-loader 0.45s ease-in-out infinite;
    -ms-animation: cssload-loader 0.45s ease-in-out infinite;
    -webkit-animation: cssload-loader 0.45s ease-in-out infinite;
    -moz-animation: cssload-loader 0.45s ease-in-out infinite;
}

.cssload-loader:before{
  content: "";
  position: absolute;
  background-color: rgb(255,255,255);
  top: 0px;
  left: -11px;
  height: 5px;
  width: 5px;
  border-radius: 5px;
}

.cssload-loader:after{
  content: "";
  position: absolute;
  background-color: rgb(255,255,255);
  top: 0px;
  left: 11px;
  height: 5px;
  width: 5px;
  border-radius: 5px;
}




@keyframes cssload-loader{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}

@-o-keyframes cssload-loader{
    0%{-o-transform:rotate(0deg);}
    50%{-o-transform:rotate(180deg);}
    100%{-o-transform:rotate(180deg);}
}

@-ms-keyframes cssload-loader{
    0%{-ms-transform:rotate(0deg);}
    50%{-ms-transform:rotate(180deg);}
    100%{-ms-transform:rotate(180deg);}
}

@-webkit-keyframes cssload-loader{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@-moz-keyframes cssload-loader{
    0%{-moz-transform:rotate(0deg);}
    50%{-moz-transform:rotate(180deg);}
    100%{-moz-transform:rotate(180deg);}
}
#popup_container{
    #popup_title{
      background-color: $text-blue-dark;
    }
    #popup_content{
      #popup_message{
        text-align: center;
      }
      #popup_panel{
        #popup_ok{
          background: none;
          box-shadow: none !important;
          text-shadow:none !important;
          @extend .btn-scope;
           @extend .btn-read-more;
               background-color: #00abbd !important;
                   border-color: #00abbd !important;
                   &:hover{
                    background-color: $white !important;
                   }
        }
      }
    
  }
}

.timeBtn{
  background-color: transparent;
  min-width: 100px;
  border-radius: 20px;
  border: 2px solid $gray-720;
  padding: 8px 10px;
  display: inline-block;
  cursor: pointer;
  @include transition(0.3s all);
  text-align: center;
  &:hover{
    background-color: $base-pink;
    border: 2px solid $base-pink;
    color:$white;
  }
}

select.input-sm{
  line-height: 20px !important;
}

/* end .roundedOne */


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    // padding-left: 5px;
    // padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 991px){
  .padding-zero-tab{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px){
   .padding-zero-mobile{
    padding-left: 0;
    padding-right: 0;
   }
   .noDataMessage{
  //text-align: center;
  }
}

@media (min-width: 0px) and (max-width: 1200px){
.popUpBoxWap{
    .mfp-close{
          right: 0;
          left: initial;
    }
  }
}

@media (min-width: 0px) and (max-width: 467px){
.appStoreWrap{
  height: 100px;
  .closeAppstore{
    .closer{
          line-height: 100px;
    }
  }
  .navigate-to-app{
    .brand-info{
      .brand-image{
            line-height: 50px;
        .image{
        }
      }
      .app-desc{
        display: block;
        margin-left: 0;
      }
      .brand-text{
      }
      .image{
      }
      .brand-download-info{
          &:hover{
        }
      }
      .btn-free{
        top:30px;

      }
    }
  }
  &:hover{
    .brand-download-info{
        
      }
  }
}
}