.termsDescWrap{
	.termsList{
		li{
			font-size:26px;
			margin-bottom: 20px;
			
				.termsHead{
					margin-bottom: 5px;
					margin-top: 0;
				}
				.termsDesc{
					font-size: 14px;
					.innerList{
						 list-style: none;
						  padding: 0;
						  margin: 0;
						   padding-left: 1em; 
  							text-indent: -.7em;
						li{
							font-size: 14px;
							&:before {
							  content: "\2022";
							  color: $text-blue-lighter;
							}
						}
					}
				}
		
		}
	}
}