

.thetresCont{
	.headWrap{

	}
	.detailWrap{
		
		.storyDetail{
			padding-bottom: 15px;
		//border-bottom: 1px dotted $text-blue-dark;

		}
	}
	.amenitiesWrap{
		padding-bottom: 30px;
		border-bottom: 1px dotted $text-blue-dark;
		.amenitiesTitle{
			@extend .extendPageSubHeading;
			@include margin-top-bottom(20px,20px);
		}
		.amenitiesRow{
			.amenities{

						padding-top: 5px;
						padding-bottom: 5px;
				
				.amenitiesIcon{
						    display: inline-block;
						    vertical-align: middle;
						    margin-right: 10px;
						    width:25px;
					}
					.amenitiesText{
					 		display: inline-block;
						    vertical-align: middle;
					}
				
			}
		}
	}
	.mapWrap{
		.mapTitle{
			@extend .extendPageSubHeading;
			@include margin-top-bottom(20px,20px);
		}
		.thatreMap{
			height:500px;
		}
	}
	.theatresLogoWrap{
		border-bottom: 1px dotted $text-blue-dark;
		.theatresLogo {
			    max-width: 150px;
    			margin: 20px 0 20px 0;
		}
	}
	.theatreDetailWrap{
		
		.theatreSecWrap {
				padding-left: 50px;
				padding-top: 30px;
				padding-bottom: 30px;
				position: relative;
					&:after{position: absolute;
					display: block;
					content: '';
					width:40px;
					height: 40px;
					background-image: url(icon/sprite-icons.png);
					background-repeat: no-repeat;
					background-size: 460px;
					top:30px;
					left:0;
				}

			&.theatreAddressWrap{
				border-bottom: 1px dotted $text-blue-dark;
				&:after{
					    background-position: -98px -7px;
				}
				.address{
					margin-bottom: 0;
					.title{
					font-weight: 800;
					@include margin-top-bottom(0,5px);
					}
					.desc{
						font-weight: 800;
					}
				}
			}
			&.theatreContactWrap{
				border-bottom: 1px dotted $text-blue-dark;
				&:after{
					    background-position: -188px -8px;
				}
				.hotline{
					.title{
						font-weight: 800;
						@include uppercase;
						margin-bottom: 10px;
						margin-top: 0;
					}
					a{
						color:$black;
						}
				}
			}
			&.theatreEmailWrap{
				
				&:after{
					       background-position: -143px -58px;
				}
				.email{
					a{
						color:$black;
						font-weight: 600;
					}
				}
			}
		}
	}
	.advertisementWrap{
		.advertisement{

		}
	}
}
.otherMoviesAtTheatre {
	.movieSecWrap{
		margin-bottom: 20px;
	}
}


@media (min-width: 0px) and (max-width: 991px){
   
}
@media (min-width: 0px) and (max-width: 767px){


.thetresCont{
	.headWrap{

	}
	.detailWrap{
		.storyDetail{

		}
	}
	.amenitiesWrap{
		.amenitiesTitle{

		}
		.amenitiesRow{
			.amenities{
				
				.amenitiesIcon{
					}
					.amenitiesText{
					}
				
			}
		}
	}
	.mapWrap{
		.mapTitle{

		}
		.thatreMap{
		}
	}
	.theatresLogoWrap{
		.theatresLogo {
		}
	}
	.theatreDetailWrap{
		
		.theatreSecWrap {
						&:after{

				}

			&.theatreAddressWrap{
				&:after{
				}
				.address{
					.title{
					}
					.desc{
					}
				}
			}
			&.theatreContactWrap{
				&:after{
				}
				.hotline{
					.title{
					}
					a{
						}
				}
			}
			&.theatreEmailWrap{
				&:after{
				}
				.email{
					a{
					}
				}
			}
		}
	}
	.otherMoviesAtTheatre{
		margin-bottom: 20px;
	.movieSecWrap{
		margin-bottom: 15px;
		.movieSec {
			width:100%;
			padding-right: 0;
		}
		.bookingSec{
			width:100%;
			margin-top: 15px;
		}
	}
}
	.advertisementWrap{
		.advertisement{

		}
	}
}

}
@media (min-width: 0px) and (max-width: 467px){

}
@media (min-width: 768px) and (max-width: 991px){
		.otherMoviesAtTheatre{
		
	.movieSecWrap{
		margin-bottom: 20px;
		.movieSec {
		}
		.bookingSec{
		}
	}
}

}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}