.thetresCont{
	padding-top: 30px;
	padding-bottom: 30px;
	&:first-child{
		padding-top: 0;
	}
	&.repeatableRow{
		// &:nth-child(even){
		// 	background-color: $gray-1500;
		// }
		border-bottom: 1px solid #d0d0d0;
		&:last-child{
			border-bottom: none;
		}
		.sliderWrap{
			.theatreImage{
				height:320px;
				position: relative;
				.captionWrap{
					position: absolute;
					bottom: 0;
					left:0;
					right:0;
					background-color: rgba($white, 0.85);
					padding: 10px;
					text-decoration: none;
					&:hover{
						text-decoration: none;
					}
					.theatreDetailWrap{
						.theatreLogo{
							display: inline-block;
							vertical-align: middle;
							margin-right: 20px;
							.logoImg{
								width:160px;
							}
						}
						.theatreText{
							display: inline-block;
							vertical-align: middle;
							font-size: 25px;
							color:$black;
						}
					}
				}
			}
		}
	
	}
}

//use fordetails page
.cms-page-theaters{
	.movieSec{
		&:hover{
			.moviesWrap{
				    
				    .movieImage {
				    	-ms-transform: scale(1.1,1.1); /* IE 9 */
					    -webkit-transform: scale(1.1,1.1); /* Safari */
					    transform: scale(1.1,1.1);
				    }

			}
		}
		.moviesWrap{
			  
				height:320px;
				.movieImage {
					height:320px;
					@include transition(all 0.3s);
				}
			}
	}
}
	.movieSec{
			padding-top: 0;
				padding-bottom: 0;
				width:58%;
				float: left;
				position: relative;
				    padding-right: 20px;
			.moviesWrap{

				height:400px;
			}
		}
		.bookingSec{
			width:42%;
			float: left;
				position: relative;
			.title{
				@include margin-top-bottom(0,0);
				@extend .extendThumbHeading;
			}
			.secTitle{
				margin-bottom: 15px;
			}
			.selectDateWrap{
				margin-bottom: 15px;
				.input-scope {
					background-color: $gray-1530;
					color:$gray-710;
				}
			}
			.detailBody{
				.detailRow{
					position: relative;
					.detailTable{
						td{
							font-weight: 800;
							&:first-child{
								padding-right: 14px;
							}
							.detailSpan{
								@include padding-top-bottom(13px,0px);
								.btn-scope{
									padding: 1px 10px;
									min-width: 70px;
								}
							}
							
						}
					}
				}
			}
		}


@media (min-width: 468px) and (max-width: 991px){
	.theatresPage{
		.movieSec{
			.moviesWrap{

			}
		}
   	.bookingSec{
   		padding-top: 20px;
			.title{
			}
			.secTitle{
			}
			.selectDateWrap{
				.input-scope {
				}
			}
			.detailBody{
				.detailRow{
					.detailTable{
						td{
							.detailSpan{
								.btn-scope{
								}
							}
							
						}
					}
				}
			}
		}
	}
}
@media (min-width: 0px) and (max-width: 767px){

}
@media (min-width: 0px) and (max-width: 467px){
		.theatresPage{
		.movieSec{
			width:100%;
			padding-right: 0;
			.moviesWrap{

			}
		}
   	.bookingSec{
   		width:100%;
   		padding-top: 20px;
			.title{
			}
			.secTitle{
			}
			.selectDateWrap{
				.input-scope {
				}
			}
			.detailBody{
				.detailRow{
					.detailTable{
						td{
							.detailSpan{
								.btn-scope{
								}
							}
							
						}
					}
				}
			}
		}
	}

}
@media (min-width: 0px) and (max-width: 991px){
.theatresPage{
		.movieSec{
			.moviesWrap{
				height:450px;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1199px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}
@media (min-width: 1024px) and (max-width: 1365px){

}
@media (min-width: 1366px) and (max-width: 1600px){

}