

<div class="dataTables_wrapper dataTables_extended_wrapper no-footer">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="dataTables_paginate paging_bootstrap_extended">
                <div class="pagination-panel">Page
                    <a href="#" class="btn btn-sm default prev" title="Prev" ng-click="prev()">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <input type="text" ng-change="filter()" ng-model="page" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;">
                    <a href="#" class="btn btn-sm default next" title="Next" ng-click="next()">
                        <i class="fa fa-angle-right"></i>
                    </a> of <span class="pagination-panel-total">{{totalPages}}</span>
                </div>
            </div>
            <div class="dataTables_length">
                <label>
                    <span class="seperator">|</span>View
                    <select ng-change="filter()" ng-model="view" ng-options="item as item.val for item in views track by item.id" class="form-control input-xsmall input-sm input-inline">

                    </select> records
                </label>
            </div>
            <div class="dataTables_info" role="status" aria-live="polite">
                <span class="seperator">|</span>Found total {{totalrecods}} records
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="table-group-actions pull-right"></div>
        </div>
    </div>
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover"
               data-order-col = "0"
               data-order-type = "asc">
            <thead>
            <tr role="row" class="heading">
                <th width="10%">Item Code</th>
                <th width="20%">Item Name</th>
                <th width="10%">Location</th>
                <th width="10%">Category</th>
                <th width="5%">Primary Trade Unit</th>
                <th width="5%">Secondry Trade Unit</th>
                <th width="10%">Unit Price</th>
                <th width="10%">Current Stock</th>
                <th width="10%">Minimum Stock</th>
                <th width="5%">Action</th>
            </tr>
            <tr>
                <th><input ng-model="itemcode" type="text" class="form-control form-filter input-sm" name="item_code"></th>
                <th><input ng-model="itemname" type="text" class="form-control form-filter input-sm" name="item_name"></th>
                <th>
                    <select ng-model="location" ng-options="loc as loc.stock_name for loc in locations track by loc.id" class="form-control form-filter input-sm" name="location">

                    </select>
                </th>
                <th>
                    <select ng-model="category" ng-options="cat as cat.category_name for cat in categories track by cat.id" class="form-control form-filter" name="categories">

                    </select>
                </th>

                <th>
                    <select ng-model="mesureunit" ng-options="mu as mu.unit_name for mu in mesureunits track by mu.id" class="form-control form-filter" name="units">
                    </select>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <span class="btn btn-sm default" ng-click="filter()">
                        <i class="fa fa-search"></i> Search
                    </span>
                </th>

            </tr>

            </thead>
            <tbody>
               <tr ng-repeat="res in results" ng-style="getStyle(res)">
                   <td>{{res[0]}}</td>
                   <td>{{res[1]}}</td>
                   <td>{{res[2]}}</td>
                   <td>{{res[3]}}</td>
                   <td>{{res[4]}}</td>
                   <td>{{res[5]}}</td>
                   <td>{{res[6]}}</td>
                   <td>{{res[7]}}</td>
                   <td>{{res[8]}}</td>
                   <td>
                       <a href="{{res[9]}}" class="btn btn-sm default btn-xs"><i class="fa fa-edit"></i>Edit</a>
                   </td>
               </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="dataTables_paginate paging_bootstrap_extended">
                <div class="pagination-panel">
                    Page <a href="#" class="btn btn-sm default prev" title="Prev" ng-click="prev()">
                    <i class="fa fa-angle-left"></i>
                </a>
                    <input type="text" ng-model="page" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;">
                    <a href="#" class="btn btn-sm default next" title="Next" ng-click="next()">
                        <i class="fa fa-angle-right"></i>
                    </a> of
                    <span class="pagination-panel-total">{{totalPages}}</span>
                </div>
            </div>
            <div class="dataTables_length">
                <label>
                    <span class="seperator">|</span>View
                    <select ng-change="filter()" ng-model="view" ng-options="item as item.val for item in views track by item.id" class="form-control input-xsmall input-sm input-inline">
                    </select> records
                </label>
            </div>
            <div class="dataTables_info"  role="status" aria-live="polite">
                <span class="seperator">|</span>Found total {{totalrecods}} records
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="table-group-actions pull-right"></div>
        </div>
    </div>
</div>