.block-plan-wrapper{
    width: 100%;
    overflow: auto;
}
.block-plan-container{
    position:relative;
    padding:20px;
    border:1px solid #3B3B3B;
}
#item-container {
    position:relative;
    background: #FFF url("grid.png") repeat 0px 0px;
    height:280px;
    margin: auto;
}

.seat_lbl {
    position: absolute;
    background: #fff;
    height: 24px;
    width: 24px;
    cursor: move;
    top: 0px;
    text-align:center;
    font-size:11px;
}

.seat_item {
    position: absolute;
    background: #e9b64d;
    height: 24px;
    width: 24px;
    /*cursor: move;*/
    top: 0px;
    font-size: 9px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 5px !important;
}
.block-plan-container.editor-draw .seat_item
{
    cursor: move;
}


.seat_item:hover{
    background: #20B4C7;
}


.selected_seat {
    background-color: #84c94c;
}
.hide_seat {
    background-image:url(remove.png);
}

.booked_seat {
    background-color: #ed0c6e;
}

.hold_seat{
    background-color: #bfbfbf;
}

.grid_selection {
    position: absolute;
    background: #BCE;
    background-color: #BEC;
    border-color: #8B9;
}
