.hero{
    width: 100%;
    /*background-image: url("../images/banner.jpg");
    background-size: cover;
    height: 600px;
    max-height: 100vh;
    */
    text-align: center;
}
.hero:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vertical-center {
     .container{
         position: relative;
     }
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      padding: 10px 15px;
      text-align: left;

     &.valign-top{
        vertical-align: top;
        padding-top: 40px;
     }
     .hero-text{
         font-size: 30px;
         font-weight: 300;
         color: #fff;
         text-shadow: 2px 2px 1px rgba(81,81,81,0.3);

         span  {
             font-size: 60px;
             line-height: 40px;
         }
         .s{
             font-size: 30px;
             line-height: 20px;
             display: block;
         }
     }
     .appstore-container{
         //position: absolute;
         //bottom: -90px;
         padding-top: 20px;
         a{
             float: left;
         }
     }
}

.page-banner{
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    height: 380px;
    max-height: 100vh;
    text-align: center;

   &.bh_460{
     height: 460px;
   }
  &.bh_1000{
    height: 1000px;
  }
}

.page-banner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

