p{
 &:last-child{
   margin-bottom: 0;
 }
}
.border-top{
  border-top: 1px solid $gray;
}
.border-bottom{
  border-bottom: 1px solid $gray;
}
.text-red{
  color: red;
}
.text-l-red{
  color: #de6262;
}
.text-gray{
  color: #5f5f5f !important;
}
.text-blue{
  color: $actionblue !important;
}
.fw-img{
  width: 100%;
}

.bg-light-gray{
   background-color: $light_gray_bg;
 }

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.padding-top-20{
  padding-top: 20px !important;
}
.padding-top-40{
  padding-top: 40px !important;
}

.padding-bottom-20{
  padding-bottom: 20px !important;
}

.link {

  cursor: pointer;
  text-decoration: none !important;

  &:hover {
     text-decoration: none !important;
  }
}

.carousel-indicators li {
    background-color: rgba(183, 183, 183, 0.66);

}

.carousel-indicators .active {
    background-color: #545454;
}

.highlight {
    min-width: 40px;
    display: inline-block;
    background-color: #efefef;
    margin: 5px;
    padding: 3px 5px;
}

.total {
         border: 1px solid;
        display: inline-block;
        padding: 0px 20px;
        background-color: #36517a;
        color: #FFF;
        margin-top: 50px;
        margin-bottom: 20px;
     h4 {
        display: inline-block;
    }
}

.status span {
    border: 1px solid #f3f3f3;
    padding: 2px 5px;
    display: inline-block;
    font-size: 12px;
    background-color: #efefef;
    font-weight: 700;
}
.sticking{
  z-index: 999;
}

.account-summery {
    margin-top: 50px;
}
.reach-icon{
    display: none;
    margin: 0 auto;

    &.go {

      display: block;
    }
}
.reach-text{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: $spacegray;
    font-weight: bold;
    a{
        color: $actionblue;
    }
    display: none;

    &.go {
      display: block;
    }
}
.service-heading{
    font-size: 18px;
    color: $tdarkblue;
}
.service-description{
    color: $tdarkblue;
    font-size: 14px;
    
}


.how-to-wrap{
    position: relative;
    height: auto;
    width: 886px;
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    .step-wrapper{
        background-color: $vlblue;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        display: inline-block;
        img{
            margin-top: 60px;
        }
        .step-heading{
            font-size: 18px;
            color: $tdarkblue;
        }
        .step-text{
            font-size: 14px;
            font-weight: bold;
            color: $actionblue;
            padding: 0 49px;
        }
        a{
          color: $actionblue;
        }
    }
    .number-wrapper{
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: #3dc566;
        p{
            line-height: 80px;
            vertical-align: middle;
            font-size: 48px;
            font-weight: 300;
            color: #fff;
        }
        &.one{
            left: 0;
        }
        &.two{
            left: 280px;
        }
        &.three{
            left: 560px;
        }
    }
}

.cms-page-home{
  .coverage-box{
    .ui-helper-hidden-accessible{
      display: none;
    }
  }
  .ui-autocomplete{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 300px;

    li{
      a{
        display: block;
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
        background-color: #fff;
        text-decoration: none;
        color: #000;
        cursor: pointer;
      }
    }
  }
}




.benefits{
    .image{
        background-size: cover;
        height: 280px;
        &:before {
          content: '';
          display: inline-block;
          height: 100%; 
          vertical-align: middle;
          margin-right: -0.25em;
        }

        .wrapper{
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            .benefit-heading{
                color: white;
                font-size: 30px;
                font-weight: 400;
                width: 50%;
                margin: 0 auto;
            }
            .benefit-description{
                color: white;
                font-size: 14px;
                font-weight: 400;
                width: 50%;
                margin: 0 auto;
            }    
        }
        
    }
}
.stainx{
    .circle-wrapper{
        border-radius: 50%;
        height: 200px;
        width: 200px;
        background-color: rgba(0,0,0,0.58);
        position: relative;
        margin: 0 auto;
        &:before {
          content: '';
          display: inline-block;
          height: 100%; 
          vertical-align: middle;
          margin-right: -0.25em;
        }
        .wrapper{
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            .stain-heading{
                font-size: 30px;
                font-weight: 400;
                color: #fff;
                margin-bottom: 0;
                width: 73%;
                margin-left: auto;
                margin-right: auto;
            }
            .stain-description{
                font-size: 14px;
                color: #fff;
                width: 73%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }
}
.prices{
    .offer-wrapper{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background-color: $vlblue;
        margin-top: 40px;
        margin-bottom: 30px;
        &:before {
          content: '';
          display: inline-block;
          height: 100%; 
          vertical-align: middle;
          margin-right: -0.25em;
        }
        .wrapper{
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            .price-heading{
                font-size: 28px;
                font-weight: bold;
                color: $tdarkblue;
                margin-bottom: 0;
                text-align: center;
                text-transform: uppercase;
                width: 85%;
                margin: 0 auto;
            }
            .price{
                font-size: 24px;
                color: $actionblue;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                width: 85%;
                margin: 0 auto;
            }
        }
    }
}
.testimonials{
    .profile-image-wrapper{
        width: 128px;
        height: 128px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 44px;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .testimonial{
        font-size: 14px;
        color: $tdarkblue;
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    .name{
        font-size: 24px;
        color: $tdarkblue;
        text-align: center;
    }
}

.about_us-desc{
  color: $tdarkblue;
}

.laundry-process{
  .row{
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-child{
      padding-bottom: 0px;
    }
  }

  .process-image{
    text-align: center;
  }
  .std{
    padding: 15px;
    color: $tdarkblue;
  }
}

.management{
  .management-image{
    width: 100%;
    text-align: right;
    position: relative;

    img{
      max-width: 100%;
    }

    .ceo{
      position: absolute;
      width: 220px;
      height: 100px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      color: $tdarkblue;
      font-size: 24px;
      text-align: center;
      font-weight: 300;

      .designation{
        font-size: 14px;
        display: block;
        font-weight: bold;
      }

      ul{
        padding: 20px 0 0;
        margin: 0;
        width: 100%;
        list-style: none;

        li{
          display: inline-block;

           a.icon{
            width: 31px;
            height: 31px;
            display: inline-block;

            &.icon-email{
              background-image: url(../images/icon-email.png);
            }
            &.icon-fb{
              background-image: url(../images/icon-fb.png);
            }
            &.icon-in{
              background-image: url(../images/icon-in.png);
            }
          }

        }
      }

    }
  }
  .content{
    padding-top: 40px;
    padding-bottom: 40px;
    color: $tdarkblue;
  }

}
.cms-page-how_it_works{
  .how-it-works-desc{
    max-width: 800px;
    margin: auto;
    color: $tdarkblue;
    h2{
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
  .section-steps{
    color: #1b3572;

    .steps-heading{
      margin: 20px 0 0;
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.faqs{
  ol{
    padding: 0;
    margin: 0;
    list-style: none;

    > li{

      .m-h{
        font-size: 30px;
        font-weight: 300;
      }

      ul{
        padding: 0;
        margin: 0;
        list-style: none;

        li{
          h3{
            font-size: 16px;
            margin: 0;
          }
          .desc{
            color: $light_gray;
          }
        }
      }
    }
  }
}

.help-bucket{
  .col-3{
    .std{
      color: $fbluethree;
      font-weight: 300;
      font-size: 36px;
      line-height: 36px;

      strong{
        font-weight: 900;
      }
    }
    .info{
      font-size: 18px;
      color: $tdarkblue;
      padding-top: 20px;
    }
    .coupon-code{
      background-color: $green_1;
      color: #fff;
      font-size: 24px;
      font-weight: 300;
      padding: 10px 15px;
      display: inline-block;
      margin-top: 10px;
    }
  }

  .col-2{
    img{
      max-width: 100%;

    }
    div{
      background-color: $fbluethree;
      color: #fff;
      font-size: 24px;
      font-weight: 300;
      padding: 10px 15px;
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.cms-page-free-wash{
  .page-banner{

    color:#fff;

    .icon{
      display: inline-block;
      width: 95px;
      height: 95px;
      background: url('../images/parcel-icon.png') no-repeat;
    }

    .s-heading{
      font-size: 18px;
    }
    .promo-code-block{

      max-width: 210px;
      margin: auto;
      padding-top: 15px;

      .block-title{
        font-size: 18px;
      }
      .promo-box{
        width: 100%;
        height: 44px;
        background-color: #fff;
      }

      ul{
        list-style: none;
        margin: 0;
        padding: 0 0;

        li{
          display: inline-block;
          padding: 10px;

          &:first-child{
            padding-left: 0;
          }
          &:last-child{
            padding-right: 0;
          }

          a{
            width: 34px;
            height: 34px;
            display: block;
            background: url('../images/free-wash-s-icons.png') no-repeat;
            background-size: 100%;

            &.tw{
              background-position: 0 -47px;
            }
            &.em{
              background-position: 0 -93px;
            }
            &.cm{
              background-position: 0 -141px;
            }
          }

        }
      }
    }
  }

  .block-form{
    max-width: 365px;
    margin: auto;
  }
}

/*
Login Page
-----------------------------------------------------
*/
.cms-page-user{

  .block-form{
    max-width: 365px;
    margin: auto;

    .sign_up-block{



      ul{
        margin: 0;
        padding: 30px 0 0;
        list-style: none;

        li.sign_up_with{

          margin-top: 15px;

          a{
            padding: 10px 12px;
            width: 100%;
            text-align: center;
            color: #fff;
            display: block;
            text-decoration: none !important;
            line-height: 22px;
          }

          &.normal a{
            background-color: #db6969;
          }
          &.facebook a{
            background-color: #009cff;

            span{
              padding-left: 30px;
              background: url('../images/icon-fb-2.png') no-repeat;
              display: inline-block;

            }
          }

        }
      }

      .sep{
        margin-top: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid $gray;

        span{
          display: inline-block;
          padding: 0 5px;
          background-color: $light_gray_bg;
          color: $gray_label;
          position: relative;
          bottom: -9px;
        }
      }



    }
  }
}

/*
Product Page
-----------------------------------------------------
*/
.cms-page-product-items{
   .page-main-title{
     .heading{
       margin-bottom: 30px;
     }
   }

  .block-categories
  {
    padding-left: 50px;
    padding-right: 50px;

    .category-item
    {
      cursor: pointer;
      outline: none;

      &:hover
      {
        .category-icon
        {
          opacity: 0.5;
        }
      }

      .n{
        display: inline-block;
      }
      .a{
        display: none;
      }

      &.active
      {
        .n{
          display: none;
        }
        .a{
          display: inline-block;
        }
      }

    }


    .slick-slide{
      text-align: center;

      .category-icon{
        width: 100%;
        display: block;
        img{
          width: 55px;
        }

      }
    }

  }
  .product-container{


    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .product-item{
      padding-top: 15px;
      padding-bottom: 15px;
      height: 330px;

      .product-image{
        width: 100%;
        height: 300px;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
      }

      .product-price{
        position: absolute;
        top: 20px;
        right: 20px;
        text-align: right;
        font-size: 30px;
        color: #3e4d71;
        text-shadow: 1px 1px #fff;
      }
      .product-content{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #3e4d71;
        padding: 10px 15px;
        color: #fff;

        padding-right: 130px;

        h2{
          margin: 0;
          font-size: 30px;
          font-weight: 300;
        }
        h3{
          margin: 0;
          font-size: 20px;
          font-weight: 300;
        }
      }


      .product-cart-block{
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 40px;
      }
      .product-cart{
        position: relative;
        padding: 0 10px;
        width: 120px;

        .cart-remove{
          left: 0;
          span{
            padding-bottom: 4px;
          }
        }
        .cart-add{
          right: 0;
        }
        .cart-remove,
        .cart-add{
          width: 40px;
          height: 40px;
          background-color: #fff;
          border-radius: 50%;
          color: #6c6c6c;
          position: absolute;
          top: 0;
          cursor: pointer;

          &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }

          span{
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            font-size: 36px;
            line-height: 36px;
            font-weight: 300;
          }
        }

        .cart-number{
          text-transform: uppercase;
          background-color: #00bfff;
          color: #fff;
          padding: 10px 20px;
          font-size: 14px;
          border-radius: 20px;
          width: 100px;
          display: block;

        }
      }
    }
  }

  .cart-order-items{
    text-align: right;
    padding: 15px;
    line-height: 1.4;
    font-size: 18px;
    color: #67696a;
  }
}

.cms-page-cart{
  .cart{
    .page-main-title{
      position: relative;
      padding-bottom: 20px;
    }
    .action-btn-add-items{
      position: absolute;
      right: 0;
      top: 0;
    }

    form{
      margin-bottom: 0;
    }
  }

  .cart-table{
    margin-bottom: 0;

    td{
      vertical-align: middle;
      padding: 10px;
    }
    .td-image{
      width: 100px;
    }
    .td-price{
      text-align: center;
      width: 200px;
    }
    .td-qty,.td-delete{
      text-align: center;
      width: 150px;
    }

    .input-qty{
      text-align: center;
    }

    tfoot{
      border-top: 1px solid #ddd;

      td{
        border: none;
      }

      .tr-promo{
        background-color: #d3d8da;

        td{
          padding-top: 25px;
          padding-bottom: 25px;
        }
      }
      .tr-white{
        background-color: #fff;
      }


      .coupon_code{
        width: 100px;
        border: none;
        padding: 10px;
      }


    }

    .td-estimated-bill{
      font-size: 18px;
    }
  }

  .btn-cart-item-remove{
    width: 22px;
    height: 22px;
    background: url(../images/icon-close.png) no-repeat;
    display: inline-block;
  }

  .section-proceed{
    h3{
      font-size: 16px;
      position: relative;
      padding: 4px 0 0 41px;
      height: 29px;

      i{
        position: absolute;
        width: 29px;
        height: 29px;
        background: url(../images/icon-info.png) no-repeat;
        left: 0;
        top: 0;
      }
    }
  }
}


.primary-address-selector{
  margin: 0;
  padding: 40px 0 0;
  list-style: none;

  li{
    float: left;
    text-align: center;
    width: 33.333333333%;
    padding: 0 2px;
    a{
      display: block;
      color: #000;
      background-color: #ffffff;
      padding: 20px;

      &.active,
      &:hover{
        text-decoration: none;
        background-color: #f0f0f1;
      }

      .icon{
        width: 32px;
        height: 32px;
        margin: auto;
        margin-bottom: 10px;

        &.address-home{
          background: url(../images/icon-address-home.png) no-repeat;
        }
        &.address-office{
          background: url(../images/icon-address-office.png) no-repeat;
        }
        &.address-other{
          background: url(../images/icon-address-other.png) no-repeat;
        }
      }

    }
  }
}

.register_step_3{

  .mw-375{
    max-width: 375px;
  }

  .map-holder{
    width: 100%;
    height: 370px;
  }
}

.cms-page-cart-select-address
{
  .block-address-selector
  {
    max-width: 370px;
    width: 100%;
    margin: auto;
  }

  .primary-address-selector{
    padding-top: 10px;
    li{
      a{
        &.active,
        &:hover{
          text-decoration: none;
          background-color: #00bfff;
          color:#fff;

          .icon{
            &.address-home{
              background: url(../images/icon-address-home-active.png) no-repeat;
            }
            &.address-office{
              background: url(../images/icon-address-office-active.png) no-repeat;
            }
            &.address-other{
              background: url(../images/icon-address-other-active.png) no-repeat;
            }
          }
        }
      }
    }
  }

  .block-service_method{

    max-width: 370px;
    width: 100%;
    margin: auto;

    .icon-regular{
      margin-left: 10px;
      padding-left: 50px;
      height: 29px;
      display: inline-block;
      background: url(../images/service-method-regular.png) no-repeat;
    }

    .icon-priority{
      margin-left: 10px;
      padding-left: 50px;
      height: 29px;
      display: inline-block;
      background: url(../images/service-method-priority.png) no-repeat;
    }
  }

}

.section-collection-delivery{

  width: 100%;

  .section-collection{
    background-color: #d7d8d9;
  }
  .section-delivery{
    background-color: #c1c2c3;
  }

  .icon{
    width: 44px;
    height: 44px;
    display: inline-block;

    &.icon-clock-gray{
      background: url(../images/icon-clock-gray.png) no-repeat;
    }
    &.icon-clock-white{
      background: url(../images/icon-clock-white.png) no-repeat;
    }
  }

  .date-selector-holder{


      max-width: 900px;
      width: 100%;
      margin: auto;
      padding-left: 50px;
      padding-right: 50px;

    .date-time-slot-holder{
      background-color: #fff;
      padding: 20px;
    }

    .date-selector{
      padding-bottom: 15px;

      .slick-slide{
        text-align: center;outline: none;
      }

      .slick-arrow{
        width: 50px;
        height: 50px;
        background: #ebebeb url(../images/slick_arr-2.png);

        &.slick-prev{
          left: -70px;
        }
        &.slick-next{
          right: -70px;
          background-position: 100% 0;
        }
      }


      .item-circle{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-color: #c5c3c3;
        color: #fff;
        display: inline-block;
        padding: 10px;
        cursor: pointer;

        &:hover{
          background-color: #a7a6a6;
        }
        &.disabled{
          cursor: default;
          opacity: 0.5;

          &:hover{
            background-color: #c5c3c3;
          }
        }

        .d,._d,._m{
          display: block;
          width: 100%;
          font-size: 14px;
          line-height: 14px;
        }

        ._d{
          font-size: 24px;
          line-height: 24px;
        }

      }

    }


    .time-selector{

      .tab-time{
        display: none;
      }

      .time-slot{
        float: left;
        padding: 10px;
        width: 33.333333%;

        .slot{
          border-radius: 15px;
          overflow: hidden;
          background-color: #e2e2e2;
          width: 100%;
          font-size: 16px;
          cursor: pointer;

          .t{
            padding: 10px;
            float: left;
          }
          .a{
            padding: 10px;
            float: right;
            background-color: #c3c3c3;
          }

          &:hover{
            background-color: #d6d6d6;
          }
        }


      }
    }

    &.date-collection-selector-holder{
      .item-circle{
        &.active-date{
          background-color: #00bfff;
        }
      }

      .slot{
        &.active{
          color:#fff;
          background-color: #535454 !important;
          .a{
            background-color: #00bfff;
          }
        }
      }


    }
    &.date-delivery-selector-holder{
      .item-circle{
        &.active-date{
          background-color: $green_2;
        }
      }

      .slot{
        &.active{
          color:#fff;
          background-color: #535454 !important;
          .a{
            background-color: $green_2;
          }
        }
      }

    }


  }

  .section-action{
    .container{
      max-width: 900px;
    }
  }
}
.cms-page-cart-review{

  .section-action{
     .container{
       max-width: 600px;
     }
   }

  .summary-table{
    a{
      text-decoration: none;
      color: #000000;

      &:hover{
        color: #00bfff;
      }
    }

    .col{
      border: 1px solid #ccc;
      height: 180px;
      padding: 15px;
    }
  }
}

.cms-page-user{

    .section-main{
      display: table;
      width: 100%;
      padding: 0;

      .col-left{
        width: 280px;
        display: table-cell;
        vertical-align: top;

        .list-group-item{
          border: none;
          border-bottom: 1px solid #fff;
          padding: 0px;
          margin: 0;

          a{
            display: block;
            background: #e9e8e8;
            padding: 15px 25px;
            height: 70px;
            color: #1079ba;
            font-size: 16px;

            .badge {
              float: right;
              padding: 7px 7px;
              border-radius: 15px;
            }
            .lbl{
              padding-right: 56px;
              display: block;
            }

            &.active,
            &:hover{
              text-decoration: none;
              background-color: #f4f1f1;
            }
          }
        }

        .list-member{
          a{
            background: #4295c9;
            color: #fff;
            font-size: 24px;
            line-height: 24px;

            &.active,
            &:hover{
              text-decoration: none;
              background-color: #2d8ac4;
            }
          }
        }


        .list-scheduled_pickups{
          a{
            padding-left: 89px;
            background:#e9e8e8 url(../images/dashboard/icon-pickup.png) 20px 50% no-repeat;
          }
        }
        .list-scheduled_deliveries{
          a{
            padding-left: 89px;
            background:#e9e8e8 url(../images/dashboard/icon-delivery.png) 20px 50% no-repeat;
          }
        }
        .list-cancelled_orders{
          a{
            padding-left: 89px;
            background:#e9e8e8 url(../images/dashboard/icon-cancelled.png) 20px 50% no-repeat;
          }
        }
        .list-completed_orders{
          a{
            padding-left: 89px;
            background:#e9e8e8 url(../images/dashboard/icon-completed.png) 20px 50% no-repeat;
          }
        }


      }
      .col-right{
        vertical-align: top;
        display: table-cell;
      }

    }


}

.orders-panel-group{
  .panel{
    border: none;
    box-shadow:none;
    border-radius: 0;

    .circle{
      float: right;
      border-radius: 15px;
      background-color: #33ccff;
      color: #000;
      width: 30px;
      height: 30px;
      text-align: center;
      position: relative;
      text-decoration: none !important;
      top: -5px;

      &:before{
        content: "\f068";
        position: absolute;
        top: 9px;
        left: 10px;
        font-size: 14px;
      }

      &.collapsed{
        &:before{
          content: "\f067";
        }
      }
    }
  }

  .panel-heading{
    border-radius: 0;
    padding: 20px 15px;
    background-color: #e1e3e4;
  }
  .panel-title{
    font-size: 18px;
  }

  .panel-body{

    padding-top: 0;
    padding-bottom: 0;

    .panel-body-heading{
      padding-top: 15px;
      padding-bottom: 15px;
      float: left;width: 100%;
    }

    .panel-body-services{
      float: left;width: 100%;
      padding: 15px;

      table{
        max-width: 900px;
        width: 100%;
      }
    }


    .ul-action{
      margin: 0;
      float: right;
      list-style: none;

      li{
        float: left;
        a{
          position: relative;
          padding-left: 30px;
          margin-right: 20px;
        }

      }
    }

    .icon-hourglass{

      i{
        position: absolute;
        left: 0;
        width: 22px;
        height: 22px;
        background: url(../images/dashboard/icon-hourglass.png) no-repeat;
      }
    }
    .icon-cancel{
      i{
        position: absolute;
        left: 0;
        width: 22px;
        height: 22px;
        background: url(../images/dashboard/icon-order-cancel.png) no-repeat;
      }
    }
  }

}

.container-progress{
  max-width: 470px;
  width: 100%;
  margin: auto;
  padding: 30px 0;
  text-align: center;

  h2{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .order-progress{
    margin: auto;
    width: 233px;
    height: 233px;
    position: relative;
    color: #525252;
    font-size: 20px;
    text-align: center;

    &.stage-2{
      background: url(../images/dashboard/p-1.png) no-repeat;
      background-size: cover;
      .lbl{
        position: absolute;
        bottom: 46px;
        width: 50%;
        margin: auto;
        left: 0;
        right: 0;

      }
    }

    &.stage-3{
      background: url(../images/dashboard/p-2.png) no-repeat;
      background-size: cover;

      .lbl{
        position: absolute;
        top: 100px;
        width: 50%;
        margin: auto;
        left: 0;
        right: 0;

        span{
          display: block;
          color: #00bfff;
          font-size: 14px;
        }

      }
    }
  }
  .message{
    font-size: 20px;
    color: #525252;
  }

  .pickup-delivery{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;

    h3{
      margin:0 0 20px 0;
    }
    .col-l,
    .col-r{
      width: 50%;
      float: left;
      padding: 20px;

      .time{
        padding-left: 40px;
        width: 168px;
        margin: auto;

        span{
          font-size: 30px;
          display: block;
        }
      }
    }
    .col-l{
      background-color: #fff;
      .time{
        color: #525252;
        background: url(../images/dashboard/icon-right.png) no-repeat;
      }
    }
    .col-r{
      background-color: #e0e1e2;
      .time{
        background: url(../images/dashboard/icon-clock.png) no-repeat;
      }
    }

    .action{
      width: 100%;
      float: left;
      padding: 15px;
      text-align: center;
      background-color: #fff;
    }

  }
}

.cms-page-coverage
{
  .coverage-container
  {
    background: url(../images/coverage-bg.jpg) no-repeat 50% 100%;
    background-size: cover;
    height: 600px;

    .box{
      width: 100%;
      max-width: 430px;
      margin: auto;
      padding: 150px 0;
      text-align: center;
      color: #fff;

      h2{
        font-weight: 300;
        margin: 0;

      }
      h3{
        font-weight: 300;
      }
    }
    #frm_coverage{
      width: 100%;

      .inputBox{
        width: 250px;
        float: left;
      }
      .btn{
        border-radius: 0;
        text-transform: uppercase;
        color: #fff;
        float: left;height: 40px;
        width: 180px;
      }
    }

    #frm_not-coverage{
      width: 100%;

      .inputBox{
        width: 100%;
        float: left;
        margin-bottom: 2px;
      }
      .btn{
        border-radius: 0;
        text-transform: uppercase;
        color: #fff;
        float: left;height: 40px;
        width: 100%;
      }

      label.error{
        font-size: 13px;
        color: red;
        float: left;
      }
    }




    .suggestion-ul{
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        display: inline-block;

        a{
          color: #fff;
          padding: 5px 10px;
        }
      }
    }

  }
}

.carousel-control {
    background-image: none !important;
    vertical-align: middle;
    height: 100%;
    display: block;
    top: 0;
    bottom:0;
    width: 30px;

    i {

       vertical-align: middle;
      display: table-cell;
      height: 100%;
      padding-top: 45px;
    }
}

.date {
    margin: 10px 0;
    color: #FFF;
    font-weight: 800;
}

// .owl-carousel{
//     width: 100%;
//   .owl-stage , .owl-stage-outer {
//     width: 100% !important;
//   }
// }


.slick-arrow {z-index: 99}

.no-link { 

    &:hover {
      text-decoration: none !important;
    }
}

.section-commercial-carousel{

  .item{
    padding-left: 40px;
    padding-right: 40px;
  }
}

.mfp-close {
  background: url(../images/x.png) no-repeat !important;
  width: 25px;
  height: 29px;
  display: block;
  z-index: 3200;
  position: absolute;
  top: 29px;
  right: -12px;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  text-align: left;
  opacity: 1;
}

.mfp-iframe-holder {
  .mfp-close {
    top: -11px;
  }
}


.platform-holder {

  .round {
    margin-bottom: 20px;

    img.reach-icon {

      border: 0 solid;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
      outline: 3px solid #FFFFFF;
      outline-color: rgba(255, 255, 255, 0.5);
      outline-offset: 0px;
      text-shadow: none;
      -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      border-radius: 50%;
      background-color: rgba(255,255,255,0.3);

      padding: 5px;

      &:hover {
        border: 3px solid #FFFFFF;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;

      }
    }
  }
}


