footer .navbar{
    background-color: $fblueone;
    color: #fff;
    .footer-top{
        display: table;
        ul{
            li .footer-main{
                color: #fff;
                font-size: 14px;
                text-align: center;
            }
        } 
    }
    .footer-middle{
        margin-bottom: 80px;
        .footer-heading{
            font-weight: 300;
            font-size: 18px;
        }
        .footer-links{
            
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                margin: 0;
                padding: 0;
                a{
                    color: #fff;
                }
            }
        }
    }
    .footer-bottom{
        background-color: $fbluetwo;
        p.top{
            margin-top: 40px;
            font-weight: 300;
            span{
                margin: 0 10px;
            }
        }
        .copy{
            margin-bottom: 20px;
        }
        .logo.footer{
            margin-bottom: 20px;
        }
    }
    ul.footer-bot{
        display: inline-block;
        li{
            float: left;
            a{
                color: #fff;
                font-size: 14px;
                font-weight: 300;
                &:hover{
                    color: $actionblue;
                }
            }
        }
    }
    
}