.button{
    display: inline-block;
    width: auto;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 32px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    &[disabled]{
      opacity: 0.5;
    }

    &.play{
        background-image: url("../images/play.png");
        background-repeat: no-repeat;
        background-position: right center;
        padding: 10px 64px 10px 32px;
        float: left;
        text-decoration: none !important;

      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      transition: all 0.1s ease;

      &:hover{
        color: #fff;
        background-position: 98% center;
      }
    }

    &:hover{
        text-decoration: none;
    }
    &--light{
        background-color: $actionblue;
    }
    &--light:hover{
        background-color: $actionblue_hover;
        color: white;
    }
    &--dark{
        background-color: $buttonblue;
    }
    &-gray{
      background-color: #a9a9a9;
    }
    &-dark-gray{
      background-color: #7c7d7d;
    }
    &-green_2{
      background-color: $green_2;
    }

    &.btn-add-items{
      position: relative;
      i{
        width: 26px;
        height: 26px;
        background: url(../images/icon-plus.png) no-repeat;
        position: absolute;
        left: 7px;
        top: 7px;;
      }
      span{
        padding-left: 20px;
      }
    }
}
button.learn-more{
    width: auto;
    margin-top: 2px;
    display: inline-block;
}

.input-group.check{
    margin-top: 20px;
    margin-bottom: 20px;
    input.check-textbox{
        height: 52px;
        border: none;
        outline: none;
        border-radius: 0;
        font-size: 16px;
        color: $darkgray;
    }
    button.check-button{
        height: 52px;
        border: none;
        outline: none;
        border-radius: 0;
        padding: 10px 32px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        background-color: $actionblue;
    }
}

label{
  font-weight: normal;
  color: $gray_label;
  font-size: 16px;
}
.form-control{
  border-radius: 0;
  border: none;
  height: 40px;
  color: #000;
}
.btn-fw{
  width: 100%;
  color: #fff;
  height: 40px;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 18px;
}

span{
  &.validation-advice{
    font-size: 12px;
    color: #c12e2a;
  }
  &.help-block{
    color: #00bfff;
  }
}