.promotor-block {
  position: relative;
  height: 80px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;

  &.promotor-closed {
    height: 0;
  }

  .close-promotor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 36px;
    line-height: 80px;
    text-align: center;
    font-size: 1.5rem;
    color: #424e4e;
  }


  .brand-info {
    position: absolute;
    top: 0;
    left: 36px;
    right: 0;
    height: 100%;
  }

  .brand-image {
    display: inline-block;
    line-height: 82px;

    &>img {
      vertical-align: middle;
    }
  }

  .app-descr {
    display: inline-block;
    line-height: 20px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .brand-text {
    margin-right: 5px;
    color: #707676;
    font-weight: 700;
    font-size: 20px;
    display: block;
  }
  .brand-download-info {
    color: #707676;
    display: block;
    line-height: 20px;
    height: 40px;
    vertical-align: middle;
  }



}

#top-bar {
    width: 100%;
    height: 50px;
    background-color: $darkblue;
    text-align: center;
    position: relative;
    top: 0px;

    .claim-container {
        width: auto;
        display: inline-block;
        p {
            font-size: 14px;
            color: white;
            margin: 0;
            line-height: 50px;
            vertical-align: middle;
            width: auto;
            display: inline-block;
        }
        button.claim {
            display: inline;
            width: auto;
            height: 36px;
            border: none;
            outline: none;
            border-radius: 18px;
            padding: 0 32px;
            margin-left: 20px;
            color: white;
            background-color: $actionblue;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .quick-links{
      position: absolute;
      top: 0;
      right: 242px;
      height: inherit;
      margin: 0;
      list-style: none;
      transition: all 0.5s ease;

      li{
        float: left;
        margin: 12px 20px 0 0;
        a{
          width: 24px;
          height: 23px;
          display: block;
          background: url(../images/h-icons.png) no-repeat;
          text-indent: -999px;
          overflow: hidden;
        }
      }

      .li-nav-logoin{
        a{
          background-position: 0 0;
        }
      }

      .li-nav-logout{
        a{
          background-position: -87px 0;
        }
      }
      .li-nav-cart{
        position: relative;
        a{
          background-position: -43px 0;
        }

        .badge{
          position: absolute;
          top: -6px;
          right: -12px;
          background-color: #fff;
          color: $actionblue;
          display: block;

          &.a{
            color: #fff;
          }
        }


      }
    }
    .contact-container {
        position: absolute;
        top: 0;
        right: 0;
        height: inherit;
        width: auto;
        padding: 0 32px;
        background-color: $gray;
        color: $darkgray;
        h4 {
            font-size: 14px;
            font-weight: bold;
            line-height: 50px;
            vertical-align: middle;
            margin: 0;
            text-transform: uppercase;
            display: inline-block;
        }
        .icons {
            float: right;
            margin: 0 0 0 10px;
            .icon {
                width: 26px;
                height: 26px;
                margin: 12px 4px;
                background-size: 100%;
                float: left;
                &--facebook {
                    background-image: url("../images/social/fb-header.png");
                }
                &--twitter {
                    background-image: url("../images/social/tw-header.png");
                }
                &--instagram {
                    background-image: url("../images/social/in-header.png");
                }
            }
        }
    }
}

.navbar {
    min-height: 110px;
    background-color: #fff;
    margin-bottom: 0;
    border-radius: 0;
    border: none;

    .nav.navbar-nav {
        li {
            a.header-link {
                color: black;
                font-size: 16px;
                padding-top: 45px;
                padding-bottom: 45px;
                &:hover {
                    color: $actionblue;
                }
            }
        }
    }
    .navbar-toggle.collapsed {
        background-color: $gray;
    }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $actionblue !important;
  background-color: transparent;
}