.play-video {
    width: 100%;
    height: auto;
    background-color: $skyblue;
    position: relative;
    text-align: center;
    //max-height: 100vh;
    .play-video-text {
        color: $tdarkblue;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: left;
        span {
            font-weight: bold;
        }
    }
    .two-phone {
        margin-bottom: -10px;
        margin-top: -100px;
    }
    .play-wrap {
        margin-top: 64px;
    }
}

.play-video:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

section {
    &.section{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &.s-t-b-60{
      padding-top: 60px;
      padding-bottom: 60px;
    }
   &.padding-bottom-0{
    padding-bottom: 0px;
  }

    &.--light-blue{
      background-color: $actionblue;
    }
    &.--light-gray{
      background-color: $light_gray_bg;
    }
    &.--light-dark-gray{
      background-color: #dfe0e2;
    }
    .heading {
        color: $tdarkblue;
        font-size: 30px;
        font-weight: 300;
        margin-top: 0;
    }
    .page-main-title{
        .heading {
          font-size: 36px;
        }
      .heading-2 {
        margin-top: 0;
        font-size: 30px;
      }
      .heading-3 {
        margin-top: 0;
        font-size: 24px;
        font-weight: 300;
      }
      .subhead{
        font-size: 18px;
      }
    }
    .title {
        color: $tdarkblue;
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    .description {
        color: $tdarkblue;
        width: 75%;
    }
    &.reach-us {
        padding-top: 64px;
        padding-bottom: 64px;
        .center {
            display: inline-block;
        }
    }
    &.service {
        background-color: #eeeeee;
        padding-top: 64px;
        padding-bottom: 64px;
        -moz-box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.15), inset 0 -4px 4px -4px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.15), inset 0 -4px 4px -4px rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.15), inset 0 -4px 4px -4px rgba(0, 0, 0, 0.15);
    }
    &.how-it-works {
        padding-top: 64px;
        .phone {
            margin-top: -30px;
        }
    }
    &.stainx {
        padding: 96px 0;
        background-size: cover;
        position: relative;
        background-attachment: fixed;
    }
    &.are-we-up {
        padding: 40px 0;
        background-image: url("../images/building.jpg");
        background-size: cover;
        position: relative;
        .are-we-up-heading {
            font-size: 36px;
            color: #fff;
        }
        .are-we-up-description {
            font-size: 14px;
            color: #fff;
        }
    }
    .googleMap {
      width: 100%;
      height: 400px;
    }
    &.map {

    }
    &.prices {
        padding-top: 64px;
        padding-bottom: 64px;
        .subhead {
            color: $actionblue;
            font-size: 14px;
        }
    }
    &.news {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $actionblue;
        .news-head,
        .newsdate {
            margin-top: 10px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 300;
            font-size: 30px;
            text-align: right;
            line-height: 1;
        }
        .news-title {
            font-size: 18px;
            color: #fff;
        }
        p.news {
               font-size: 14px;
              width: 90%;
              color: #fff;
              margin: auto;
        }
    }
    &.testimonials {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &.page-content-section{

    }

  &.cleaned-over{
    .row-dry-cleaning{
      font-size: 16px;
      color: $tdarkblue;

      .l,
      .r{
        width: 250px;
        padding-top: 40px;
        padding-bottom: 20px;
      }
      .l{
        float:right;
      }
      .r{
        float:left;
      }
      span{
        font-size: 30px;
        font-weight: 900;
      }
    }

    .ul-dry-cleaning{
      list-style: none;
      margin: 0;
      padding: 0;


      li{
        display: inline-block;
        padding: 20px 25px 0px 25px;
      }
    }

  }

  &.our-passion{
    text-align: center;
    color: $tdarkblue;

    .subhead{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .row-our-passion{
      font-size: 16px;

      .col{

        padding-top: 20px;

        span{
          display: block;
          font-size: 30px;
          font-weight: 900;
        }
      }
    }
  }

  &.management{
    padding-bottom: 0;
  }

  &.section-contact-form{

    .page-title{
      text-align: center;
      background: url(../images/hr_1.png) 50% 100% no-repeat;
      margin-bottom: 40px;
      float: left;
      width: 100%;
      h1{
        font-size: 40px;
        color: $darkblue;
        font-weight: 300;
        margin-bottom: 20px;
      }
    }

    .form-container{
      max-width: 420px;
      margin: auto;

      .l-p-2{
        padding-left: 2px;
      }
      .r-p-2{
        padding-right: 2px;
      }

    }
  }

  &.section-address
  {
    font-size: 18px;
    text-align: center;
    address{
      margin-bottom: 0;
    }

    span{
      color: #ababab;
      padding-right: 10px;
    }
    a{
      color: #333;
    }
  }

}

.section-contact-map{
  height: 480px;
}
