$darkblue : #36517a;
$actionblue   : #00bfff;
$actionblue_hover   : #4ccffb;

$tdarkblue : #1b3572;

$light_gray_bg : #f0f0f1;
$light_gray : #909090;
$gray : #d9d9d9;
$darkgray : #313131;
$gray_label : #999999;

$skyblue : #8cd8f2;
$buttonblue : #1260b8;
$spacegray : #535353;
$vlblue : #dbf3fd;
$fblueone : #354d6b;
$fbluetwo : #273d57;
$fbluethree : #2083bc;

$green_1 : #58ae4e;

$green_2 : #92c16b;

$bounce-color: #ffffff;
