.text-center {
    text-align: center
}

.multiple-date-picker {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border : 1px solid rgba(2, 1, 2, 0.23);
}



.multiple-date-picker,
.picker-days-row,
.picker-days-week-row,
.picker-top-row {
    width: 100%
}

.picker-top-row>div {
    display: inline-block
}

.picker-navigate {
    width: 16.66%
}

.picker-navigate:hover {
    cursor: pointer
}

.picker-navigate.disabled,
.picker-navigate.disabled:hover {
    color: #ddd;
    cursor: default
}

.picker-month {
    width: 66.66%
}

.picker-days-row>div,
.picker-days-week-row>div {
    width: 14.28%;

    display: inline-block
}

.picker-day,
.picker-top-row {
    padding: 10px 0
}

.picker-day {
    margin-bottom: 1px;
    background-color: #fff;
    //border: 1px solid #ddd;
    box-sizing: border-box;
    color: #000
}

.picker-day.today,
.picker-day.today.picker-off,
.picker-day.today.picker-off:hover,
.picker-day.today.picker-selected,
.picker-day.today:hover {
    color: #00a3ff
}

.picker-day:not(.picker-off):not(.picker-empty):hover {
    background-color: #ffd613;
    color: #fff;
    cursor: pointer
}

.picker-day.picker-selected {
    background-color: #ffd613;
    color: #fff
}

.picker-day.picker-off,
.picker-day.picker-off:hover {
    background-color: #eee;
    color: #cccccc;
    cursor: default
}

.picker-day.picker-empty,
.picker-day.picker-empty:hover {
    background-color: #fafafa;
    cursor: default
}

.picker-day.settle:not(.picker-selected){
    background-color: #00ffa2;
    color: #fff;
}

/*if my holiday isn't clickable (it's the case in the demo)*/
.picker-day.settle.picker-off{
    background-color: #00a267;
    color: #fff;
    cursor: default;
}

.picker-day.holiday.picker-off{
    background-image: url("holiday.png");
    background-repeat:no-repeat;
    background-position: right top;
    background-size: 20px 20px;
    cursor: default;
}

.picker-day.holiday:not(.picker-selected){

}

.picker-day.blackout:not(.picker-selected){
    background-color: rgba(0, 0, 0, 0.78);

    cursor: default;
}

.picker-day.blackout.picker-off{

}

.picker-day.blackout-holiday.picker-off{
    background-color: #ff6500;
    color: #fff;
    cursor: default;
}

.picker-day.blackout-holiday:not(.picker-selected){
    background-color: #ff9100;
    color: #fff;
}

.time-slot-remove-btn{
    float:right;
    cursor: pointer;
    font-size:20px !important;
    color: #de373b;
}

.bg-yellow-shine-ok{
    background-color: #f9d76a !important;
    color:#0c0c0c;
}
